<div class="dashboard-link">
  <ul class="">
    <li class="active"><%= link_to "プロフィールの編集", edit_user_registration_path %></li>
    <li class=""><%= link_to "認証",  certification_path %></li>

    <li class=""><%= link_to "支払い方法",  payment_method_path %></li>


  </ul>
</div>



      <% if current_user.fullname.nil? || current_user.nickname.nil? || current_user.address_zipcode.nil? || current_user.address_prefecture_name.nil? || current_user.description.nil?  %>
        <div class="registration-alert b-light-red">
         <p>プロフィールの登録が完了していません</p>
        </div>
      <% else %>
        <div class="registration-alert b-light-green">
         <p>プロフィール登録済み</p>
        </div>
      <% end %>





<div class="row">

  <div class=" text-center">
    <div class="panel panel-default">

      <h3>
        <b>
          プロフィール
          <% if !current_user.fullname.nil? && !current_user.nickname.nil? && !current_user.address_zipcode.nil? && !current_user.address_prefecture_name.nil? %>
            <span class="blue"><i class="fa fa-check"></i></span>


          <% end %>
        </b>
      </h3>

      <%= link_to "プロフィールを見る", user_path(current_user.id) %>

      <div class="container">


        <div class="form_box edit-image" id="">
            <p>
              <b>プロフィール画像</b><br>
              ※顔が分かる正方形の写真を登録してください、会員にのみ表示されます
            </p>
            <p class="text-left">
              <%= image_tag current_user.image.url(:square) , class: "avatar-large" %>
            </p>

            <%= form_for current_user, url: update_image_user_path(current_user) do |f| %>

                <div class="form-group image-select text-left" >
                 <p class="btn btn-default btn-file ">
                   <i class="fa fa-cloud-upload" aria-hidden="true"></i>画像を選択
                   <%= f.file_field :image  %>
                 </p>
                </div>

                <div class="text-left">
                  <%= f.submit "変更する", class: "btn-sm white b-gray" %>
                </div>

            <% end %>

        </div>





      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

        <%= render 'shared/devisemes' %>

        <div class="form_box">
          <p>
            <b>氏名</b><br>
            ※本名を登録してください、会員にのみ表示されます
          </p>
          <div class="form-group">
            <%= f.text_field :fullname, autofocus: true, placeholder: "湘南太郎", class: "form-control" %>
          </div>
        </div>

        <div class="form_box">
          <p>
            <b>ニックネーム</b><br>
            ※一般のユーザーに表示されます
          </p>
          <div class="form-group">
            <%= f.text_field :nickname, autofocus: true, placeholder: "タロウ", class: "form-control" %>
          </div>
        </div>



        <div class="form_box">
          <p><b>メールアドレス</b></p>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, placeholder: "sample@gmail.com", class: "form-control" %>
          </div>
        </div>

        <div class="form_box">
          <p><b>住所</b></p>
          <div class="form-group">
            <%= f.text_field :address_zipcode, autofocus: true, placeholder: "郵便番号", class: "form-control", id: "address_zipcode" %>
          </div>
          <div class="form-group">
            <%= f.text_field :address_prefecture_name, autofocus: true, placeholder: "都道府県", class: "form-control", id:"address_prefecture_name" %>
          </div>
          <div class="form-group">
            <%= f.text_field :address_city, autofocus: true, placeholder: "市区町村", class: "form-control", id:"address_city" %>
          </div>
          <div class="form-group">
            <%= f.text_field :address_street, autofocus: true, placeholder: "番地", class: "form-control", id: "address_street" %>
          </div>
          <div class="form-group">
            <%= f.text_field :address_building, autofocus: true, placeholder: "建物(任意)", class: "form-control" %>
          </div>


        </div>

        <script type="text/javascript">
          $(window).ready( function() {
           $('#address_zipcode').jpostal({
             postcode : [
               '#address_zipcode'
             ],
             address : {
               '#address_prefecture_name'  : '%3',
               '#address_city'  : '%4%5',
               '#address_street'  : '%6%7',
             }
           });
         });
        </script>

        <div class="form_box">
          <p><b>自己紹介</b></p>
          <div class="form-group">
            <%= f.text_area :description, rows: 5, cols: 25, autofocus: true, placeholder: "藤沢市辻堂在住で、サーフィン大好きです。宜しくお願い致します。", class: "form-control" %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><p>こちらのメールアドレスはまだ認証が完了していません、送付したメールのリンク先から完了してください:<%= resource.unconfirmed_email %></p></div>
        <% end %>

        <div class="form_box">
          <p>新しいパスワード(変更しない場合は記入不要)</p>
          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", placeholder: "", class: "form-control" %>
          </div>
        </div>

        <div class="form_box">
          <p>新しいパスワードを再入力</p>
          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "", class: "form-control" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "更新する", class: "btn btn-form" %>
        </div>

      <% end %>
      </div>



    </div>
  </div>

</div>
