<div class="dashboard-link">
  <ul class="">
    <li class=""><%= link_to "プロフィールの編集", edit_user_registration_path %></li>
    <li class=""><%= link_to "電話番号の認証", edit_user_registration_path %></li>
    <li class=""><%= link_to "プロフィールを見る", user_path(current_user.id) %></li>
  </ul>
</div>

<div class="row">

  <div class=" text-center">
    <div class="panel panel-default">

      <h3>プロフィールの編集</h3>
      <div class="container">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

        <%= render 'shared/devisemes' %>

        <div class="form_box">
          <p>
            氏名<br>
            ※本名を登録してください、会員にのみ表示されます
          </p>
          <div class="form-group">
            <%= f.text_field :fullname, autofocus: true, placeholder: "湘南太郎", class: "form-control" %>
          </div>
        </div>

        <div class="form_box">
          <p>
            ニックネーム<br>
            ※一般のユーザーに表示されます
          </p>
          <div class="form-group">
            <%= f.text_field :nickname, autofocus: true, placeholder: "タロウ", class: "form-control" %>
          </div>
        </div>

        <div class="form_box">
          <p>
            プロフィール画像<br>
            ※顔が分かる写真を登録してください、会員にのみ表示されます
          </p>

          <div class="form-group" id="photos-select">
            <span>
              <%= image_tag current_user.image.url() , class: "avatar-large" %>
            </span>
            <span class="btn btn-default btn-file">
              <i class="fa fa-cloud-upload" aria-hidden="true"></i>画像を選択
              <%= f.file_field :image  %>
            </span>
          </div>
        </div>

        <div class="form_box">
          <p>メールアドレス</p>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, placeholder: "sample@gmail.com", class: "form-control" %>
          </div>
        </div>

        <div class="form_box">
          <p>住所</p>
          <div class="form-group">
            <%= f.text_field :address_zipcode, autofocus: true, placeholder: "郵便番号", class: "form-control", id: "address_zipcode" %>
          </div>
          <div class="form-group">
            <%= f.text_field :address_prefecture_name, autofocus: true, placeholder: "都道府県", class: "form-control", id:"address_prefecture_name" %>
          </div>
          <div class="form-group">
            <%= f.text_field :address_city, autofocus: true, placeholder: "市区町村", class: "form-control", id:"address_city" %>
          </div>
          <div class="form-group">
            <%= f.text_field :address_street, autofocus: true, placeholder: "番地", class: "form-control", id: "address_street" %>
          </div>
          <div class="form-group">
            <%= f.text_field :address_building, autofocus: true, placeholder: "建物(任意)", class: "form-control" %>
          </div>


        </div>

        <script type="text/javascript">
          $(window).ready( function() {

           $('#address_zipcode').jpostal({
             postcode : [
               '#address_zipcode'
             ],
             address : {
               '#address_prefecture_name'  : '%3',
               '#address_city'  : '%4%5',
               '#address_street'  : '%6%7',

             }
           });

         });
        </script>

        <div class="form_box">
          <p>自己紹介</p>
          <div class="form-group">
            <%= f.text_area :description, rows: 5, cols: 25, autofocus: true, placeholder: "藤沢市辻堂在住で、サーフィン大好きです。宜しくお願い致します。", class: "form-control" %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><p>こちらのメールアドレスはまだ認証が完了していません、送付したメールのリンク先から完了してください:<%= resource.unconfirmed_email %></p></div>
        <% end %>

        <div class="form_box">
          <p>新しいパスワード(変更しない場合は記入不要)</p>
          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", placeholder: "", class: "form-control" %>
          </div>
        </div>

        <div class="form_box">
          <p>新しいパスワードを再入力</p>
          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "", class: "form-control" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "更新する", class: "btn btn-form" %>
        </div>

      <% end %>
      </div>


      <div class="edit-phone">
        <h4>電話番号</h4>
        <div class="container">

          <% if !current_user.phone_number.blank? %>
            <h4>
              <%= current_user.phone_number %>
              <% if current_user.phone_verified %>

               <span class="blue"><i class="fa fa-check"></i></span>
              <% end %>
            </h4>
            <button class="btn white b-green" data-toggle="modal" data-target="#update-phone">
              電話番号を変更する
            </button>
            <% if current_user.phone_verified == false %>
            <button class="btn white b-gray" data-toggle="modal" data-target="#verify-phone">
              電話番号を認証する
            </button>
            <% end %>
          <% else %>
            <button class="btn white b-green" data-toggle="modal" data-target="#update-phone">
              電話番号を登録する
            </button>
          <% end %>

        </div>
      </div>


    </div>
  </div>

</div>

<!-- MODAL FOR PHONE NUMBER -->
<div id="update-phone" class="modal fade text-center" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">電話番号</h4>
      </div>

      <div class="modal-body">
        <%= form_for current_user, url: update_phone_number_user_path(current_user) do |f| %>
            <div class="form-group">
              <%= f.phone_field :phone_number, class: "form-control", placeholder: "08012345678" %>
            </div>
            <div class="text-center">
              <%= f.submit "登録する", class: "btn-sm  white b-red" %>
            </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<!-- MODAL FOR VERIFICATION -->
<div id="verify-phone" class="modal fade text-center" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">認証コード</h4>
      </div>

      <div class="modal-body">
        <%= form_for current_user, url: verify_phone_number_user_path(current_user), method: :post do |f| %>
            <div class="form-group">
              <%= f.text_field :pin, class: "form-control", placeholder: "４桁の認証コード", value: "" %>
            </div>
            <div class="text-center">
              <%= f.submit "認証する", class: "btn-sm  white b-red" %>
            </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
