<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 devise_container">

    <h3 class="text-center">新規ユーザー登録</h3>
    <br/>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <%= render 'shared/devisemes' %>

      <div class="form-group">
        <%= f.text_field :fullname, autofocus: true, placeholder: "氏名", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "form-control" %>
      </div>

      <div class="actions text-center">
        <%= f.submit "登録", class: "btn btn-normal btn-sm" %>
      </div>
    <% end %>

    <div class="text-include-separator">
      <h5 class="text">または</h5>
      <hr>
    </div>

    <div class="text-center">
      <%= link_to  user_facebook_omniauth_authorize_path, class: "btn btn-facebook btn-sm"  do %>
       <div class="social_btn">
        <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="15px"
        height="15px"
        viewBox="0 0 300 300">
        <defs><style> .fill {fill: #ffffff;}</style></defs>
        <path
        class="fill"
        d="M283.000,-0.000 C283.000,-0.000 17.000,-0.000 17.000,-0.000 C7.853,-0.000 -0.000,7.854 -0.000,17.000 C-0.000,17.000 -0.000,283.000 -0.000,283.000 C-0.000,292.144 7.853,300.000 17.000,300.000 C17.000,300.000 161.000,300.000 161.000,300.000 C161.000,300.000 161.000,183.000 161.000,183.000 C161.000,183.000 121.000,183.000 121.000,183.000 C121.000,183.000 121.000,139.000 121.000,139.000 C121.000,139.000 161.000,139.000 161.000,139.000 C161.000,139.000 161.000,105.000 161.000,105.000 C161.000,66.251 183.432,45.000 218.000,45.000 C234.558,45.000 249.852,46.449 254.000,47.000 C254.000,47.000 254.000,88.000 254.000,88.000 C254.000,88.000 229.000,88.000 229.000,88.000 C210.201,88.000 207.000,96.891 207.000,110.000 C207.000,110.000 207.000,139.000 207.000,139.000 C207.000,139.000 252.000,139.000 252.000,139.000 C252.000,139.000 246.000,183.000 246.000,183.000 C246.000,183.000 207.000,183.000 207.000,183.000 C207.000,183.000 207.000,300.000 207.000,300.000 C207.000,300.000 283.000,300.000 283.000,300.000 C292.144,300.000 300.000,292.144 300.000,283.000 C300.000,283.000 300.000,17.000 300.000,17.000 C300.000,7.854 292.144,-0.000 283.000,-0.000 Z"/>
        </svg>
        Facebookでログイン
       </div>
      <% end %>
    </div>


  </div>
</div>
