<ul class="row-eq-height">

  <% if
    request.path == '/' || request.path == '/index' || request.path == '/refer' %>
    <% listings.each do |listing| %>

      <% guest_reviews = listing.guest_reviews %>



      <li class="col-md-2 col-sm-2 col-xs-3  row-eq-height twelve">

       <%= link_to  listing  do %>

       <div class="listing-block" >
         <div class="">

            <%= image_tag listing.cover_photo(:medium), class: 'img-responsive' %>

            <span class="user-image">
              <% if (user_signed_in?)%>
                <%= image_tag listing.user.image, class: "img-circle avatar-medium" %>
              <% else %>
                <%= image_tag "avatar-default", class: "img-circle avatar-medium" %>
              <% end %>
            </span>

         </div>

         <div class="listing-content">

           <p class="location">
             <span class="">
              <i class="fa fa-map-marker"></i>
             </span>
             <span >
               <%= listing.location %>
             </span>
           </p>

           <p>

             <span class="listing-category"><%= listing.category2 %></span>

           </p>



           <p>
             <span class="listing-title">
               <b>
                 <%= truncate(listing.listing_title, length: 20) %>

               </b>

             </span>
           </p>

           <p class="price-day">
              ¥<span class="red"><b><%= listing.price_day %></b></span>&nbsp;/1日・キャンセル無料
           </p>

           <% if guest_reviews.count > 0  %>

           <p>
             <span id="average_rating"  class="host-stars"></span>

             <span>
               <b>
                <%= pluralize(guest_reviews.count, "件") %>
               </b>

             </span>

           </p>

           <script>
            $('#average_rating').raty({
              path: '/assets',
              readOnly: true,
              score: <%= listing.average_rating %>
            });
           </script>

           <% end %>

         </div>

       </div>

       <% end %>

      </li>



    <% end %>

    <script type="text/javascript">
      $(function(){
       var w = window.innerWidth;


       if (w <= 480){
         $(".user-image .img-circle").removeClass("avatar-medium");
         $(".user-image .img-circle").addClass("avatar-small");
       }
       console.log(w);
      });
    </script>





  <% elsif
     request.path == '/search' || request.path == '/ajaxsearch' %>

   <% listings.each do |listing| %>

   <li class="col-md-6 col-sm-6 row-eq-height desktop">

    <div class="listing-block">


      <div class="">
        <%= link_to  listing  do %>
          <%= image_tag listing.cover_photo(:medium), class: 'img-responsive' %>
        <% end %>

        <span class="location">
          <%= listing.location %>
        </span>

        <span class="user-image">
          <% if (user_signed_in?)%>
            <%= image_tag listing.user.image, class: "img-circle avatar-small" %>
          <% else %>
            <%= image_tag "avatar-default", class: "img-circle avatar-small" %>
          <% end %>
        </span>

      </div>

      <div class="listing-content">
        <p>
          <span>
            <b>
             <%= link_to listing.listing_title, listing %>

            </b>
          </span>


        </p>

        <p>
          <b>
           1日&nbsp;<b class="red"><%= listing.price_day %></b>円
          </b>
        </p>

      </div>

    </div>

   </li>

   <li class="col-xs-2  row-eq-height smartphone">

     <%= link_to  listing  do %>
     <div class="listing-block" >
      <div class="">

          <%= image_tag listing.cover_photo(:medium), class: 'img-responsive' %>

      </div>

      <span class="user-image">
        <% if (user_signed_in?)%>
          <%= image_tag listing.user.image, class: "img-circle avatar-small" %>
        <% else %>
          <%= image_tag "avatar-default", class: "img-circle avatar-small" %>
        <% end %>
      </span>

      <p class="price-day">
          <b ><span class="red"><%= listing.price_day %>円</span></b>
      </p>
     </div>
     <% end %>

   </li>
   <% end %>
   <script type="text/javascript">
     $(function(){
      var w = window.innerWidth;

      if (w > 768){
        $(".smartphone").remove();
      }
      if (w <= 768){
        $(".desktop").remove();
      }
      if (w <= 480){
        $(".user-image .img-circle").removeClass("avatar-small");
        $(".user-image .img-circle").addClass("avatar-minimum");
      }
      console.log(w);
     });
   </script>

  <% else %>
   <% listings.each do |listing| %>
   <li class="col-md-3 col-sm-3 col-xs-6  row-eq-height">
   <%= link_to  listing  do %>
   <div class="listing-block">

     <div class="">

         <%= image_tag listing.cover_photo(:medium), class: 'img-responsive' %>

         <span class="location">
           <%= listing.location %>
         </span>

         <span class="user-image">
           <% if (user_signed_in?)%>
             <%= image_tag listing.user.image, class: "img-circle avatar-small" %>
           <% else %>
             <%= image_tag "avatar-default", class: "img-circle avatar-small" %>
           <% end %>
         </span>

     </div>

     <div class="listing-content">
       <p>
         <span>
           <b>
            <%= link_to listing.listing_title, listing %>

           </b>
         </span>


       </p>

       <p>
         <b>
          1日&nbsp;<b class="red"><%= listing.price_day %></b>円
         </b>
       </p>

     </div>

   </div>
   <% end %>
   </li>
   <% end %>

  <% end %>





</ul>
