<div class="dashboard-link">
  <ul class="">
    <li class="active"><%= link_to "貸出しアイテム", listings_path %></li>
    <li class=""><%= link_to "貸出し履歴",  guest_reservations_path %></li>
    <li class=""><%= link_to "振込先", payout_method_path %></li>
  </ul>
</div>

<div class="row listing-index">
  <div class="col-md-8 col-md-offset-2">
    <div class="">
      <h3>
        <b>
          貸出しアイテム
        </b>

      </h3>

      <div class="">
        <% if @listings.count == 0 %>
         <p>まだ出品中のアイテムがありません</p><br/>
         <%= link_to "出品する", new_listing_path, class: "btn btn-form" %>

        <% else %>

         <% @listings.each do |listing| %>
          <div class="box">
            <p>
              <%= listing.created_at.strftime('%Y年%m月%d日') %>登録
            </p>

            <div class="bottom">
              <ul class="row">
                <li class="col-md-6 col-sm-6 col-xs-6">
                  <%= image_tag listing.cover_photo(:thumb) %>
                </li>
                <li class="col-md-6 col-sm-6 col-xs-6">
                  <p>
                    <%= link_to listing.listing_title, listing_path(listing) %>
                    <% if !listing.active.blank? %>
                     <span class="white b-light-green ">
                      公開中
                     </span>
                    <% end %>
                  </p>
                  <p>
                    <span>
                      <%= link_to "編集", information_listing_path(listing) , class: "btn-sm white b-orange" %>
                    </span>
                    <span>
                      <%= link_to  listing_path(listing),  class: "btn-sm white b-gray", method: :delete, data: {confirm: "削除しても大丈夫ですか?"} do %>
                        削除
                      <% end %>
                    </span>

                  </p>



                </li>
              </ul>
            </div>


          </div>
         <% end %>

        <% end %>
      </div>
    </div>
  </div>
</div>
