<%= render 'listing_menu' %>
<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <div class="panel panel-default">
      <h3><b>商品の詳細</b></h3>

      <p><b><%= @listing.listing_title %></b></p>

      <div class="container">
        <%= form_for @listing,html: {multipart: true} do |f| %>



        <div class="form_box">
          <p>商品の詳細説明</p>
          <div class="form-group">
            <%= f.text_area :description, rows: 5, placeholder: "例:昨年の夏に購入しました。湘南の波にピッタリで、上級者からビギナーまで楽しめます。シングルフィン、リシューコード付き、サイズ7'0×22×3 1/8", class: "form-control", required: true %>
          </div>
        </div>

        <%= f.hidden_field :location, value: @user.address_city %>

        <div class="form_box">
          <p>
            即決の可否
          </p>
          <div class="form-group">

              <%= f.select :instant, Listing.instants.map {|key,value| [key.humanize, key]}, {prompt: "選択してください" },{selected: 'Instant',  class: "form-control"} %>

          </div>
          <p>※即決可の場合は<%= @user.fullname %>さんへの確認なしに予約購入がおこなわれます。即決不可の場合はゲストからの予約リクエストを確認後に承認するか決めることができます。</p>
        </div>

        <div class="actions">
          <%= f.submit "登録する", class: "btn btn-form" %>
        </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $("#autoaddress").geocomplete();
  })
</script>
