<%= render 'listing_menu' %>
<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <div class="panel panel-default">
      <h3><b>商品の詳細</b></h3>

      <p><%= @listing.listing_title %></p>

      <div class="container">
        <%= form_for @listing,html: {multipart: true} do |f| %>

        <div class="form_box">
          <p>商品の詳細説明</p>
          <div class="form-group">
            <%= f.text_area :description, rows: 5, placeholder: "例:昨年の夏に購入しました。湘南の波にピッタリで、上級者からビギナーまで楽しめます。シングルフィン、リシューコード付き、サイズ7'0×22×3 1/8", class: "form-control", required: true %>
          </div>
        </div>

        <div class="form_box">
          <p>商品の受け渡し場所(住所を記入してください)</p>
          <div class="form-group">
            <%= f.text_field :location, placeholder: "例:神奈川県藤沢市辻堂1-1-1", class: "form-control", required: true, id: "autoaddress" %>
          </div>
        </div>

        <div class="form_box">
          <p>価格</p>
          <div class="form-group">
            <%= f.select :price_per, [["1時間", "1時間"], ["1日", "1日"], ["1ヶ月", "1ヶ月"]],{prompt:"期間"},{required: 'true', autofocus: 'true', class: "form-control",id: "price_per"} %>
          </div>
          <div class="form-group">
            <%= f.text_field :price, placeholder: "例:1,000円", class: "form-control", required: true %>
          </div>
        </div>

        <div class="form_box">
          <p>
            即決の可否<br>
            (※即決可の場合は<%= @user.fullname %>さんへの確認なしに予約購入がおこなわれます。即決不可の場合はゲストからの予約リクエストを確認後に承認するか決めることができます。)
          </p>
          <div class="form-group">

              <%= f.select :instant, Listing.instants.map {|key,value| [key.humanize, key]}, selected: 'Instant', prompt: "選択してください" , class: "form-control" %>
                        
          </div>
        </div>

        <div class="actions">
          <%= f.submit "登録する", class: "btn btn-form" %>
        </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
