<div class="row">
  <div class=" text-center">
    <div class="panel panel-default">
      <h3>出品商品の基本情報を入力</h3>


      <div class="container">

        <%= form_for @listing,html: {multipart: true} do |f| %>

        <div class="form_box ">
          <p>出品タイプ</p>
          <div class="form-group select">
            <%= f.select :listing_type, [["貸す","レンタル"]], {prompt:"選択してください"}, {required: true, autofocus: 'true', class: 'form-control',id: "listing_type"} %>
          </div>
        </div>


        <div class="form_box">
          <p>カテゴリー</p>
          <div class="form-group">
           <%= f.select :category1,
           [["サーフボード", "サーフボード"],
            ["SUPボード", "SUPボード"],
            ["その他", "その他"]],


            {prompt:"カテゴリー1"},
            {required: true, autofocus: 'true', class: "form-control parent",id: "category1"}
            %>
          </div>

          <div class="form-group">
           <%= f.select :category2,
           [["ショートボード", "ショートボード", data: {val:"サーフボード"}],
            ["ファンボード", "ファンボード", data: {val:"サーフボード"}],
            ["ロングボード", "ロングボード", data: {val:"サーフボード"}],
            ["サーフ", "サーフ", data: {val:"SUPボード"}],
            ["オールラウンド", "オールラウンド", data: {val:"SUPボード"}],
            ["フィッシング", "フィッシング", data: {val:"SUPボード"}],
            ["クルージング", "クルージング", data: {val:"SUPボード"}],
            ["ボード置き場", "ボード置き場", data: {val:"その他"}],
            ["その他", "その他", data: {val:"その他"}]],


            {prompt: "カテゴリー2"},
            {required: true, autofocus: 'true', class: "form-control children",id: "category2"}
            %>
          </div>
        </div>

        <div class="form_box">
          <p>商品名</p>
          <div class="form-group">
            <%= f.text_field :listing_title, placeholder: "例:キャッチサーフのファンボード", class: "form-control", required: true %>
          </div>
        </div>

        <div class="form_box">
          <p>レンタル価格</p>
          <div class="" id="information2-price">

            <div class="form-group" >
              <ul class="row">
                <li id="price_day-margin">
                  <p>1日</p>
                </li>
                <li class="">
                  <%= f.text_field :price_day, placeholder: "例:3000", class: "form-control" %>
                </li>
                <li class="">
                  <p>円</p>
                </li>
              </ul>
            </div>

          </div>

        </div>

        <div class="actions">
          <%= f.submit "登録する", class: "btn btn-form" %>
        </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="listings-mondal" class="modal  fade text-center" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">出品代行できます！</h4>
      </div>
      <div class="modal-body">
         <div class="form-group">
           <p>
             商品の写真撮影や説明文作成などをご自宅に伺っておこなう出品代行を受付けております(無料)。
           </p>
           <p>
             「自分で出品するのは面倒だ」「どう出品すればいいかよく分からない」
           </p>
             そんな方は出品代行を<%= link_to "問合せフォーム", inquiry_path %>から申し込みください!<br>
             ※湘南地域(藤沢市,茅ヶ崎市,平塚市,鎌倉市など)限定
           </p>
           <p>
             また出品方法が分かりにくい場合も<%= link_to "問合せフォーム", inquiry_path %>からお気軽にお問合わせくださいませ。
           </p>

         </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
 $(window).on('load',function(){
  $('#listings-mondal').modal('show');
 });
</script>


<script type="text/javascript">
$(document).ready(function(){

  var $children = $('.children'); //カテゴリー2の要素を変数に入れます。
  var original = $children.html(); //後のイベントで、不要なoption要素を削除するため、オリジナルをとっておく

  //カテゴリー1のselect要素が変更になるとイベントが発生
  $('.parent').change(function() {
    //選択されたカテゴリー1のvalueを取得し変数に入れる
    var val1 = $(this).val();

    //削除された要素をもとに戻すため.html(original)を入れておく
    $children.html(original).find('option').each(function() {
      var val2 = $(this).data('val'); //data-valの値を取得

      //valueと異なるdata-valを持つ要素を削除
      if (val1 != val2) {
        $(this).not(':first-child').remove();
      }

    });

    //カテゴリー1のselect要素が未選択の場合、カテゴリー2をdisabledにする
    if ($(this).val() !== "") {
      $children.fadeIn(100);
    } else {
      $children.fadeOut(100);
    }

  });


});
</script>
