<% if @listing.active.blank? %>
  <div class="registration-alert b-light-red">
    <p>
      まだ公開されていません&nbsp;
      <%= link_to "公開する", exhibition_listing_path(@listing)  %>
    </p>
  </div>
<% end %>
<% if !@listing.active.blank?  %>
  <div class="dashboard-link">
  <ul class="">

    <li class=""><%= link_to "商品の編集",  information_listing_path(@listing) %></li>
    <li class="active"><%= link_to "画像アップロード",  photo_upload_listing_path(@listing)  %></li>

  </ul>
</div>
  <div class="registration-alert b-light-green">
    <p>公開中</p>
  </div>

<% end %>

<div class="row" >
  <div class=" text-center">
    <div class="panel panel-default">
      <h3>
        <b>
          <% if @listing.active.blank?  %>
            <span class="blue">ステップ2</span>
          <% end %>
          画像アップロード
        </b>

      </h3>

      <p class="b-blue  listing_title">

        <%= link_to @listing.listing_title, listing_path(@listing) , class: "white" %>

      </p>



      <div class="panel-body">
        <div class="container">
          <div id="photos"><%= render 'photos/photos_list' %></div>
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <!-- PHOTOS UPLOAD GOES HERE -->

              <%= form_for @listing, url: listing_photos_path(@listing), method: 'post', html: {multipart: true} do |f| %>
                <div class="row" id="photos-select">
                  <div class="form-group">
                    <span class="btn btn-default btn-file">
                      <i class="fa fa-cloud-upload" aria-hidden="true"></i>画像を選択
                      <%= file_field_tag "images[]", type: :file, multiple: true %>
                    </span>
                  </div>
                </div>



                <div class="text-center">
                  <%= f.submit "アップロード", class: "btn btn-form" %>
                </div>

              <% end %>





            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
