

<div class="row" id="listing-show">

 <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">


   <!-- About -->
   <div class="row show-header">
    <div class="col-md-12">

     <p>
       <% if !@listing.active || @listing.active == false %>
         <div class="registration-alert b-light-red">
          <p>
            この商品は公開されていません
            <% if current_user == @listing.user  %>
            &nbsp;
              <%= link_to "公開する", exhibition_listing_path(@listing) , class: "blue b-white" %>
            <% end %>
          </p>
         </div>
       <% elsif current_user == @listing.user && @listing.active %>
         <div class="registration-alert b-light-green">
          <p>
            公開中

          </p>

         </div>
       <% else %>
       <% end %>
     </p>

     <h3>
       <b><%= @listing.listing_title %></b>
       <p>
         <span class="listing-category"><%= @listing.category1 %></span>
         <span class="listing-category"><%= @listing.category2 %></span>
         <span><%= @listing.listing_type %></span>
         <span><%= @listing.instant_i18n %></span>
       </p>
     </h3>


     <div  class="social_block">
      <ul>
       <li>
         <!-- Facebookシェア-->
         <div>

           <a
           href="http://www.facebook.com/sharer.php?u=<%= request.url %>"

            class="icon icon-facebook"

            onclick="window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;"

            rel="nofollow">

            <span id="facebook_btn" >
              <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="13px"
              height="13px"
              viewBox="0 0 300 300">
             <defs><style> .fill {fill: #ffffff;}</style></defs>
             <path
             class="fill"
             d="M283.000,-0.000 C283.000,-0.000 17.000,-0.000 17.000,-0.000 C7.853,-0.000 -0.000,7.854 -0.000,17.000 C-0.000,17.000 -0.000,283.000 -0.000,283.000 C-0.000,292.144 7.853,300.000 17.000,300.000 C17.000,300.000 161.000,300.000 161.000,300.000 C161.000,300.000 161.000,183.000 161.000,183.000 C161.000,183.000 121.000,183.000 121.000,183.000 C121.000,183.000 121.000,139.000 121.000,139.000 C121.000,139.000 161.000,139.000 161.000,139.000 C161.000,139.000 161.000,105.000 161.000,105.000 C161.000,66.251 183.432,45.000 218.000,45.000 C234.558,45.000 249.852,46.449 254.000,47.000 C254.000,47.000 254.000,88.000 254.000,88.000 C254.000,88.000 229.000,88.000 229.000,88.000 C210.201,88.000 207.000,96.891 207.000,110.000 C207.000,110.000 207.000,139.000 207.000,139.000 C207.000,139.000 252.000,139.000 252.000,139.000 C252.000,139.000 246.000,183.000 246.000,183.000 C246.000,183.000 207.000,183.000 207.000,183.000 C207.000,183.000 207.000,300.000 207.000,300.000 C207.000,300.000 283.000,300.000 283.000,300.000 C292.144,300.000 300.000,292.144 300.000,283.000 C300.000,283.000 300.000,17.000 300.000,17.000 C300.000,7.854 292.144,-0.000 283.000,-0.000 Z"/>
             </svg>
              シェア</span>
           </a>


         </div>
       </li>

       <li>
         <!-- Twitter -->
         <div>
          <a href="http://twitter.com/intent/tweet?text=`サーフィンのシェアリングサービス「サーフ文庫」/<%= @listing.listing_title %>`&amp;url=`<%= request.url %>`"
           onClick="window.open(encodeURI(decodeURI(this.href)),
           'tweetwindow',
           'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=1'
           ); return false;">


            <span id="twitter_btn">
              <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="13px"
              height="13px"
              viewBox="0 0 350 300">
                <defs><style>.fill {fill:#ffffff;}</style></defs>
                <path class="fill" d="M350.001,35.509 C346.026,42.167 340.649,49.197 333.870,56.595 C328.493,62.513 321.944,68.556 314.231,74.720 C314.231,74.720 314.231,76.940 314.231,76.940 C314.231,76.940 314.231,79.530 314.231,79.530 C314.231,80.762 314.346,81.626 314.579,82.119 C314.579,82.119 314.579,84.708 314.579,84.708 C314.579,110.109 310.022,135.572 300.903,161.097 C291.785,186.620 278.809,209.494 261.975,229.715 C243.971,251.417 222.113,268.556 196.394,281.134 C170.674,293.711 141.917,299.999 110.122,299.999 C89.546,299.999 70.142,297.041 51.904,291.122 C33.201,285.202 15.899,276.818 -0.001,265.967 C0.936,266.214 2.337,266.338 4.208,266.338 C7.948,266.831 10.755,267.077 12.626,267.077 C12.626,267.077 17.183,267.077 17.183,267.077 C33.550,267.077 49.567,264.242 65.231,258.569 C79.727,253.144 93.403,245.253 106.263,234.895 C91.300,234.649 77.387,229.469 64.531,219.357 C51.904,209.494 43.486,197.040 39.279,181.997 C42.786,182.737 45.007,183.105 45.943,183.105 C45.943,183.105 49.447,183.105 49.447,183.105 C50.151,183.352 51.202,183.476 52.605,183.476 C54.708,183.476 56.346,183.352 57.516,183.105 C59.853,183.105 63.128,182.612 67.335,181.626 C67.801,181.626 68.505,181.502 69.439,181.256 C70.376,181.009 71.075,180.887 71.542,180.887 C54.941,177.434 41.265,168.679 30.509,154.622 C19.520,140.565 14.029,124.536 14.029,106.534 C14.029,106.534 14.029,106.163 14.029,106.163 C14.029,106.163 14.029,105.794 14.029,105.794 C14.029,105.794 14.029,105.424 14.029,105.424 C18.471,108.383 23.615,110.603 29.460,112.082 C35.538,114.054 41.265,115.042 46.644,115.042 C36.354,107.644 28.640,98.642 23.497,88.038 C17.651,77.187 14.729,65.102 14.729,51.786 C14.729,44.388 15.546,37.729 17.183,31.810 C18.120,27.617 20.457,21.576 24.198,13.685 C42.435,37.358 64.177,55.854 89.429,69.172 C115.382,83.475 142.969,91.366 172.195,92.847 C171.494,87.667 171.145,84.832 171.145,84.339 C170.674,80.886 170.441,78.051 170.441,75.830 C170.441,54.868 177.456,36.989 191.483,22.193 C205.512,7.396 222.462,-0.002 242.337,-0.002 C252.623,-0.002 262.325,2.094 271.444,6.286 C280.562,10.971 288.394,16.891 294.942,24.042 C302.423,22.315 310.372,19.850 318.788,16.644 C325.803,13.931 333.051,10.232 340.532,5.547 C337.729,14.424 333.634,22.439 328.260,29.591 C322.179,36.989 315.751,42.907 308.969,47.347 C315.984,46.113 322.999,44.634 330.010,42.907 C335.388,41.428 342.052,38.961 350.001,35.509 Z"/>
              </svg>
              ツイート</span>
          </a>
         </div>
       </li>
      </ul>
     </div>

     <div class="bottom">
       <ul>
         <li class="">
           <% if (user_signed_in?)%>
             <%= image_tag @listing.user.image, class: "img-circle avatar-large" %>
           <% else %>
             <%= image_tag "avatar-default", class: "img-circle avatar-large" %>
           <% end %>

         </li>
         <li class="">
             <p>
               ホスト:
               <b>
               <% if (user_signed_in?)%>
                <%= @listing.user.fullname %>
               <% else %>
                <%= @listing.user.nickname %>
               <% end %>
               </b>
             </p>
             <p>
               <%= link_to "プロフィールを見る", @listing.user, class: "btn-blue" %>
             </p>
             <p>
               <span class="">
                <i class="fa fa-map-marker fa-lg"></i>
               </span>
               <span>
                <%= @listing.user.address1 %>
               </span>
             </p>
         </li>
       </ul>
     </div>

    </div>
   </div>


   <!-- Carousel -->
   <div class="row show-photo">
    <% if @photos.length > 0 %>

     <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

       <!-- Indicators -->
       <ol class="carousel-indicators">
         <% @photos.each do |photo| %>
             <li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
         <% end %>
       </ol>

       <!-- Wrapper for slides -->
       <div class="carousel-inner">
         <% @photos.each do |photo| %>
             <div class="item <%= 'active' if photo.id == @photos[0].id %>">
               <%= image_tag photo.image.url() %>
             </div>
         <% end %>
       </div>

       <!-- Left and right controls -->
       <a class="left carousel-control" href="#myCarousel" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left"></span>
         <span class="sr-only">前</span>
       </a>
       <a class="right carousel-control" href="#myCarousel" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right"></span>
         <span class="sr-only">次</span>
       </a>

     </div>

    <% end %>
   </div>



   <!-- 価格 -->
   <div class="row" id="show-price">
    <div class="col-md-12">
     <h4><b>価格</b></h4>
      <p class="index-btn font-lg">

        １日&nbsp;
        <b class="red"><%= @listing.price_day %></b>
        円
        <br>

        <% if !(user_signed_in?)%>
         <span>※レンタルするには<%= link_to "ログイン", new_user_session_path %>または<%= link_to "登録", new_user_registration_path %>が必要です</span>

        <% end %>

      </p>

    </div>
   </div>


   <% if (user_signed_in?) && @listing.active == true %>
   <!-- 予約フォーム -->
   <div class="row" id="reservation">
     <div class="col-md-12 text-center">
       <div class="panel panel-default">
         <h3>予約フォーム</h3>
         <%= render 'reservations/form' %>
       </div>
     </div>
   </div>

   <% end %>

   <hr class="dotted-hr" />

   <!-- 商品詳細 -->
   <div class="row">
    <div class="col-md-12">
     <h4><b>商品詳細</b></h4>

     <p>
       <%= text_url_to_link(simple_format(h(@listing.description))).html_safe %>
     </p>

    </div>
   </div>

   <hr class="dotted-hr" />

   <!-- アメニティ -->
   <div class="row">
    <div class="col-md-12">
      <h4><b>アメニティ</b></h4>
      <div class="amenities">

           <ul class="">
             <li class="<%= 'text-line-through ' if !@listing.is_shower %> %>">
               <i class="fa fa-shower" aria-hidden="true"></i>&nbsp;<span></span>シャワー
             </li>
             <li class="<%= 'text-line-through' if !@listing.is_bicycle %>">
               <i class="fa fa-bicycle" aria-hidden="true"></i>&nbsp;自転車
             </li>
             <li class="<%= 'text-line-through' if !@listing.is_wetsuit %>">
               <i class="fa fa-male" aria-hidden="true"></i>&nbsp;ウェットスーツ
             </li>
           </ul>

      </div>
    </div>

   </div>

   <hr class="dotted-hr" />

   <!-- レビュー -->
   <div class="row">
     <div class="col-md-12">
       <h4>
         <b>
          レビュー
         </b>
         &nbsp;
         <%= pluralize(@guest_reviews.count, "件") %>
         <span id="average_rating"  class="host-stars"></span>
       </h4>

       <div class="host-review">
         <div><%= render "reviews/guest_list" %></div>
       </div>
     </div>
   </div>



   <!-- GOOGLE MAP -->
   <% if @listing.user.latitude.present? %>

    <div class="row show-map" >
     <div id="map" style="width: 100%; height: 400px"></div>
     <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7ZRYgtCagsAWTqGbqxkpW09Y1i_ZYixI&libraries=places">
     </script>
     <script>
         function initialize() {
           var location = {lat: <%= @listing.user.latitude %>, lng: <%= @listing.user.longitude %>};


           var map = new google.maps.Map(document.getElementById('map'), {
             center: location,
             zoom: 14,
             // デフォルトのコントロールセット非表示
             disableDefaultUI: true,
             // デフォルトの情報ウィンドウ非表示
             clickableIcons: false
           });

           var marker = new google.maps.Marker({
             map: map
           });


           var infoWindow = new google.maps.InfoWindow({

             position: {lat: <%= @listing.user.latitude + 0.005 %>, lng: <%= @listing.user.longitude  %>},

             maxWidth: 200,
             content: '<div id="content"><b><%= @listing.listing_title %></b>の受け渡し場所(※予約成立後に詳細場所を通知)</div>'
           });

           var cityCircle = new google.maps.Circle({
             strokeWeight: 0,
             fillColor: '#04b4e4',
             fillOpacity: 0.5,
             map: map,
             center: location,
             radius: 500
           });

           infoWindow.open(map, marker);
         }

         google.maps.event.addDomListener(window, 'load', initialize);
     </script>
    </div>

   <% end %>

   <!-- 近くのリスティング -->
   <% if @listing.nearbys.present? %>

   <div class="row nearby listings-list">
     <h4><b>近くの出品商品</b></h4>

     <ul class="row-eq-height">
      <% for listing in @listing.nearbys(10) %>
       <% if listing.active == true %>
        <li class="col-md-3 col-sm-3 col-xs-6 row-eq-height">
         <div class="listing-block">

           <div class="">
             <%= link_to  listing  do %>
              <%= image_tag listing.cover_photo(:medium), class: 'img-responsive' %>
             <% end %>

             <span class="location">
               <%= listing.location %>
             </span>

             <span class="user-image">
               <% if (user_signed_in?)%>
                 <%= image_tag listing.user.image, class: "img-circle avatar-small" %>
               <% else %>
                 <%= image_tag "avatar-default", class: "img-circle avatar-small" %>
               <% end %>
             </span>
           </div>

           <script type="text/javascript">
            $(function(){
             var w = window.innerWidth;
             if (w <= 768){
               $(".user-image .img-circle").removeClass("avatar-small");
               $(".user-image .img-circle").addClass("avatar-medium");
             }

             console.log(w);




            });
           </script>

           <div class="listing-content">
             <p>
               <span>
                 <b>
                  <%= link_to listing.listing_title, listing %>

                 </b>
               </span>


             </p>

             <p>
               <b>
                1日&nbsp;<b class="red"><%= listing.price_day %></b>円
               </b>
             </p>

           </div>

         </div>
        </li>
       <% end %>
      <% end %>
     </ul>

   </div>
   <% end %>
 </div>
</div>



  <script>
   $('#average_rating').raty({
     path: '/assets',
     readOnly: true,
     score: <%= @listing.average_rating %>
   });
  </script>
