<div class="row">

 <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
   <!-- About -->
   <div class="row show-header">
    <div class="col-md-12">

     <h3>
       <b><%= @listing.listing_title %></b>
       <p>
         <span class="listing-category"><%= @listing.category1 %></span>
         <span class="listing-category"><%= @listing.category2 %></span>
         <span><%= @listing.listing_type %></span>
         <span><%= @listing.instant_i18n %></span>
       </p>
     </h3>
     <div class="bottom">
       <ul>
         <li class="">
           <% if (user_signed_in?)%>
             <%= image_tag @listing.user.image, class: "img-circle avatar-large" %>
           <% else %>
             <%= image_tag "avatar-default", class: "img-circle avatar-large" %>
           <% end %>

         </li>
         <li class="">
             <p>
               ホスト:
               <b>
               <% if (user_signed_in?)%>
                <%= @listing.user.fullname %>
               <% else %>
                <%= @listing.user.nickname %>
               <% end %>
               </b>
             </p>
             <p>
               <%= link_to "プロフィールを見る", @listing.user, class: "btn-blue" %>
             </p>
             <p>
               <span class="">
                <i class="fa fa-map-marker fa-lg"></i>
               </span>
               <span>
                <%= @listing.user.address1 %>
               </span>
             </p>
         </li>
       </ul>
     </div>

    </div>
   </div>

   <!-- Carousel -->
   <div class="row show-photo">
    <% if @photos.length > 0 %>

     <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

       <!-- Indicators -->
       <ol class="carousel-indicators">
         <% @photos.each do |photo| %>
             <li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
         <% end %>
       </ol>

       <!-- Wrapper for slides -->
       <div class="carousel-inner">
         <% @photos.each do |photo| %>
             <div class="item <%= 'active' if photo.id == @photos[0].id %>">
               <%= image_tag photo.image.url() %>
             </div>
         <% end %>
       </div>

       <!-- Left and right controls -->
       <a class="left carousel-control" href="#myCarousel" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left"></span>
         <span class="sr-only">前</span>
       </a>
       <a class="right carousel-control" href="#myCarousel" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right"></span>
         <span class="sr-only">次</span>
       </a>

     </div>

    <% end %>
   </div>

   <!-- 価格 -->
   <div class="row" id="show-price">
    <div class="col-md-12">
     <h4>価格</h4>
      <p class="index-btn">

        １日&nbsp;
        <b><%= @listing.price_day %></b>
        円
        <br>

        <% if !(user_signed_in?)%>
         <span>※レンタルするには<%= link_to "ログイン", new_user_session_path %>または<%= link_to "登録", new_user_registration_path %>が必要です</span>
        <% elsif current_user == @listing.user %>
         <span class="red">自分の商品を予約することはできません</span>
        <% end %>

      </p>


    </div>
   </div>


   <% if (user_signed_in?) && !(current_user == @listing.user) %>
   <!-- 予約フォーム -->
   <div class="row" id="reservation">
     <div class="col-md-12 text-center">
       <div class="panel panel-default">
         <h3>予約フォーム</h3>
         <%= render 'reservations/form' %>
       </div>
     </div>
   </div>

   <% end %>

   <hr class="dotted-hr" />

   <!-- 商品詳細 -->
   <div class="row">
    <div class="col-md-12">
     <h4>商品詳細</h4>
     <p><%= @listing.description %></p>
    </div>
   </div>

   <hr class="dotted-hr" />

   <!-- その他 -->
   <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-4">
     <p>アメニティ</p>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-8">
     <div class="row">
         <ul class="amenities">
           <li class="<%= 'text-line-through' if !@listing.is_shower %> %>">
             シャワー
           </li>
           <li class="<%= 'text-line-through' if !@listing.is_bicycle %>">
             自転車
           </li>
           <li class="<%= 'text-line-through' if !@listing.is_wetsuit %>">
             ウェットスーツ
           </li>
         </ul>
     </div>
   </div>
   </div>

   <hr class="dotted-hr" />

   <!-- レビュー -->
   <div class="row">
     <div class="col-md-12">
       <h4>
         <%= pluralize(@guest_reviews.count, "レビュー") %>
         <span id="average_rating"  class="host-stars"></span>
       </h4>

       <div class="">
         <div><%= render "reviews/guest_list" %></div>
       </div>
     </div>
   </div>



   <!-- GOOGLE MAP -->
   <% if @listing.user.latitude.present? %>

   <div class="row show-map" >
     <div id="map" style="width: 100%; height: 400px"></div>
     <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7ZRYgtCagsAWTqGbqxkpW09Y1i_ZYixI&libraries=places">
     </script>
     <script>
         function initialize() {
           var location = {lat: <%= @listing.user.latitude %>, lng: <%= @listing.user.longitude %>};


           var map = new google.maps.Map(document.getElementById('map'), {
             center: location,
             zoom: 14,
             // デフォルトのコントロールセット非表示
             disableDefaultUI: true,
             // デフォルトの情報ウィンドウ非表示
             clickableIcons: false
           });

           var marker = new google.maps.Marker({
             map: map
           });


           var infoWindow = new google.maps.InfoWindow({

             position: {lat: <%= @listing.user.latitude + 0.005 %>, lng: <%= @listing.user.longitude  %>},

             maxWidth: 200,
             content: '<div id="content"><b><%= @listing.listing_title %></b>の受け渡し場所(※予約成立後に詳細場所を通知)</div>'
           });

           var cityCircle = new google.maps.Circle({
             strokeWeight: 0,
             fillColor: '#04b4e4',
             fillOpacity: 0.5,
             map: map,
             center: location,
             radius: 500
           });

           infoWindow.open(map, marker);
         }

         google.maps.event.addDomListener(window, 'load', initialize);
     </script>
   </div>

   <% end %>

   <!-- 近くのリスティング -->
   <% if @listing.nearbys.present? %>

   <div class="row nearby listings-list">
     <h4>近くの出品商品</h4>

     <ul class="row-eq-height">
       <% for listing in @listing.nearbys(10) %>
        <li class="col-md-3 col-sm-3 col-xs-6 row-eq-height">
         <div class="listing-block">

           <div class="">
            <%= link_to  listing  do %>
              <%= image_tag listing.cover_photo(:medium), class: 'img-responsive' %>
             <% end %>
           </div>

           <span class="distance">
             <%= listing.distance.round(3)*1000 %><menuitem type="command" label="Save">m
           </span>

           <div class="listing-content">
             <%= link_to listing.listing_title, listing %>
             <div class="row">
               <div class="col-md-3 col-sm-3 col-xs-4">
                 <% if (user_signed_in?)%>
                   <%= image_tag listing.user.image, class: "img-circle avatar-medium" %>
                 <% else %>
                   <%= image_tag "avatar-default", class: "img-circle avatar-medium" %>
                 <% end %>

               </div>
               <div class="col-md-9 col-sm-9 col-xs-8 bottom">
                 <span class="listing-type"><%= listing.listing_type %>
                 </span>
                 <p>
                 1日&nbsp;<b><%= listing.price_day %></b>円
               </p>
               </div>
             </div>


           </div>

         </div>
        </li>
       <% end %>
     </ul>

   </div>
   <% end %>
 </div>
</div>



  <script>
   $('#average_rating').raty({
     path: '/assets',
     readOnly: true,
     score: <%= @listing.average_rating %>
   });
  </script>
