<div class="dashboard-link">
  <ul class="">
    <li class=""><%= link_to "プロフィールの編集", edit_user_registration_path %></li>
    <li class=""><%= link_to "認証",  certification_path %></li>

    <li class="active"><%= link_to "支払い方法",  payment_method_path %></li>


  </ul>
</div>

<% if current_user.stripe_id.nil?   %>
  <div class="registration-alert b-light-red">
   <p>クレジットカードが登録されていません</p>
  </div>
<% else %>
  <div class="registration-alert b-light-green">
   <p>
     クレジットカード登録済み

   </p>

  </div>
<% end %>

<p></p>

<div class="row">
  <div class="text-center">
    <div class="panel panel-default">
      <h3>
        <b>
          支払い方法
          <% if current_user.stripe_id %>
            <span class="blue"><i class="fa fa-check"></i></span>
          <% end %>
        </b>
      </h3>

      <p class="b-light-gray cardnumber">
        <b>
          ****&nbsp;****&nbsp;****&nbsp;<%= @default_card.last4 %><br>
          有効期限&nbsp;<%= @default_card.exp_year %>年<%= @default_card.exp_month %>月
        </b>

      </p>

      <div class="container">
        <%= form_tag("/add_card", method: "post", id: "add-card") do %>

         <div class="">
          <p>クレジットカード名義</p>
          <div class="form-group">
            <input name="cardholder-name" class="field" placeholder="Ichiro Shonan" />
          </div>
         </div>

         <div class="">
          <p>カード番号,有効期限(MM/YY),セキュリティコード(CVC)</p>
          <div class="form-group">
            <div id="card-element" class="field"></div>
          </div>
         </div>

         <p>
          ※レンタル代金の支払いはカード決済システムStripeを通して、クレジットカードによっておこなわれ、VISAとMastercardに対応しています。(Stripeについては<%= link_to "こちら", "https://stripe.com/jp" %>)
         </p>


         <div class="outcome">
           <div class="error" role="alert"></div>
         </div>

         <div class="">
          <% if current_user.stripe_id %>
           <button type="submit" class="btn btn-form">変更する</button>
          <% else %>
           <button type="submit" class="btn btn-form">登録する</button>
          <% end %>
        </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script>
  $(function() {

    var stripe = Stripe('<%= Rails.configuration.stripe[:publishable_key] %>');
    var elements = stripe.elements();

    var card = elements.create('card', {
      hidePostalCode: true,
      style: {
        base: {
          iconColor: '#F99A52',
          color: '#32315E',
          lineHeight: '48px',
          fontWeight: 400,
          fontFamily: '"Helvetica Neue", "Helvetica", sans-serif',
          fontSize: '15px',

          '::placeholder': {
            color: '#CFD7DF',
          }
        },
      }
    });

    card.mount('#card-element');

    function setOutcome(result) {

      var errorElement = document.querySelector('.error');
      errorElement.classList.remove('visible');

      if (result.token) {
        var form = $('#add-card');
        form.append($('<input type="hidden" name="stripeToken">').val(result.token.id));
        form.get(0).submit();
      } else if (result.error) {
        errorElement.textContent = result.error.message;
        errorElement.classList.add('visible');
      }
    }

    card.on('change', function(event) {
      setOutcome(event);
    });

    $('#add-card').on('submit', function(e) {
      e.preventDefault();
      var extraDetails = {
        name: $('input[name=cardholder-name]').value
      };
      stripe.createToken(card, extraDetails).then(setOutcome);
    });

  });
</script>
