<div class="">
  <ul class="">
    <li class=""><%= link_to "支払い方法", payment_method_path %></li>
    <li class=""><%= link_to "売上管理", payout_method_path, class: "active" %></li>
    <li class=""><%= link_to "通知設定", payment_method_path %></li>
    <li class=""><%= link_to "プロフィールを見る", user_path(current_user.id) %></li>
  </ul>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <div class="panel panel-default">
      <h3><b>売上管理</b></h3>

      <div class="edit-bank">
        <h4>振込先口座</h4>
        <div class="container">

          <% if !current_user.account_number.blank? %>
            <p>
              <%= current_user.bank_name %><br>
              <%= current_user.account_type %>&nbsp;
              <%= current_user.branch_code %>&nbsp;
              <%= current_user.account_number %><br>
              <%= current_user.account_name %>
            </p>
            <button class="btn white b-green" data-toggle="modal" data-target="#update-bank">
              口座を変更する
            </button>

          <% else %>
            <button class="btn white b-green" data-toggle="modal" data-target="#update-bank">
              口座を登録する
            </button>
          <% end %>

        </div>
      </div>

    </div>
  </div>
</div>

<!-- MODAL FOR BANK -->
<div id="update-bank" class="modal fade " role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">振込先口座</h4>
      </div>

      <div class="modal-body">
        <%= form_for current_user, url: update_bank_account_user_path(current_user) do |f| %>
            <p>銀行名</p>
            <div class="form-group">
              <%= f.text_field :bank_name, class: "form-control", placeholder: "湘南銀行" %>
            </div>

            <p>口座種別</p>
            <div class="form-group select">
              <%= f.select :account_type, [["普通預金","普通"], ["当座預金","当座"], ["貯蓄預金","貯蓄"]], {prompt:"選択してください"}, {required: true, autofocus: 'true', class: 'form-control',id: "account_type"} %>
            </div>

            <p>支店コード</p>
            <div class="form-group">
              <%= f.text_field :branch_code, class: "form-control", placeholder: "123" %>
            </div>

            <p>口座番号</p>
            <div class="form-group">
              <%= f.text_field :account_number, class: "form-control", placeholder: "1234567" %>
            </div>

            <p>口座名義(カタカナ)</p>
            <div class="form-group">
              <%= f.text_field :account_name, class: "form-control", placeholder: "ショウナン タロウ" %>
            </div>

            <div class="text-center">
              <%= f.submit "登録する", class: "btn-sm  white b-red" %>
            </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
