<%= @apply.name %>さん、応募•お問合わせ頂きありがとうございます!

<p>応募•問い合わせ内容</p>

<table class="table table-bordered">
 <tbody>
  <tr>
    <th scope="row">
      名前
    </th>
    <td colspan="3">

      <%= @apply.name %>
    </td>
  </tr>
  <tr>
    <th scope="row">
      メールアドレス
    </th>
    <td colspan="3">

      <%= @apply.email %>
    </td>
  </tr>
  <tr>
    <th scope="row">
      住所
    </th>
    <td colspan="3">

      <%= @apply.address %>
    </td>
  </tr>
  <tr>
    <th scope="row">
      電話番号
    </th>
    <td colspan="3">

      <%= @apply.phone_number %>
    </td>
  </tr>

  <tr>
    <th scope="row">
      その他&nbsp;自由記入欄
    </th>
    <td colspan="3">

      <%= simple_format(@apply.message) %>
    </td>
  </tr>
 </tbody>
</table>

<p>通常24時間以内に返答致しますので少々お待ちください</p>
<p>サーフ文庫&nbsp;川端伸治</p>
