<div class="" id="entry">

<div class="entry-box" id="top">
  <ul>
   <li id="title" class="">
     <%= link_to "サーフ文庫", apply_path, class: "navbar-brand " %>
   </li>
   <li class="sentence font-md">
     副収入を得られるサーフボードロッカー
   </li>
   <li class="sentence font-sm">
     副収入を得られる<br>サーフボードロッカー
   </li>

   <script type="text/javascript">
     $(function(){
      var w = window.innerWidth;
      if (w > 480){

        $(".font-sm").remove();

      }
      if (w <= 480){

        $(".font-md").remove();
        $(".font-sm").append();

      }
      console.log(w);
     });
   </script>

  </ul>

</div>

<p class="animated infinite slideOutRight" id="motion">
 <span class="">🌊</span><span class="reverse" >🏄</span>
</p>

<nav class="upper">
  <div class="inform text-center">
    <p>
      今年の夏に湘南の鵠沼海岸でオープン予定<br>
      ただいま事前登録者を<span class="red"><b>先着50名</b></span>まで募集中
    </p>
  </div>
</nav>

<p class="text-center">

事前応募フォームです。<br>返信は通常24時間以内におこなっております。
</p>

<div class="row">
  <div class=" text-center frame">
    <div class="panel panel-default">
      <h3>確認画面</h3>


      <div class="container">

        <%= form_for @apply, :url => apply_thanks_path do |f| %>

        <table class="table table-bordered text-left">
         <tbody>
          <tr>
            <th scope="row">
              名前
            </th>
            <td colspan="3">
              <%= f.hidden_field :name %>
              <%= @apply.name %>
            </td>
          </tr>
          <tr>
            <th scope="row">
              メールアドレス
            </th>
            <td colspan="3">
              <%= f.hidden_field :email %>
              <%= @apply.email %>
            </td>
          </tr>
          <tr>
            <th scope="row">
              住所
            </th>
            <td colspan="3">
              <%= f.hidden_field :address %>
              <%= @apply.address %>
            </td>
          </tr>
          <tr>
            <th scope="row">
              電話番号
            </th>
            <td colspan="3">
              <%= f.hidden_field :phone_number %>
              <%= @apply.phone_number %>
            </td>
          </tr>

          <tr>
            <th scope="row">
              その他&nbsp;自由記入欄
            </th>
            <td colspan="3">
              <%= f.hidden_field :message %>
              <%= simple_format(@apply.message) %>
            </td>
          </tr>
         </tbody>
        </table>

        <div class="actions">
          <%= f.submit "送信する", class: "btn btn-form" %>
        </div>

        <% end %>

      </div>
    </div>
  </div>
</div>

</div>
