<!-- OGP設定 -->
<meta property="og:locale" content="ja_JP" />
<meta property="og:type" content="article" />
<meta property="og:title" content="副収入を得られるサーフボードロッカーがオープン" />
<meta property="og:description" content="サーフ文庫は副収入を得られるサーフボードロッカーです。" />
<meta property="og:url" content="https://www.toollibrary.jp/apply" />
<meta property="og:site_name" content="サーフ文庫" />
<meta property="article:publisher" content="https://www.facebook.com/toollibrary.jp/" />
<meta property="article:section" content="ブランディング" />


<meta property="fb:app_id" content="1995744590643273" />
<meta property="og:image" content= "https://www.toollibrary.jp/assets/apply-5-min.jpg"/>
<meta property="og:image:secure_url" content="https://www.toollibrary.jp/assets/apply-5-min.jpg" />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="719" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="サーフ文庫は副収入を得られるサーフボードロッカーです。" />
<meta name="twitter:title" content="副収入を得られるサーフボードロッカーがオープン" />
<meta name="twitter:site" content="@0101shinji" />
<meta name="twitter:image" content= " https://www.toollibrary.jp/assets/apply-6-min.jpg " />
<meta name="twitter:creator" content="@0101shinji" />



<div class="" id="entry">

<div class="entry-box" id="top">
  <ul>
   <li id="title" class="">
     <%= link_to "サーフ文庫", apply_path, class: "navbar-brand " %>
   </li>
   <li class="sentence font-md">
     副収入を得られるサーフボードロッカー
   </li>
   <li class="sentence font-sm">
     副収入を得られる<br>サーフボードロッカー
   </li>

   <script type="text/javascript">
     $(function(){
      var w = window.innerWidth;
      if (w > 480){

        $(".font-sm").remove();

      }
      if (w <= 480){

        $(".font-md").remove();
        $(".font-sm").append();

      }
      console.log(w);
     });
   </script>

  </ul>
  <div class="entry-case entry-button">

      <%= link_to "登録する", anchor: "entry-form"  %>


  </div>
</div>

<p class="animated infinite slideOutRight" id="motion">
 <span class="">🌊</span><span class="reverse" >🏄</span>
</p>

<nav class="upper">
  <div class="inform text-center">
    <p>
      今年の夏に湘南の鵠沼海岸でオープン予定<br>
      ただいま事前登録者を<span class="red"><b>先着50名</b></span>まで募集中
    </p>

  </div>
</nav>

<!--イメージ写真-->
<div class="apply-image">
  <div class="image-case">
    <h2>
      <b>
        ボードを預けて<br>
        副収入をゲットしよう!
      </b>
    </h2>
  </div>
</div>


<!--about-->
<div class="about-box">

  <p class="entry-button text-center">
    <%= link_to "登録する", anchor: "entry-form" %>
  </p>

</div>


<h3 class="text-center heading">コンセプト</h3>

<div class="about-box">
  <div class="about-sentence">

    <h3 class="blue">
      サーフ文庫はサーフボードロッカーを兼ねた、サーフボードのレンタルサービスです。
    </h3>
    <h4>
      ロッカーに預けたボードを他のサーファーに貸し出すことで副収入を得ることができる仕組みを提供します。

    </h4>

    <div class="">
      <p class="voice">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        「ボードロッカーに預けているが、月額費用がもったいないと感じる」<br>

        「海に行くのは週末だけ、平日はボードは使わない、預けてあるボードを貸し出して副収入を得られたらな〜」<i class="fa fa-quote-right" aria-hidden="true"></i>
      </p>
    </div>


  </div>
</div>



<!--仕組み-->
<div class="about-box">
  <div class="box-circle">
    <div class="circle-top">仕組み</div>
  </div>

  <div class="about-sentence">

    <h4>
      ロッカーに預けて頂いたボードはサーフ文庫が責任を持って管理し、専用のWEBページに掲載します。
    </h4>
    <h4>
      またボードを借りたいユーザーはWEBページから予約しレンタルでき、一方ボードを預けているユーザーは専用のマイページでレンタル状況や収入をいつでも確認できます。
    </h4>
    <div class="">
      <img id="" class="img-responsive" src="/assets/apply-3-min.jpg" alt="" width="" height="" />
    </div>

    <div class="table_container " id="flow">
      <h4 class="text-center"><b>利用の流れ</b></h4>
      <div class="table-responsive scroll-box">
        <table class="table">
          <tbody>
            <tr>
              <th>
                <p>
                  <span>1.</span>
                  ボードをボードロッカー(サーフ文庫)に預ける
                </p>
              </th>
            </tr>
            <tr>
              <th>
                <p>
                  <span>2.</span>
                  サーフ文庫の運営スタッフがボードの写真撮影やボード情報の掲載をおこない、専用のWEBページを作成
                </p>
              </th>
            </tr>
            <tr>
              <th>
                <p>
                  <span>3.</span>
                  ボードを借りたいユーザーはWEBページから予約と決済をおこなう
                </p>
              </th>
            </tr>
            <tr>
              <th>
                <p>
                  <span>4.</span>
                  当日にボードを借りたいユーザーに貸出し
                </p>
              </th>
            </tr>
            <tr>
              <th>
                <p>
                  <span>5.</span>
                  商品を返却してもらい、レンタル終了
                </p>
              </th>
            </tr>
            <tr>
              <th>
                <p>
                  <span>6.</span>
                  後日にサーフ文庫からレンタル代金から手数料を引いた金額を指定の銀行口座へお振込
                </p>
              </th>
            </tr>


          </tbody>
        </table>
      </div>
    </div>
  </div>



</div>
<!-- 取扱い商品 -->
<div class="about-box">
  <div class="box-circle">
    <div class="circle-top">取扱い商品</div>
  </div>

  <div class="about-sentence">

    <div class="">
      <img id="" class="img-responsive" src="/assets/surfboards-min.png" alt="" width="" height="" />
    </div>

    <table class="table table-bordered">
     <tbody>
      <tr>
        <th scope="row">
          <b>サーフボード</b>
        </th>
        <td colspan="3">
          ショートボード<br>
          ファンボード<br>
          ロングボード
        </td>
      </tr>
      <tr>
        <th scope="row">
          <b>SUPボード</b>
        </th>
        <td colspan="3">
          サーフ<br>
          オールラウンド<br>
          フィッシング<br>
          クルージング
        </td>
      </tr>


     </tbody>
    </table>


  </div>
</div>

<!-- 地図 -->
<div class="about-box">
  <div class="box-circle">
    <div class="circle-top">場所</div>
  </div>

  <div class="about-sentence">

    <div class="">
      <img id="" class="img-responsive" src="/assets/apply-4-min.jpg" alt="" width="" height="" />
    </div>

    <p>
      ボードロッカーの場所は神奈川県藤沢市の鵠沼海岸付近を予定しています。
    </p>
    <p>
      ※事前登録の状況により予定が変更になる可能性があります。
    </p>



  </div>
</div>


<!-- 手数料 -->
<div class="about-box">
  <div class="box-circle">
    <div class="circle-top ">利用料</div>
  </div>
  <div class="about-sentence">
    <p>
      ボードロッカー代金が月額<b>4,000</b>円かかります。(※入会金や年会費は不要)
    </p>
    <p>
      レンタル代金の<b>40</b>%を報酬としてお支払いします。
    </p>
    <p>
      ボードのレンタル代金は預けているユーザーが自由に決めることができます。例えばロングボードを1日3,000円で貸し出すことにした場合、1回あたり1,200円(3,000円×0.4)が収入です。仮に1ヶ月に3回レンタルされたとすると、合計3,600円の収入となり、ボードロッカーを実質400円(4,000円-3,600円)で利用できることになります。
    </p>
    <p>

    </p>
    <p>
      ※ボードロッカー代金や手数料のパーセンテージは将来的に変更になる可能性もあります。
    </p>

    <div class="table_container">
      <h4 class="text-center"><b>利用例</b></h4>
      <h4 class="text-center">例&nbsp;:&nbsp;1日3,000円で月3回レンタルされた場合</h4>
      <div class="table-responsive scroll-box">
        <table class="table">
          <tbody>
            <tr>

              <th>会費</th>
              <th>登録料</th>
              <th>ロッカー月額利用料</th>
              <th>レンタル収入</th>

              <th>トータル</th>
            </tr>

            <tr>

              <td class="red"><b>無料</b></td>
              <td class="red"><b>無料</b></td>
              <td><b>-4,000円</b></td>
              <td class="blue"><b>+3,600円</b></td>

              <td><b>-400円</b></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="table_container">
      <h4 class="text-center"><b>比較</b></h4>
      <h4 class="text-center">一般的なボードロッカーと６ヶ月間の支出を比べてみましょう
      </h4>
      <div class="table-responsive scroll-box">
        <table class="table">
          <tbody>
            <tr>
              <th></th>
              <th>サーフ文庫</th>
              <th>一般的なボードロッカー</th>
            </tr>
            <tr>
              <th>入会金</th>
              <td class="red"><b>無料</b></td>
              <td>-10,000円</td>

            </tr>

            <tr>
              <th>ロッカー代</th>
              <td>-24,000円(月額4,000円)</td>
              <td>-30,000円(月額5,000円)</td>

            </tr>
            <tr>
              <th>レンタル収入</th>
              <td class="blue"><b>+21,600円(1ヶ月3,600円)</b></td>
              <td>0円</td>

            </tr>
            <tr>
              <th>支出合計</th>
              <td><b>-2,400円</b></td>
              <td>-40,000円</td>

            </tr>
            <tr>
              <th>差額</th>

              <td></td>
              <td class="red"><b>-37,600円</b></td>


            </tr>


          </tbody>
        </table>
      </div>
      <h4 class="text-center red"><b>3万円以上の削減効果があります!</b>
      </h4>
    </div>

  </div>



</div>
<!-- 補償 -->
<div class="about-box" id="compensation">
  <div class="box-circle">
    <div class="circle-top ">
      補償
    </div>
  </div>
  <div class="about-sentence">
    <p>
      ボードを貸出し中に万が一発生した破損や盗難に関しては<span>全額</span>補償されます。また保障費は購入時期と購入価格やブランド、中古市場価格を基に算出され、その上限は以下のとおりです。
    </p>

    <div class="table_container">
      <h4 class="text-center"><b>補償費の上限</b></h4>
      <div class="table-responsive scroll-box">
        <table class="table">
          <tbody>
            <tr>
              <th></th>
              <th>購入時期</th>
              <th>全損と盗難の補償上限</th>
              <th>修理の補償上限</th>

            </tr>
            <tr>
              <td>サーフボード,SUPボード</td>
              <td>1年以内</td>
              <td>購入価格&nbsp;×&nbsp;0.6</td>
              <td>15,000円</td>

            </tr>
            <tr>
              <td>サーフボード,SUPボード</td>
              <td>1年以上2年以内</td>
              <td>購入価格&nbsp;×&nbsp;0.5</td>
              <td>15,000円</td>
            </tr>
            <tr>
              <td>サーフボード,SUPボード</td>
              <td>2年以上3年以内</td>
              <td>購入価格&nbsp;×&nbsp;0.4</td>
              <td>10,000円</td>
            </tr>
            <tr>
              <td>サーフボード,SUPボード</td>
              <td>3年以上</td>

              <td>購入価格&nbsp;×&nbsp;0.3</td>
              <td>10,000円</td>
            </tr>


          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>
<!--特徴-->
<div class="about-box">
  <div class="box-circle">
    <div class="circle-top">特徴</div>
  </div>

  <div class="about-sentence">
    <h3 class="text-center">サーフ文庫の3つの特徴</h3>

    <div class="case">
      <h3 class="text-center"><b>面倒なことは全てお任せ</b></h3>

      <div class="">
        <img id="" class="img-responsive" src="/assets/apply-1-min.png" alt="" width="" height="" />
      </div>
      <p>
        ロッカーにボードを預けていただければ、商品ページの作成やボードのケア、貸出し手続きなどの面倒なことは全てサーフ文庫の運営スタッフがおこないます。<br>
        皆さんはボードを預けるだけでオーケーです。


      </p>

    </div>

    <div class="case">
      <h3 class="text-center"><b>あなた専用</b></h3>

      <div class="">
        <img id="" class="img-responsive" src="/assets/apply-2-min.png" alt="" width="" height="" />
      </div>
      <p>
        貸出しているボードの情報や貸出し履歴、そして今月の収入を専用のマイページからいつでも確認できます。
      <p>

    </div>

    <div class="case">
      <h3 class="text-center"><b>安心安全</b></h3>
      <p>
        皆さんのボードをレンタルできるのは電話番号、身分証で身分が確認できた人だけです。また営業時間内はスタッフが常駐しているので安心して預けて頂けます。
      </p>

    </div>

  </div>
</div>

<h3 class="text-center heading">Q&A</h3>

<div class="qanda-container frame">



  <div class="qanda-case">

    <ul class="">


      <li class="qanda">
        <div>
          <p class="question">
            <span class="symbol-1">Q</span>
            <span >破損への補償はどうなっているの?</span>
          </p>

        </div>
        <div class="">
          <p>
            <span class="symbol-2">A</span><br>
            ホストが商品を貸出し中に発生した破損や盗難に関しては全額補償され、その保障費は購入時期と購入価格やブランド、中古市場価格を基に算出されます。
          </p>
        </div>
      </li>



      <li class="qanda">
        <div>
          <p class="question">
            <span class="symbol-1">Q</span>
            <span>借り手は信用できる人なの？</span>
          </p>

        </div>
        <div class="">
          <p>
            <span class="symbol-2">A</span><br>
            レンタルするためには、氏名・携帯電話番号・身分証等所定の事項の登録が必要となっており、それらをすべて登録した人のみが借りることができる仕様になっています。

          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <p class="question">
            <span class="symbol-1">Q</span>
            <span>預けてあるボードを自分が使いたい場合はどうすればいいのか？貸し出し可能な日と不可の日がある場合はどうすればいい？</span>
          </p>

        </div>
        <div class="">
          <p>
            <span class="symbol-2">A</span><br>
            専用のマイページ内にあるカレンダーから貸し出し不可の日を設定できるようになっています。自分が使いたい日は貸し出し不可に設定して頂くことができます。

          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <p class="question">
            <span class="symbol-1">Q</span>
            <span >預けることができるサーフボードは？</span>
          </p>

        </div>
        <div class="">
          <p>
            <span class="symbol-2">A</span><br>
            ご自身がそのサーフボード類の所有者であることが条件とないっています。

          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <p class="question">
            <span class="symbol-1">Q</span>
            <span >料金はどうやって、いつ振り込まれますか？</span>
          </p>

        </div>
        <div class="">
          <p>
            <span class="symbol-2">A</span><br>
            サーフ文庫からの振込は、ご登録頂いた銀行口座へ行います。<br>
            振込タイミングは、レンタル完了日の翌日がn月の場合、n+1月 の最終営業日となります。<br>
           （例：レンタル完了日が5月10日の場合、7月の最終営業日に振込まれます。）<br>
            ただし、登録された口座情報が間違っている場合には振り込みが実施されませんので、ご注意ください。
          </p>

          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <p class="question">
            <span class="symbol-1">Q</span>
            <span>サーフ文庫でサーフボード類を貸し出したことによって得た収入は、所得税法上、どの所得区分になりますか？</span>
          </p>

        </div>
        <div class="">
          <p>
            <span class="symbol-2">A</span><br>
            サーフ文庫でのレンタル収入は、所得税法上、雑所得に区分される所得と当社は考えております。レンタル収入を雑所得以外の所得として区分する場合には、税務の専門家もしくはお近くの税務署へ相談の上、区分することをおすすめします。
          </p>

          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <p class="question">
            <span class="symbol-1">Q</span>
            <span>サーフ文庫に興味はあるが、いまいち仕組みがよく分からない!</span>
          </p>

        </div>
        <div class="">
          <p>
            <span class="symbol-2">A</span><br>
            下のフォームからお気軽にお問合わせくださいませ。また直接会ってサービスについてお話させて頂くことも可能です。
          </p>

          </p>
        </div>
      </li>

    </ul>
  </div>

</div>

<div class="row">
  <div class="text-center frame">
    <div class="panel panel-default" id="entry-form">
      <h3><b>事前登録する</b></h3>

      <div class="container">

        <%= form_for @apply, :url => apply_confirm_path do |f| %>

        <% if @apply.errors.any? %>
         <div class="alert alert-danger" role="alert">
          <strong>入力内容にエラーがあります</strong>
           <ul>
             <% @apply.errors.each do |attr, msg| %>
              <li><%= msg %></li>
             <% end %>
           </ul>
         </div>
        <% end %>

        <div class="form_box">
          <p>名前&nbsp;<span class="essential">(必須項目)</span></p>
          <div class="form-group">
            <%= f.text_field :name, placeholder: "湘南太郎", class: "form-control" %>
          </div>
        </div>

        <div class="form_box">
          <p>メールアドレス&nbsp;<span class="essential">(必須項目)</span></p>
          <div class="form-group">
            <%= f.email_field :email, placeholder: "sample@gmail.com", class: "form-control" %>
          </div>
        </div>

        <div class="form_box">
          <p>住所</p>
          <div class="form-group">
            <%= f.text_field :address, placeholder: "神奈川県藤沢市辻堂1-1-1", class: "form-control" %>
          </div>
        </div>

        <div class="form_box">
          <p>電話番号</p>
          <div class="form-group">
            <%= f.text_field :phone_number, placeholder: "08012345678", class: "form-control" %>
          </div>
        </div>



        <div class="form_box inquiry-text">
          <p>その他&nbsp;自由記入欄</p>
          <div class="form-group">
            <%= f.text_area :message, class: "form-control" %>
          </div>
        </div>


        <div class="actions">
          <%= f.submit "確認する", class: "btn btn-form" %>
        </div>

        <% end %>
      </div>
    </div>
  </div>
</div>




<div class="about-box" id="shinji">
  <div class="shinji-circle">
    <h3>運営者</h3>
    <div class="shinji-logo"><!--写真なのでclass="about_logo"を使わない-->
      <img class="alignnone shinji_photo" src="/assets/shinji.jpg" alt="" width="300" height="300" />
    </div>
    <h4>
      <span id="shinji_name">川端伸治</span>
      <a href="https://twitter.com/0101shinji">

        <svg
        id="shinji_twitter"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 350 300">
        <path
        class="fill"
        d="M350.001,35.509 C346.026,42.167 340.649,49.197 333.870,56.595 C328.493,62.513 321.944,68.556 314.231,74.720 C314.231,74.720 314.231,76.940 314.231,76.940 C314.231,76.940 314.231,79.530 314.231,79.530 C314.231,80.762 314.346,81.626 314.579,82.119 C314.579,82.119 314.579,84.708 314.579,84.708 C314.579,110.109 310.022,135.572 300.903,161.097 C291.785,186.620 278.809,209.494 261.975,229.715 C243.971,251.417 222.113,268.556 196.394,281.134 C170.674,293.711 141.917,299.999 110.122,299.999 C89.546,299.999 70.142,297.041 51.904,291.122 C33.201,285.202 15.899,276.818 -0.001,265.967 C0.936,266.214 2.337,266.338 4.208,266.338 C7.948,266.831 10.755,267.077 12.626,267.077 C12.626,267.077 17.183,267.077 17.183,267.077 C33.550,267.077 49.567,264.242 65.231,258.569 C79.727,253.144 93.403,245.253 106.263,234.895 C91.300,234.649 77.387,229.469 64.531,219.357 C51.904,209.494 43.486,197.040 39.279,181.997 C42.786,182.737 45.007,183.105 45.943,183.105 C45.943,183.105 49.447,183.105 49.447,183.105 C50.151,183.352 51.202,183.476 52.605,183.476 C54.708,183.476 56.346,183.352 57.516,183.105 C59.853,183.105 63.128,182.612 67.335,181.626 C67.801,181.626 68.505,181.502 69.439,181.256 C70.376,181.009 71.075,180.887 71.542,180.887 C54.941,177.434 41.265,168.679 30.509,154.622 C19.520,140.565 14.029,124.536 14.029,106.534 C14.029,106.534 14.029,106.163 14.029,106.163 C14.029,106.163 14.029,105.794 14.029,105.794 C14.029,105.794 14.029,105.424 14.029,105.424 C18.471,108.383 23.615,110.603 29.460,112.082 C35.538,114.054 41.265,115.042 46.644,115.042 C36.354,107.644 28.640,98.642 23.497,88.038 C17.651,77.187 14.729,65.102 14.729,51.786 C14.729,44.388 15.546,37.729 17.183,31.810 C18.120,27.617 20.457,21.576 24.198,13.685 C42.435,37.358 64.177,55.854 89.429,69.172 C115.382,83.475 142.969,91.366 172.195,92.847 C171.494,87.667 171.145,84.832 171.145,84.339 C170.674,80.886 170.441,78.051 170.441,75.830 C170.441,54.868 177.456,36.989 191.483,22.193 C205.512,7.396 222.462,-0.002 242.337,-0.002 C252.623,-0.002 262.325,2.094 271.444,6.286 C280.562,10.971 288.394,16.891 294.942,24.042 C302.423,22.315 310.372,19.850 318.788,16.644 C325.803,13.931 333.051,10.232 340.532,5.547 C337.729,14.424 333.634,22.439 328.260,29.591 C322.179,36.989 315.751,42.907 308.969,47.347 C315.984,46.113 322.999,44.634 330.010,42.907 C335.388,41.428 342.052,38.961 350.001,35.509 Z"/>
        </svg>
      </a>
    </h4>
  </div><!--// div class="shinji-circle"-->
  <div class="about-sentence">
    <p>
      湘南のWEB企業で働くエンジニア(Ruby,RubyonRails)<br>
      2017年の春から藤沢市在住で、サーフィンのレンタルサービスを思いつき2018年夏から運営予定

    </p>
    <p>
      <%= link_to("第18回湘南ビジネスコンテスト", "http://www.s-cns.com/contest/contest2017.html", class: "gray")%>で来場者賞受賞
    </p>
    <p>
      サーフィン歴は1年、ホームポイントは「鵠沼銅像前」「引地川河口」。<br>
      Mail&nbsp;:&nbsp;s-kawabata[at]digisurf.co.jp&nbsp;[at]を@に変更してください<br>
      趣味:ジョギング、海外旅行
    </p>

  </div>

</div>

  <p class="entry-button text-center">
    <%= link_to "登録する", anchor: "entry-form" %>
  </p>

  <div class="social_logo">

      <a href="https://www.facebook.com/toollibrary.jp/">
         <svg
         id="footer_facebook"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 0 300 300">
          <path class="fill" d="M283.000,-0.000 C283.000,-0.000 17.000,-0.000 17.000,-0.000 C7.853,-0.000 -0.000,7.854 -0.000,17.000 C-0.000,17.000 -0.000,283.000 -0.000,283.000 C-0.000,292.144 7.853,300.000 17.000,300.000 C17.000,300.000 161.000,300.000 161.000,300.000 C161.000,300.000 161.000,183.000 161.000,183.000 C161.000,183.000 121.000,183.000 121.000,183.000 C121.000,183.000 121.000,139.000 121.000,139.000 C121.000,139.000 161.000,139.000 161.000,139.000 C161.000,139.000 161.000,105.000 161.000,105.000 C161.000,66.251 183.432,45.000 218.000,45.000 C234.558,45.000 249.852,46.449 254.000,47.000 C254.000,47.000 254.000,88.000 254.000,88.000 C254.000,88.000 229.000,88.000 229.000,88.000 C210.201,88.000 207.000,96.891 207.000,110.000 C207.000,110.000 207.000,139.000 207.000,139.000 C207.000,139.000 252.000,139.000 252.000,139.000 C252.000,139.000 246.000,183.000 246.000,183.000 C246.000,183.000 207.000,183.000 207.000,183.000 C207.000,183.000 207.000,300.000
          207.000,300.000 C207.000,300.000 283.000,300.000 283.000,300.000 C292.144,300.000 300.000,292.144 300.000,283.000 C300.000,283.000 300.000,17.000 300.000,17.000 C300.000,7.854 292.144,-0.000 283.000,-0.000 Z"/>
        </svg>
      </a>

  </div>

  <p class="animated infinite slideOutRight" id="motion">
   <span class="">🌊</span><span class="reverse" >🏄</span>
  </p>

  <nav class="lower">
    <div class="inform text-center">
      <p>
        <%= link_to "トップへ戻る", anchor: "top" %>
      </p>
    </div>
  </nav>

</div>


<script>
  $(".qanda").click(function(){
    var $answer=$(this).find(".qanda-list");
    if ($answer.hasClass("open")) {
      $answer.removeClass("open");
      $answer.slideUp();
      $(this).find(".sign").text("+");
    }else{
      $answer.addClass("open");
      $answer.slideDown();
      $(this).find(".sign").text("-");
    }
  });

</script>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


<!-- Channel Plugin Scripts -->
<script>
  ;window.channelPluginSettings = {
    "pluginKey": "834b2b9d-3f8f-49dc-8ce2-70209e933f7a"
  };
  (function() {
    var w = window;
    if (w.ChannelIO) {
      return (window.console.error || window.console.log || function(){})('ChannelIO script included twice.');
    }
    var d = window.document;
    var ch = function() {
      ch.c(arguments);
    };
    ch.q = [];
    ch.c = function(args) {
      ch.q.push(args);
    };
    w.ChannelIO = ch;
    function l() {
      if (w.ChannelIOInitialized) {
        return;
      }
      w.ChannelIOInitialized = true;
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
      s.charset = 'UTF-8';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
    if (document.readyState === 'complete') {
      l();
    } else if (window.attachEvent) {
      window.attachEvent('onload', l);
    } else {
      window.addEventListener('DOMContentLoaded', l, false);
      window.addEventListener('load', l, false);
    }
  })();
</script>
<!-- End Channel Plugin -->
