<div class="guidance-link">
  <ul class="">
    <li class=""><%= link_to "サーフ文庫について", about_path, class: "active" %></li>
    <li class=""><%= link_to "取引きの仕組み", pages_guide_path %></li>
    <li class=""><%= link_to "サーフボードを貸す", pages_host_flow_path %></li>
    <li class=""><%= link_to "サーフボードを借りる",pages_guest_flow_path %></li>
    <li class=""><%= link_to "Q&A", pages_qanda_path %></li>
    <li class=""><%= link_to "運営者", pages_management_path %></li>
  </ul>
</div>
