<!-- Trigger the modal with a button -->
<div class="search-spot">
  <p class="text-center" data-toggle="modal" data-target="#spotModal" >
   サーフ<br>スポット
 </p>
</div>

<!-- Modal -->
<div id="spotModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">全国のサーフスポット</h4>
      </div>
      <div class="modal-body">
        <div class="">
          <h5>北海道~東北</h5>
          <span><%= link_to '鎌倉',search_path(search: '神奈川県鎌倉市稲村ガ崎') %></span>
          <span><%= link_to '鎌倉',search_path(search: '神奈川県鎌倉市稲村ガ崎') %></span>
          <span><%= link_to '鎌倉',search_path(search: '神奈川県鎌倉市稲村ガ崎') %></span>
          <span><%= link_to '鎌倉',search_path(search: '神奈川県鎌倉市稲村ガ崎') %></span>

        </div>
        <div class="">
          <h5>茨城</h5>
          <span><%= link_to '鎌倉',search_path(search: '神奈川県鎌倉市稲村ガ崎') %></span>
          <span><%= link_to '鎌倉',search_path(search: '神奈川県鎌倉市稲村ガ崎') %></span>
          <span><%= link_to '鎌倉',search_path(search: '神奈川県鎌倉市稲村ガ崎') %></span>
          <span><%= link_to '鎌倉',search_path(search: '神奈川県鎌倉市稲村ガ崎') %></span>

        </div>
        <div class="">
          <h5>千葉</h5>
          <span><%= link_to '鎌倉',search_path(search: '神奈川県鎌倉市稲村ガ崎') %></span>
          <span></span>
        </div>
        <div class="">
          <h5>湘南</h5>
          <span><%= link_to '鎌倉',search_path(search: '神奈川県鎌倉市稲村ガ崎') %></span>
          <span></span>
        </div>
        <div class="">
          <h5>伊東〜伊豆</h5>
          <span><%= link_to '鎌倉',search_path(search: '神奈川県鎌倉市稲村ガ崎') %></span>
          <span></span>
        </div>
        <div class="">
          <h5>静波〜伊良湖</h5>
          <span><%= link_to '鎌倉',search_path(search: '神奈川県鎌倉市稲村ガ崎') %></span>
          <span></span>
        </div>
        <div class="">
          <h5>伊勢〜四国</h5>
          <span><%= link_to '鎌倉',search_path(search: '神奈川県鎌倉市稲村ガ崎') %></span>
          <span></span>
        </div>
        <div class="">
          <h5>宮崎〜鹿児島</h5>
          <span><%= link_to '鎌倉',search_path(search: '神奈川県鎌倉市稲村ガ崎') %></span>
          <span></span>
        </div>
        <div class="">
          <h5>北日本海</h5>
          <span><%= link_to '鎌倉',search_path(search: '神奈川県鎌倉市稲村ガ崎') %></span>
          <span></span>
        </div>
        <div class="">
          <h5>西日本海</h5>
          <span><%= link_to '鎌倉',search_path(search: '神奈川県鎌倉市稲村ガ崎') %></span>
          <span></span>
        </div>
      </div>
    </div>

  </div>
</div>
