<!-- Trigger the modal with a button -->
<div class="search-spot">
  <span>
    <a href="#" class="text-center" data-toggle="modal" data-target="#spotModal">
      サーフ<br>スポット<br>から探す
    </a>
  </span>

</div>

<!-- Modal -->
<div id="spotModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>



        <!-- 鎌倉 -->
        <div class="">
          <h5>鎌倉</h5>

          <span><%= link_to '由比ヶ浜',search_path(search: '〒248-0014 神奈川県鎌倉市由比ガ浜４丁目') %></span>

          <span><%= link_to '稲村ヶ崎',search_path(search: '〒248-0024 神奈川県鎌倉市稲村ガ崎１丁目') %></span>

          <span><%= link_to '七里ヶ浜',search_path(search: '〒248-0025 神奈川県鎌倉市七里ガ浜東２丁目２') %></span>

          <span><%= link_to '峰ヶ原',search_path(search: '〒248-0026 神奈川県鎌倉市七里ガ浜１丁目５') %></span>

          <span><%= link_to '鎌高前',search_path(search: '〒248-0026 神奈川県鎌倉市七里ガ浜２丁目１９') %></span>

          <span><%= link_to '腰越漁港',search_path(search: '〒251-0035 神奈川県藤沢市片瀬海岸１丁目１５') %></span>


        </div>

        <!-- 藤沢 -->
        <div class="">
          <h5>藤沢</h5>

          <span><%= link_to '江ノ島水族館前',search_path(search: '〒251-0035 神奈川県藤沢市片瀬海岸２丁目１９') %></span>

          <span><%= link_to '銅像前',search_path(search: '〒251-0037 神奈川県藤沢市鵠沼海岸１丁目１７−３') %></span>

          <span><%= link_to '引地川河口',search_path(search: '〒251-0037 神奈川県藤沢市鵠沼海岸４丁目４−１') %></span>

          <span><%= link_to '湘洋中学前',search_path(search: '〒251-0045 神奈川県藤沢市辻堂東海岸４丁目９') %></span>

          <span><%= link_to '辻堂正面',search_path(search: '〒251-0045 神奈川県藤沢市辻堂東海岸４丁目３') %></span>

          <span><%= link_to '第二駐車場前',search_path(search: '〒251-0046 神奈川県藤沢市辻堂西海岸３丁目４') %></span>


        </div>

        <!-- 茅ヶ崎 -->
        <div class="">
          <h5>茅ヶ崎</h5>

          <span><%= link_to '汐小前',search_path(search: '〒251-0046 神奈川県藤沢市辻堂西海岸３丁目３ ') %></span>


          <span><%= link_to '裏パーク',search_path(search: '〒253-0054 神奈川県茅ヶ崎市東海岸南４丁目 ') %></span>

          <span><%= link_to '白樺',search_path(search: '〒253-0055 神奈川県茅ヶ崎市中海岸３丁目３ ') %></span>

          <span><%= link_to '西浜',search_path(search: '〒253-0061 神奈川県茅ヶ崎市南湖６丁目１８−７ ') %></span>

          <span><%= link_to '柳島',search_path(search: '〒253-0064 神奈川県茅ヶ崎市柳島 ') %></span>

          <span><%= link_to '馬入',search_path(search: '〒254-0803 神奈川県平塚市千石河岸５７−３０ ') %></span>


        </div>




      </div>
    </div>

  </div>
</div>
