<!-- Trigger the modal with a button -->
<div class="search-spot">
  <span>
    <a href="#" class="text-center" data-toggle="modal" data-target="#spotModal">
      サーフ<br>スポット
    </a>
  </span>

</div>

<!-- Modal -->
<div id="spotModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>


        <!-- 千葉 -->
        <div class="">
          <h5>千葉</h5>
          <span><%= link_to '銚子',search_path(search: '〒288-0025 千葉県銚子市潮見町') %></span>
          <span><%= link_to '飯岡/吉崎',search_path(search: '〒289-2714 千葉県旭市三川') %></span>

          <span><%= link_to '片貝',search_path(search: '〒283-0104 千葉県山武郡九十九里町片貝') %></span>
          <span><%= link_to '一宮',search_path(search: '〒299-4303 千葉県長生郡一宮町東浪見') %></span>
          <span><%= link_to '夷隅/大原',search_path(search: '〒299-4611 千葉県いすみ市岬町和泉４４４８−１') %></span>

          <span><%= link_to '御宿/部原',search_path(search: '〒299-5223 千葉県勝浦市部原') %></span>

          <span><%= link_to '鴨川',search_path(search: '〒296-0001 千葉県鴨川市横渚') %></span>
          <span><%= link_to '和田',search_path(search: '〒299-2703 千葉県南房総市和田町仁我浦') %></span>
          <span><%= link_to '千倉/千歳',search_path(search: '〒295-0004 千葉県南房総市千倉町瀬戸') %></span>

          <span><%= link_to '平砂浦',search_path(search: '〒294-0235 千葉県館山市相浜') %></span>

        </div>
        <!-- 湘南 -->
        <div class="">
          <h5>湘南</h5>
          <span><%= link_to '鎌倉',search_path(search: '〒248-0000 神奈川県鎌倉市稲村ガ崎１丁目１９') %></span>
          <span><%= link_to '藤沢',search_path(search: '〒251-0037 神奈川県藤沢市鵠沼海岸１丁目１７−３') %></span>
          <span><%= link_to '茅ヶ崎',search_path(search: '〒253-0054 神奈川県茅ヶ崎市東海岸南６丁目 ') %></span>
          <span><%= link_to '平塚/大磯',search_path(search: '〒254-0814 神奈川県平塚市龍城ケ丘１９') %></span>
          <span><%= link_to '湯河原',search_path(search: '〒259-0312 神奈川県足柄下郡湯河原町吉浜') %></span>

        </div>




      </div>
    </div>

  </div>
</div>
