<div class="guidance-link">
  <ul class="">
    <li class="active"><%= link_to "チャレンタ!について", about_path %></li>
    <li class=""><%= link_to "取引きの仕組み", pages_guide_path %></li>
    <li class=""><%= link_to "サーフボードを貸す", pages_host_flow_path %></li>
    <li class=""><%= link_to "サーフボードを借りる",pages_guest_flow_path %></li>
    <li class=""><%= link_to "Q&A", pages_qanda_path %></li>
    <li class=""><%= link_to "運営者", pages_management_path %></li>
  </ul>
</div>

<h3 class="text-center">チャレンタ!について</h3>

<!--about-->
<div class="about-box">
  <div class="box-circle">
    <div class="circle-top">About</div>
  </div>

  <!--イメージ写真-->
  <div class="image-box">
    <div class="image-case">

      <h3>
        <b>
          プレイヤーの<br>
          プレイヤーによる<br>
          プレイヤーのための
        </b>
      </h3>

    </div>
  </div>

  <div class="about-sentence">

    <h3><span class="blue">チャレンタ!</span>は全国のどこでもローカルのサーファーからサーフボードやボード置き場を借りれる、日本初のサーフィンのシェアリングサービスです。</h3>
    <p>日本は海に囲まれており、全国にサーフィンが盛んな地域(メッカ)があり、そしてそこにはたくさんのサーファー(プレイヤー)がいます。</p>
    <p>メッカに在住するプレイヤー個人から直接サーフボードを借りたり、サーフガイドを受けることができ、今までにない新しい出逢いを提供します!</p>

    <div class="table_container">
      <h4><b>利用例</b></h4>
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <th>ユーザー</th>
              <th>サーフィン歴(頻度)</th>
              <th>現状</th>
            </tr>
            <tr>
              <td>湘南在住の会社員</td>
              <td>2年(週2回)</td>
              <td>既に1本ボード所有、2本目はいろんなボード試したい!</td>
            </tr>
            <tr>
              <td>東京都在住の会社員</td>
              <td>3年(月2回)</td>
              <td>週末に千葉へ、ローカルのショップと契約中だがロッカー代などの固定費用を削減したい!</td>
            </tr>
            <tr>
              <td>東京都在住の学生</td>
              <td>ビギナー</td>
              <td>サーフィンをやるのは夏のみ、ボードをわざわざ購入したくない!</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <p>海に入るときだけ借りることも、借りっぱなしもどちらもOK</p>
    <p>全国のサーフスポットで地元のサーファーから直接サーフボードやSUPボード、ボード置き場を借りることができ、ローカルの波にあったボードが揃っています</p>



  </div>
</div>

<!--使い方-->
<div class="about-box">
  <div class="box-circle">
    <div class="circle-top">使い方</div>
  </div>

  <div class="about-sentence">

    <h4><b>検索</b></h4>
    <div class=""><img id="" class="img-responsive" src="/assets/search-image-min.png" alt="" width="" height="" /></div>
    <p>現在地やサーフスポットから近くのボードとボード置き場を検索でき、ファンボード、ロングボード、ショートボードなどの種類やブランドからの検索にも対応</p>

    <h4><b>チャット</b></h4>
    <div class=""><img id="" class="img-responsive" src="/assets/chat-image-min.png" alt="" width="" height="" /></div>
    <p>借りたいボードやボード置き場が見つかったら、現地のサーファーとチャットで直接やり取り<p>
      <p>またボードのことだけではなく、波の状態や周辺のおすすめの飲食店なども聞いてみましょう!</p>
  </div>

</div>



<!--特徴-->
<div class="about-box">
  <div class="box-circle">
    <div class="circle-top">特徴</div>
  </div>

  <div class="about-sentence">
    <h3 class="text-center">チャレンタ!の5つの特徴</h3>
    <div class="case">
      <h4><b>認証</b></h4>
      <p>
        チャレンタ!を利用できるのはFacebook、電話番号、身分証で身分が確認できた人だけです<br>
        そして実名制とすることで「誰が貸しているの？誰が借りるの？相手は信用できる人なの？」という不安を取り除いています。<br>
        またユーザーの顔写真や名前を見ることができるのは登録ユーザーのみとすることで安心して利用できる仕様になっています(※一般の人には顔写真や名前は公開されません)
      </p>
      <div class="">
        <img id="" class="img-responsive" src="/assets/show-comparison.jpg" alt="" width="" height="" />
      </div>
    </div>

    <div class="case">
      <h4><b>安心決済</b></h4>
      <p>
        個人間のレンタルはトラブルが付き物です。「レンタル代金を支払ったのにホスト(貸し手)と連絡がつかない!取引き当日にゲスト(借り手)が現れなかった!」という事がないよう、チャレンタ!では決済をクレジットカードに限定し、取引きが無事完了した場合のみに引き起こしがおこなわれます。
      </p>
    </div>

    <div class="case">
      <h4><b>補償</b></h4>
      <p>
        万が一ボードをレンタル中に破損が発生した場合には「チャレンタ!」が間に入って対応し、ホスト(貸し手)向けには修理費用の全額を補償します。(詳しくは<%= link_to "こちら", pages_guide_path %>をご覧ください。)
      <p>
    </div>
    <div class="case">
      <h4><b>評価制度</b></h4>
      <p>
        ホスト(貸し手)、ゲスト(借り手)に対して取引後に必ず相互評価を行なっていただいているので、ホストとゲストが過去にどのような取引をおこなったのかを知る事ができます。<br>
        チャレンタ!で何度も取引いただく事によって、信頼度が増す仕組みとなっています。
      </p>
    </div>
    <div class="case">
      <h4><b>安心サポート</b></h4>
      <p>
        レンタルした商品が掲載されていた商品と状態が大幅に違う、壊れていた、レンタル中に壊れたなど、取引時のトラブルは最後まで必ずサポートし、解決します。<br>
        また、予約前のわからない事の質問や相談、サービスに対する要望なども受け付けております。チャレンタ!の<%= link_to "お問い合わせフォーム", inquiry_path %>からお問い合わせください。24時間以内に対応させていただきます。
      </p>
    </div>

  </div>
</div>


<div class="text-center">
  <p><span><%= link_to "新規ユーザー登録", new_user_registration_path, class: "btn btn-normal btn-sm " %></span></p>
</div>
