<div class="guidance-link">
  <ul class="">
    <li class=""><%= link_to "チャレンタ!について", about_path %></li>
    <li class=""><%= link_to "取引きの仕組み", pages_guide_path %></li>
    <li class=""><%= link_to "サーフボードを貸す", pages_host_flow_path %></li>
    <li class="active"><%= link_to "サーフボードを借りる",pages_guest_flow_path %></li>
    <li class=""><%= link_to "Q&A", pages_qanda_path %></li>
    <li class=""><%= link_to "運営者", pages_management_path %></li>
  </ul>
</div>

<h3 class="text-center">サーフボードを借りる</h3>

<div class="about-box flow">
  <div class="box-circle">
    <div class="circle-top ">取引の流れ</div>
  </div>

  <div class="about-sentence text-center">

    <div class="">

     <p class="voice">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        「サーフィンを始めたいけど、いきなり新品を購入したくない!」<br>
        「マンションの部屋にサーフボードを置くスペースがない!いろんなボードを試してみたい!」<i class="fa fa-quote-right" aria-hidden="true"></i>
     </p>
    </div>

    <p><i class="fa fa-long-arrow-down fa-2x" aria-hidden="true"></i></p>

    <p class="appeal">
      そんな時はチャレンタ!をご利用ください
    </p>

    <p><i class="fa fa-long-arrow-down fa-2x" aria-hidden="true"></i></p>

    <div class="list">
      <p>
        地図から借りたいサーフボードやボード置き場を探す
      </p>
      <div class="">
        <img id="" class="img-responsive" src="/assets/search-map.jpg" alt="" width="" height="" />
      </div>
    </div>

    <i class="fa fa-angle-double-down fa-2x" aria-hidden="true"></i>

    <div class="list">
      <p>
        お気に入りが見つかったら、商品の詳細ページでに移り、ホストに予約をリクエストする
      </p>
      <p>
        (※疑問点があるときはリクエストする前にホストにメッセージを送って聞いてください、また予約するためにはクレジットカードと電話番号、身分証明書、プロフィールの登録が必要です)
      </p>
    </div>

    <i class="fa fa-angle-double-down fa-2x" aria-hidden="true"></i>

    <div class="list">
       地図から借りたいサーフボードやボード置き場を探す
    </div>

<<<<<<< HEAD
=======
    <i class="fa fa-angle-double-down fa-2x" aria-hidden="true"></i>

    <div class="list">
      <p>
        ホストと専用のチャットでやりとりし、受け取り場所などを決める
      </p>

    </div>

    <i class="fa fa-angle-double-down fa-2x" aria-hidden="true"></i>

    <div class="list">
      <p>
        レンタル当日にホストからサーフボードを借り、サーフィンを楽しむ
      </p>
      <p>
        (※借りる前にサーフボードのキズの有無をホストと一緒に確認)
      </p>
    </div>

>>>>>>> 16fcde144c669ac303a3f210e3b2578ce1930ef2
    <i class="fa fa-angle-double-down fa-2x" aria-hidden="true"></i>

    <div class="list">
      <p>
<<<<<<< HEAD
        ホストと専用のチャットでやりとりし、受け取り場所などを決める
      </p>

    </div>

    <i class="fa fa-angle-double-down fa-2x" aria-hidden="true"></i>

    <div class="list">
      <p>
        レンタル当日にホストからサーフボードを借り、サーフィンを楽しむ
      </p>
      <p>
        (※借りる前にサーフボードのキズの有無をホストと一緒に確認)
      </p>
    </div>

    <i class="fa fa-angle-double-down fa-2x" aria-hidden="true"></i>

    <div class="list">
      <p>
=======
>>>>>>> 16fcde144c669ac303a3f210e3b2578ce1930ef2
        終わったらホストに返す
      </p>
      <p>
      (※借りた後にサーフボードのキズの有無をホストと一緒に確認)
      </p>
    </div>

    <i class="fa fa-angle-double-down fa-2x" aria-hidden="true"></i>

    <div class="list">
      <p>
        ホストを評価して取引き終了
      </p>

    </div>

  </div>
</div>
