<div class="dashboard-link">
  <ul class="">
    <li class=""><%= link_to "チャレンタ!について", about_path, class: "active" %></li>
    <li class=""><%= link_to "取引きの仕組み", pages_guide_path %></li>
    <li class=""><%= link_to "サーフボードを貸す", pages_host_flow_path %></li>
    <li class=""><%= link_to "サーフボードを借りる",pages_guest_flow_path %></li>
    <li class=""><%= link_to "Q&A", pages_qanda_path %></li>
  </ul>
</div>



<div class="about-box flow">
  <h3 class="text-center">サーフボードを借りる</h3>

  <div class="about-sentence text-center">

    <div class="">

     <p class="voice">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        「サーフィンを始めたいけど、いきなり新品を購入したくない!」<br>
        「マンションの部屋にサーフボードを置くスペースがない!いろんなボードを試してみたい!」<i class="fa fa-quote-right" aria-hidden="true"></i>
     </p>
    </div>

    <p><i class="fa fa-long-arrow-down fa-2x" aria-hidden="true"></i></p>

    <p class="appeal">
      そんな時はチャレンタ!をご利用ください
    </p>

    <p ><i class="fa fa-long-arrow-down fa-2x" aria-hidden="true"></i></p>

    <p class="list">
      サーフスポットから借りたいサーフボードを探し、予約する
    </p>
    <i class="fa fa-angle-double-down fa-2x" aria-hidden="true"></i>
    <p class="list">
      ホストと専用のチャットでやりとりし、受け取り場所などを決める
    </p>
    <i class="fa fa-angle-double-down fa-2x" aria-hidden="true"></i>
    <p class="list">
      レンタル当日にホストからサーフボードを借り、サーフィンを楽しむ<br>
      (※借りる前にサーフボードのキズの有無をホストと一緒に確認)
    </p>
    <i class="fa fa-angle-double-down fa-2x" aria-hidden="true"></i>
    <p class="list">
      終わったらホストに返す<br>
      (※借りた後にサーフボードのキズの有無をホストと一緒に確認)
    </p>

    <i class="fa fa-angle-double-down fa-2x" aria-hidden="true"></i>
    <p class="list">
      ホストを評価して取引き終了
    </p>

  </div>
</div>
