<div class="dashboard-link">
  <ul class="">
    <li class=""><%= link_to "チャレンタ!について", about_path, class: "active" %></li>
    <li class=""><%= link_to "取引きの仕組み", pages_guide_path %></li>
    <li class=""><%= link_to "サーフボードを貸す", pages_host_flow_path %></li>
    <li class=""><%= link_to "サーフボードを借りる",pages_guest_flow_path %></li>
    <li class=""><%= link_to "Q&A", pages_qanda_path %></li>
  </ul>
</div>

<h3 class="text-center">取引きの仕組み</h3>

<!--仕組み-->
<div class="about-box">
  <div class="box-circle">
    <div class="circle-top">仕組み</div>
  </div>

  <div class="about-sentence">
    <div class=""><img id="" class="img-responsive" src="/assets/rental.jpg" alt="" width="" height="" /></div>
    <p>ユーザー登録や出品は無料でできます(取引が成立した場合のみ一部手数料をいただきます)</p>

  </div>
</div>

<div class="about-box">
  <div class="box-circle">
    <div class="circle-top ">サポーター費</div>
  </div>
  <div class="about-sentence">
    <p>
      一度の取引において、ホスト(貸し手)とゲスト(借り手)の双方から、1日あたりレンタル価格の10%をサポーター費として頂いております。
    </p>

    <p>
      サポーター費は3ヶ月スパンで積み立てし、チャレンタ!の運営費やこの期間中の取引きで発生した破損への修理費用などに当てられます。そして使われなかったサポーター費は3ヶ月ごとに精算し、環境保護団体などへ寄付されます。(返金はされません)
    </p>
    <p>
      またサポーター費の積み立てや寄付の状況は<%= link_to "こちら", pages_guide_path %>のページで公開しています。
    </p>
    <div class="table_container">
      <h4><b>費用</b></h4>
      <h4>例&nbsp;:&nbsp;1日3,000円でレンタルされた場合</h4>
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <th></th>
              <th>登録料</th>
              <th>利用料</th>
              <th>レンタル代</th>
              <th>サポーター費</th>
              <th>トータル</th>
            </tr>
            <tr>
              <td>ゲスト(借り手)</td>
              <td>無料</td>
              <td>無料</td>
              <td>3,000円</td>
              <td>300円</td>
              <td><b>3,300円(3,000円＋300円)の支払い</b></td>
            </tr>
            <tr>
              <td>ホスト(貸し手)</td>
              <td>無料</td>
              <td>無料</td>
              <td>3,000円</td>
              <td>300円</td>
              <td><b>2,700円(3,000円-300円)の収入</b></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<div class="about-box">
  <div class="box-circle">
    <div class="circle-top ">ホストへの振込</div>
  </div>
  <div class="about-sentence">

    <p>
      チャレンタ!からホスト(貸し手)への振込は、ご登録頂いた銀行口座へ行います。(登録は<%= link_to "こちら", payout_method_path %>)
    </p>
    <p>
      振込タイミングは、レンタル完了日の翌日がn月の場合、n+1月 の最終営業日となります。<br>
     （例：レンタル完了日が5月10日の場合、7月の最終営業日に振込まれます。）
    </p>
    <p>
     ただし、登録された口座情報が間違っている場合には振り込みが実施されませんので、ご注意ください。
    </p>

  </div>
</div>

<div class="about-box">
  <div class="box-circle">
    <div class="circle-top ">ゲストの支払い</div>
  </div>
  <div class="about-sentence">

    <p>
      チャレンタ!において、ゲストのレンタル代金の支払いはカード決済システムStripeを通して、クレジットカードによっておこなわれ、VISAとMastercardに対応しています。(Stripeについては<%= link_to "こちら", "https://stripe.com/jp" %>)
    </p>

    <p>
      またレンタル利用最終日の翌日が決済日となっています。<br>
     （例：3月30日から4月2日まで利用した場合、4月3日になります）
    </p>

    <div class="credit">
      <ul>
        <li class="mastercard">
          <img id="" class="img-responsive" src="/assets/mastercard.png" alt="" width="" height="" />
        </li>
        <li class="visa">
          <img id="" class="img-responsive" src="/assets/visa.png" alt="" width="" height="" />
        </li>
      </ul>
    </div>

  </div>
</div>

<div class="about-box">
  <div class="box-circle">
    <div class="circle-top ">ホストへの補償</div>
  </div>
  <div class="about-sentence">

    <p>
      ホストが商品を貸出し中に発生した破損や盗難に関しては<span>全額</span>補償されます。また保障費は購入時期と購入価格やブランド、中古市場価格を基に算出され、その上限は以下のとおりです。
    </p>

    <div class="table_container">
      <h4><b>補償費の上限</b></h4>
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <th></th>
              <th>購入時期</th>
              <th>全損と盗難の補償上限</th>
              <th>修理の補償上限</th>

            </tr>
            <tr>
              <td>サーフボード</td>
              <td>1年以内</td>
              <td>購入価格&nbsp;×&nbsp;0.6</td>
              <td>15,000円</td>

            </tr>
            <tr>
              <td>サーフボード</td>
              <td>1年以上2年以内</td>
              <td>購入価格&nbsp;×&nbsp;0.5</td>
              <td>15,000円</td>
            </tr>
            <tr>
              <td>サーフボード</td>
              <td>2年以上3年以内</td>
              <td>購入価格&nbsp;×&nbsp;0.4</td>
              <td>10,000円</td>
            </tr>
            <tr>
              <td>サーフボード</td>
              <td>3年以上</td>

              <td>購入価格&nbsp;×&nbsp;0.3</td>
              <td>10,000円</td>
            </tr>
            <tr>
              <td>リシューコード</td>
              <td></td>

              <td>2,000円</td>
              <td></td>
            </tr>
            <tr>
              <td>ウェットスーツ</td>
              <td></td>
              <td></td>
              <td>5,000円</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="about-box">
  <div class="box-circle">
    <div class="circle-top ">ゲストへの補償</div>
  </div>
  <div class="about-sentence">

    <p>
      ゲストが商品をレンタル中に発生した破損や盗難に関しては<span>半額</span>まではチャレンタ!が補償し、残りの<span>半額</span>はゲストに弁償する義務があります。
    </p>
    <p>
      またレンタル中に怪我した場合や他人を怪我させた場合への補償はありません。
    </p>
    <p>
    弁償費用はホストが商品を購入時期と購入価格やブランド、中古市場価格を基に算出され、その上限は以下のとおりです。
    </p>

    <div class="table_container">
      <h4><b>弁償費用の上限</b></h4>
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <th></th>
              <th>購入時期</th>
              <th>全損と盗難の補償上限</th>
              <th>修理の補償上限</th>

            </tr>
            <tr>
              <td>サーフボード</td>
              <td>1年以内</td>
              <td>購入価格&nbsp;×&nbsp;0.6×&nbsp;1/2</td>
              <td>15,000円×&nbsp;1/2</td>

            </tr>
            <tr>
              <td>サーフボード</td>
              <td>1年以上2年以内</td>
              <td>購入価格&nbsp;×&nbsp;0.5×&nbsp;1/2</td>
              <td>7,500円</td>
            </tr>
            <tr>
              <td>サーフボード</td>
              <td>2年以上3年以内</td>
              <td>購入価格&nbsp;×&nbsp;0.4×&nbsp;1/2</td>
              <td>5,000円×&nbsp;1/2</td>
            </tr>
            <tr>
              <td>サーフボード</td>
              <td>3年以上</td>

              <td>購入価格&nbsp;×&nbsp;0.3×&nbsp;1/2</td>
              <td>5,000円×&nbsp;1/2</td>
            </tr>
            <tr>
              <td>リシューコード</td>
              <td></td>

              <td>1,000円</td>
              <td></td>
            </tr>
            <tr>
              <td>ウェットスーツ</td>
              <td></td>
              <td></td>
              <td>2,500円</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
