
 <div class="row" id="home">

   <div id="" class="col-md-12 col-sm-12 col-xs-12 ">
     <!--イメージ写真-->
     <div class="home-image">
      <div class="image-case">
        <h2>

            湘南にひとり、<br>
            サーファーの友達を作ろう。

        </h2>
      </div>
     </div>

     <!-- サービス説明 -->
     <div class="chest" id="home-about" >

       <div class="">

         <h3><span class="blue">サーフ文庫</span>は<span class="orange">湘南</span>地域のローカルのサーファーから直接サーフボードやボード置き場を借りれる、日本初のサーフィンのシェアリングサービスです。</h3>

         <p>日本は海に囲まれており、全国にサーフィンが盛んな地域があり、そしてそこにはたくさんのサーファーがいます。</p>
         <p>ローカルに在住するサーファー個人と仲良くなって、より楽しいサーフィンライフを送りませんか?</p>

       </div>

       <p class="button">
        <%= link_to  about_path  do %>
          <span class="blue">
            サービスの詳細
          </span>
        <% end %>
       </p>

     </div>

     <!-- やりたい -->
     <div class="chest" id="home-want">
       <span class="font-lg">
         <b>
           やりたいことから探す
         </b>

       </span>

       <p>
         <span>
           <%= link_to 'サーフボードを借りたい',{:controller => "pages", :action => "refer", :q=>{:category1_eq => "サーフボード"}} %>
         </span>

         <span>
           <%= link_to 'SUPボードを借りたい',{:controller => "pages", :action => "refer", :q=>{:category1_eq => "SUPボード"}} %>
         </span>

         <span>
           <%= link_to 'ボードロッカーを借りたい',{:controller => "pages", :action => "refer", :q=>{:category2_eq => "ボード置き場"}} %>
         </span>

         <span>
           <%= link_to '初心者向けのコーチングを受けたい',{:controller => "pages", :action => "refer", :q=>{:category2_eq => "コーチング"}} %>
         </span>

         <span>
           <%= link_to 'サーフィン写真を撮影したい',{:controller => "pages", :action => "refer", :q=>{:category2_eq => "写真撮影"}} %>
         </span>


       </p>
     </div>

     <!-- 新着の商品 -->
     <div class="chest" id="home-listings">
       <span class="font-lg">
         <b>
           新着の商品
         </b>

       </span>

       <div class="box" >

         <div class="row listings-list">
          <%= render partial: "listings/listings_list", locals: {listings: @listings} %>
         </div>

       </div>

       <p class="button">
        <%= link_to  index_path  do %>
          <span class="blue">
            出品商品をすべて見る&nbsp;<%= @listings.count %>
          </span>
        <% end %>
       </p>



     </div>

     <!-- 新着のホスト -->
     <div class="chest" id="home-host">
       <span class="font-lg">
         <b>
           新着のホスト
         </b>

       </span>
       <% if !(user_signed_in?)%>
         <p class="red">
           ホストの顔写真はログイン後に見ることができます
         </p>
       <% end %>

       <div class="box">

         <div class="row listings-list">
           <ul class="row-eq-height">

            <% @users.first(12).each do |user| %>




             <li class="col-md-2 col-sm-2 col-xs-3  row-eq-height twelve">

              <%= link_to user do %>

              <div class="listing-block" >
                <div class="host-image">

                  <% if (user_signed_in?)%>
                    <%= image_tag user.image, class: "img-circle avatar-large img-responsive" %>
                  <% else %>
                    <%= image_tag "avatar-default", class: "img-circle avatar-large img-responsive" %>
                  <% end %>

                </div>

                <div class="listing-content">

                  <p class="location">
                    <span class="">
                     <i class="fa fa-map-marker"></i>
                    </span>
                    <span >
                      <%= user.address_city %>
                    </span>
                  </p>

                  <p>
                    <span class="host-name">
                      <b>
                        <% if (user_signed_in?)%>
                         <%= user.fullname %>
                        <% else %>
                         <%= user.nickname %>
                        <% end %>
                      </b>

                    </span>
                  </p>

                  <p class="price-day">
                     <%= truncate(user.description, length: 24) %>
                  </p>

                </div>

              </div>

              <% end %>

             </li>

            <% end %>

         </div>

       </div>

       <p class="button">
        <%= link_to  users_path  do %>
          <span class="blue">
            ホスト一覧&nbsp;<%= @users.count %>
          </span>
        <% end %>
       </p>

     </div>

     <!-- サーフスポットから探す -->
     <div class="row chest">
       <span class="font-lg">
         <b>
           サーフスポットから探す
         </b>
       </span>

       <!-- 鎌倉 -->
       <div class=""  id="home-spot" >


         <span><%= link_to '由比ヶ浜',search_path(search: '〒248-0014 神奈川県鎌倉市由比ガ浜４丁目') %></span>

         <span><%= link_to '稲村ヶ崎',search_path(search: '〒248-0024 神奈川県鎌倉市稲村ガ崎１丁目') %></span>

         <span><%= link_to '七里ヶ浜',search_path(search: '〒248-0025 神奈川県鎌倉市七里ガ浜東２丁目２') %></span>

         <span><%= link_to '峰ヶ原',search_path(search: '〒248-0026 神奈川県鎌倉市七里ガ浜１丁目５') %></span>

         <span><%= link_to '鎌高前',search_path(search: '〒248-0026 神奈川県鎌倉市七里ガ浜２丁目１９') %></span>

         <span><%= link_to '腰越漁港',search_path(search: '〒251-0035 神奈川県藤沢市片瀬海岸１丁目１５') %></span>


         <span><%= link_to '江ノ島水族館前',search_path(search: '〒251-0035 神奈川県藤沢市片瀬海岸２丁目１９') %></span>

         <span><%= link_to '銅像前',search_path(search: '〒251-0037 神奈川県藤沢市鵠沼海岸１丁目１７−３') %></span>

         <span><%= link_to '引地川河口',search_path(search: '〒251-0037 神奈川県藤沢市鵠沼海岸４丁目４−１') %></span>

         <span><%= link_to '湘洋中学前',search_path(search: '〒251-0045 神奈川県藤沢市辻堂東海岸４丁目９') %></span>

         <span><%= link_to '辻堂正面',search_path(search: '〒251-0045 神奈川県藤沢市辻堂東海岸４丁目３') %></span>

         <span><%= link_to '第二駐車場前',search_path(search: '〒251-0046 神奈川県藤沢市辻堂西海岸３丁目４') %></span>

         <span><%= link_to '汐小前',search_path(search: '〒251-0046 神奈川県藤沢市辻堂西海岸３丁目３ ') %></span>


         <span><%= link_to '裏パーク',search_path(search: '〒253-0054 神奈川県茅ヶ崎市東海岸南４丁目 ') %></span>

         <span><%= link_to '白樺',search_path(search: '〒253-0055 神奈川県茅ヶ崎市中海岸３丁目３ ') %></span>

         <span><%= link_to '西浜',search_path(search: '〒253-0061 神奈川県茅ヶ崎市南湖６丁目１８−７ ') %></span>

         <span><%= link_to '柳島',search_path(search: '〒253-0064 神奈川県茅ヶ崎市柳島 ') %></span>

         <span><%= link_to '馬入',search_path(search: '〒254-0803 神奈川県平塚市千石河岸５７−３０ ') %></span>


       </div>

       <div id="home-map" class="col-md-12 col-sm-12 col-xs-12">
        <!-- Google Map -->
        <div id="map"></div>
       </div>
     </div>

   </div>



 </div>




<script>
  $('#start_date').datepicker({
    dateFormat: 'yy/mm/dd',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });

  $('#end_date').datepicker({
    dateFormat: 'yy/mm/dd',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });


</script>


<script>
// FAQのアコーディオン
$(".local").click(function(){
    var $answer=$(this).find(".local-list");
    if ($answer.hasClass("open")) {
      $answer.removeClass("open");
      $answer.slideUp();
      $(this).find("span").text("+");
    }else{
      $answer.addClass("open");
      $answer.slideDown();
      $(this).find("span").text("-");
    }
  });
</script>

<script>
function init() {

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 35.32, lng: 139.47
},
    zoom: 12,
    // デフォルトのコントロールセット非表示
    disableDefaultUI: true,
    // デフォルトの情報ウィンドウ非表示
    clickableIcons: false
  });

  var input = /** @type {!HTMLInputElement} */(
      document.getElementById('autolocation'));

  var autocomplete = new google.maps.places.Autocomplete(input);

  var data = new Array();


  // 由比ヶ浜
  data.push({
   lat: '35.305', //緯度 -0.004
   lng: '139.545', //経度
   url: "/search?utf8=✓&lat=&lng=&search=〒248-0014 神奈川県鎌倉市由比ガ浜４丁目&commit=検索"
  });
  // 稲村ヶ崎
  data.push({
   lat: '35.297', //緯度
   lng: '139.525', //経度
   url: "/search?utf8=✓&lat=&lng=&search=248-0024 神奈川県鎌倉市稲村ガ崎１丁目&commit=検索"
  });
  // 七里ヶ浜
  data.push({
   lat: '35.301', //緯度
   lng: '139.510', //経度
   url: "/search?utf8=✓&lat=&lng=&search=〒248-0025 神奈川県鎌倉市七里ガ浜東２丁目２&commit=検索"
  });
  // 峰ヶ原
  data.push({
   lat: '35.302', //緯度
   lng: '139.506', //経度
   url: "/search?utf8=✓&lat=&lng=&search=〒248-0026 神奈川県鎌倉市七里ガ浜１丁目５&commit=検索"
  });
  // 鎌高前
  data.push({
   lat: '35.302', //緯度
   lng: '139.502', //経度
   url: "/search?utf8=✓&lat=&lng=&search=〒248-0026 神奈川県鎌倉市七里ガ浜２丁目１９&commit=検索"
  });
  // 腰越漁港
  data.push({
   lat: '35.304', //緯度
   lng: '139.487', //経度
   url: "/search?utf8=✓&lat=&lng=&search=〒251-0035 神奈川県藤沢市片瀬海岸１丁目１５&commit=検索"
  });

  // 江ノ島水族館前
  data.push({
   lat: '35.305', //緯度
   lng: '139.480', //経度
   url: "/search?utf8=✓&lat=&lng=&search=〒251-0035 神奈川県藤沢市片瀬海岸２丁目１９&commit=検索"
  });

  // 銅像前
  data.push({
   lat: '35.311', //緯度
   lng: '139.469', //経度
   url: "/search?utf8=✓&lat=&lng=&search=〒251-0037 神奈川県藤沢市鵠沼海岸１丁目１７−３"
  });
  // 引地川河口
  data.push({
   lat: '35.312', //緯度
   lng: '139.465', //経度
   url: "/search?utf8=✓&lat=&lng=&search=〒251-0037 神奈川県藤沢市鵠沼海岸４丁目４−１&commit=検索"
  });
  // 湘洋中学前
  data.push({
   lat: '35.314', //緯度
   lng: '139.457', //経度
   url: "/search?utf8=✓&lat=&lng=&search=〒251-0045 神奈川県藤沢市辻堂東海岸４丁目９&commit=検索"
  });
  // 辻堂正面
  data.push({
   lat: '35.314', //緯度
   lng: '139.453', //経度
   url: "/search?utf8=✓&lat=&lng=&search=〒251-0045 神奈川県藤沢市辻堂東海岸４丁目３&commit=検索"
  });
  // 第二駐車場前
  data.push({
   lat: '35.316', //緯度
   lng: '139.444', //経度
   url: "/search?utf8=✓&lat=&lng=&search=〒251-0046 神奈川県藤沢市辻堂西海岸３丁目４&commit=検索"
  });

  // クソ下
  data.push({
   lat: '35.316', //緯度
   lng: '139.438', //経度
   url: "/search?utf8=✓&lat=&lng=&search=〒251-0046 神奈川県藤沢市辻堂西海岸３丁目３&commit=検索"
  });
  // 裏パーク
  data.push({
   lat: '35.313', //緯度
   lng: '139.412', //経度
   url: "/search?utf8=✓&lat=&lng=&search=〒253-0054 神奈川県茅ヶ崎市東海岸南４丁目&commit=検索"
  });
  // 白樺
  data.push({
   lat: '35.314', //緯度
   lng: '139.406', //経度
   url: "/search?utf8=✓&lat=&lng=&search=〒253-0055 神奈川県茅ヶ崎市中海岸３丁目３&commit=検索"
  });
  // 西浜
  data.push({
   lat: '35.312', //緯度
   lng: '139.396', //経度
   url: "/search?utf8=✓&lat=&lng=&search=〒253-0061 神奈川県茅ヶ崎市南湖６丁目１８−７&commit=検索"
  });
  // 柳島
  data.push({
   lat: '35.313', //緯度
   lng: '139.380', //経度
   url: "/search?utf8=✓&lat=&lng=&search=〒253-0064 神奈川県茅ヶ崎市柳島&commit=検索"
  });
  // 馬入
  data.push({
   lat: '35.311', //緯度
   lng: '139.366', //経度
   url: "/search?utf8=✓&lat=&lng=&search=〒254-0803 神奈川県平塚市千石河岸５７−３０&commit=検索"
  });



  for (i = 0; i < data.length; i++) {
   var marker = new google.maps.Marker({
     position: new google.maps.LatLng(data[i].lat, data[i].lng),
     map: map,
     icon: {url: 'assets/wave.png',scaledSize: new google.maps.Size(25, 25)}
   });

   //クリックしたら指定したurlに遷移するイベント
   google.maps.event.addListener(marker, 'click', (function(url){
     return function(){ location.href = url; };
   })(data[i].url));
 }


 marker.setMap(map);


  autocomplete.addListener('place_changed', function() {

    var place = autocomplete.getPlace();
    var lat = place.geometry.location.lat();
    var lng = place.geometry.location.lng();

    document.getElementById('lat').value = lat ;
    document.getElementById('lng').value = lng ;

    if (!place.geometry) {
      window.alert("Autocomplete's returned place contains no geometry");
      return;
    }

  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7ZRYgtCagsAWTqGbqxkpW09Y1i_ZYixI&libraries=places&callback=init" async defer></script>

<script src="/assets/markerwithlabel.js" type="text/javascript"></script>
