<div class=" row">

  <div id="home-left" class="col-md-6 col-sm-6 col-xs-12">

   <!-- Google Map -->



   <div id="map">
   </div>

  </div>
</div>

<!-- 検索フォーム -->
<%= form_tag search_path, method: :get do %>
  <p>住所からも探せます</p>
  <div class="row search-form">

    <!-- 住所から検索 -->
    <%= hidden_field_tag :lat %>
    <%= hidden_field_tag :lng %>

    <div class="col-md-10 col-sm-10 col-xs-10 box">
      <%= text_field_tag :search, params[:search], placeholder: "例:神奈川県藤沢市", class: "form-control search-location", id: "autolocation" %>
    </div>

    <div class="col-md-2 col-sm-2 col-xs-2 box">
      <%= submit_tag "検索", class: "search-short white b-red" %>
    </div>
  </div>
<% end %>



<script>
  $('#start_date').datepicker({
    dateFormat: 'yy/mm/dd',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });

  $('#end_date').datepicker({
    dateFormat: 'yy/mm/dd',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });


</script>


<script>
// FAQのアコーディオン
$(".local").click(function(){
    var $answer=$(this).find(".local-list");
    if ($answer.hasClass("open")) {
      $answer.removeClass("open");
      $answer.slideUp();
      $(this).find("span").text("+");
    }else{
      $answer.addClass("open");
      $answer.slideDown();
      $(this).find("span").text("-");
    }
  });
</script>

<script>
function init() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 39, lng: 137},
    zoom: 4.6,
    // デフォルトのコントロールセット非表示
    disableDefaultUI: true,
    // デフォルトの情報ウィンドウ非表示
    clickableIcons: false
  });

  var input = /** @type {!HTMLInputElement} */(
      document.getElementById('autolocation'));

  var autocomplete = new google.maps.places.Autocomplete(input);

  autocomplete.addListener('place_changed', function() {

    var place = autocomplete.getPlace();
    var lat = place.geometry.location.lat();
    var lng = place.geometry.location.lng();

    document.getElementById('lat').value = lat ;
    document.getElementById('lng').value = lng ;

    if (!place.geometry) {
      window.alert("Autocomplete's returned place contains no geometry");
      return;
    }

  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7ZRYgtCagsAWTqGbqxkpW09Y1i_ZYixI&libraries=places&callback=init" async defer></script>
