<div class="dashboard-link">
  <ul class="">
    <li class=""><%= link_to "チャレンタ!について", about_path, class: "active" %></li>
    <li class=""><%= link_to "取引きの仕組み", pages_guide_path %></li>
    <li class=""><%= link_to "サーフボードを貸す", pages_host_flow_path %></li>
    <li class=""><%= link_to "サーフボードを借りる",pages_guest_flow_path %></li>
    <li class=""><%= link_to "Q&A", pages_qanda_path %></li>
  </ul>
</div>

<h3 class="text-center">Q&A</h3>

<div class="about-box">


  <div class="about-sentence">
    <p>お金仕組み 結局いくら掛かる貰える? クレジットカード</p>
    <p>入金サイクル いつ取引完了?いつ入金?</p>
    <p>取引の流れ いつ引き落とされる?</p>
    <p>破損 計算</p>
    <p>Q&A よくある質問</p>
    <p>出品方法 ホスト 出品前に写真撮影 当日ゲストと一緒にキズ確認</p>
  </div>
</div>
