<div class="guidance-link">
  <ul class="">
    <li class=""><%= link_to "チャレンタ!について", about_path %></li>
    <li class=""><%= link_to "取引きの仕組み", pages_guide_path %></li>
    <li class=""><%= link_to "サーフボードを貸す", pages_host_flow_path %></li>
    <li class=""><%= link_to "サーフボードを借りる",pages_guest_flow_path %></li>
    <li class="active"><%= link_to "Q&A", pages_qanda_path %></li>
    <li class=""><%= link_to "運営者", pages_management_path %></li>
  </ul>
</div>

<h3 class="text-center">Q&A</h3>

<div class="qanda-container">

  <div class="qanda-case">
    <h4 class="text-center">会員登録・ログイン・退会について</h4>
    <ul class="">

      <li class="qanda">
        <div class="">
          <span class="symbol-1">Q</span>
          会員登録は無料ですか？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            会員登録やサーフボード類の登録は、無料です。<br>
            ※一度の取引において、ホスト(貸し手)とゲスト(借り手)の双方から、1日あたりレンタル価格の10%をサポーター費として頂いております。
          </p>
        </div>
      </li>


      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          メールアドレスで会員登録が出来ない
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            「このメールアドレスは登録済です」と表示される場合、ご利用のメールアドレスは、すでにチャレンタ!にご登録済となります。メールアドレスを登録されたアカウントへのログインをお願いいたします。<br>
            ※チャレンタ!は、サーファー同士の信頼関係を重視したサービスとなります。そのため、1人1アカウントの原則を掲げております。ご理解をいただけますと幸いです
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          メールが届かない
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            メールの受信設定をご確認ください。ドメイン指定または、アドレスによる指定受信設定をされている場合には、お客様のもとにメールが届きません。<br>
            チャレンタ!からお送りするメールは[info@チャレンタ!.net]となっております。お手数ではございますが、上記のメールアドレスからのメールが受信できる設定になっているか、URL付きメールを受信できる設定になっているかをご確認ください。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          ログイン出来ない
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            「メールアドレスかパスワードが違います」と表示される場合、ご入力内容にお間違いがございます。お手数ですが、ご入力内容をお確かめのうえ、再度お手続きください。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
            パスワードを忘れてしまった
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            パスワードがご不明な場合には、以下の手順で再設定が可能となっております。<br>
           【パスワードの再設定方法】<br>
            1. ログインページにて「パスワードをお忘れですか？」を選択し、該当のメールアドレス宛にパスワード再設定用のメールを送信<br>
            3. 該当のメールアドレスに届いたメール内の「パスワードを再設定」を選択し、パスワード設定ページに新規パスワードを登録
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          会員情報を変更したい
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            プロフィール情報は、ログイン後にメニューバーの「プロフィール編集」から編集することが可能です。
          </p>
        </div>
      </li>


    </ul>
  </div>

  <div class="qanda-case">
    <h4 class="text-center">取引全般について</h4>
    <ul class="">
      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          サーフボード類の受け渡しはどのように行うのですか？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            サーフボード類の受け渡しは、受け渡し時に本人確認をして頂くために、ホスト・ゲストで対面で行って頂くことを原則としております。両者にとって都合の良い場所・時間をチャット等で相談して決めて頂けたらと思います。<br>
            なお、現在チャレンタ!で登録しているホストはご自宅・最寄りのサーフスポットで受渡されているケースが多いです。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          サーフボード類の受け渡しに遅れてしまいそう
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            受け渡し時刻に間に合わない場合は、直接取引のお相手にご連絡をお願いいたします。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          相手方と連絡が取れない
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            取引のお相手とチャット経由での連絡が取れない場合、予約確定済みの取引のお相手であれば、直接お電話をお願いいたします。<br>
            ※お客様同士でのご連絡をお願いしております。チャレンタ!では連絡の代行はおこなっておりません
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          破損への補償はどうなっているの?
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            ホストが商品を貸出し中に発生した破損や盗難に関しては全額補償され、その保障費は購入時期と購入価格やブランド、中古市場価格を基に算出されます。(詳細はご利用ガイドをご覧ください)<br>
            一方ゲストが商品をレンタル中に発生した破損や盗難に関しては半額まではチャレンタ!が補償し、残りの半額はゲストに弁償する義務があります。(レンタル中に怪我した場合や他人を怪我させた場合への補償はありません。)また弁償費用はホストが商品を購入時期と購入価格やブランド、中古市場価格を基に算出されます。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          サポーター費とは?
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            サポーター費とは一度の取引において、ホスト(貸し手)とゲスト(借り手)の双方から頂いている1日あたりのレンタル価格の10%の金額です。
            サポーター費は3ヶ月スパンで積み立てし、チャレンタ!の運営費やこの期間中の取引きで発生した破損への修理費用などに当てられ、使われなかったサポーター費は3ヶ月ごとに精算し、環境保護団体などへ寄付されます。(返金はされません)
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          トラブルに備えてすべきことは？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            トラブルを起こさないために、以下の点を事前にご確認ください。<br>
            ・取引きを行う前に信頼できる相手かよく確認し、相手と情報交換をする<br>
            ・事前にトラブル発生時の責任範囲や対応について、ホスト・ゲストで相談・合意をしておく<br>
            ・ホストはゲストに貸し出す前にサーフボード類の写真をとっておき、ゲストは借りる前にキズの有無をホストと一緒に確認する <br>
            ・サーフボード類を破損、紛失した場合や事故が発生した場合は、直ちにホストに連絡する

          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          事故などのトラブルが起きてしまった
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            万が一、事故、トラブルが起きた場合は直ちにホスト・ゲストで連絡を取って下さい。また、必要がある場合には、警察にゲストからご連絡をお願い致します。問題解決に向け、チャレンタ!も法律上許される範囲内でサポートに入らせて頂きます。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          レビューを書く際の注意点
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            レビューは、チャレンタ!が重視する会員同士の信頼関係を築くうえで非常に重要となります。気持ちの良いサービス利用ができるよう、事実に基づいた誠実な記載をお願いいたします。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          直接取引・金銭の手渡しをお願いされた
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            直接での取引や金銭授受は会員規約で禁止されております。また、トラブルの原因にもなります。万が一、そのような提案をされた場合には、お手数ですが問い合わせフォームからご連絡ください。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          チャレンタ!で利用可能なクレジットカードについて
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            ゲスト登録時にご登録可能なクレジットカードについては、現在のところVISA、またはMasterCardのみとなっております。<br>
            また、ご本人様名義以外のクレジットカードのご利用はお断りしています。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          メールが届かない
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            メールの受信設定をご確認ください。ドメイン指定または、アドレスによる指定受信設定をされている場合には、お客様のもとにメールが届きません。<br>
            チャレンタ!からお送りするメールは[info@チャレンタ!.net]となっております。お手数ではございますが、上記のメールアドレスからのメールが受信できる設定になっているか、URL付きメールを受信できる設定になっているかをご確認ください。
          </p>
        </div>
      </li>

    </ul>
  </div>

  <div class="qanda-case">
    <h4 class="text-center">ゲスト登録・ゲスト利用について</h4>
    <ul class="">
      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          ゲスト登録するには？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            ゲスト登録をする際は、事前に以下の条件をご確認ください。<br>
            1.日本在住者であること<br>
            2.身分証保持者であること(運転免許証または保険証) <br>
            ※実際にサーフボード類を利用するためには、携帯電話番号の登録が必要となります<br>
            ※登録していただくクレジットカードは、登録者本人の名義である必要があります<br>

          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          電話番号認証をするのは何故ですか？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            チャレンタ!は会員相互の安全性と信頼性を重視したサービス運営をおこなっており、ご利用いただくお客様には携帯電話番号での個人認証をお願いしております。携帯電話番号のご登録は本人確認の為、サービスをご利用頂く際には必須登録項目とさせて頂いております。なにとぞご理解くださいますようお願いします。<br>
            ※携帯電話番号は、予約確定した際に、ホストに開示されます
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          SMSが届かない
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            電話番号認証にてSMSを受信できない場合には、以下についてご確認ください。<br>
           ・入力した携帯電話番号に間違いがないか(11桁のハイフン無しのみ可)<br>
           ・入力した携帯電話番号が日本のものか<br>
           ・SMSの受信設定をおこなっているか<br>
            上記をご確認いただきましてもSMSが受信できない場合、ご契約状況や受信設定の詳細について、お使いの携帯電話会社様までご確認くださいますようお願いいたします。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          引き落としはいつされますか？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>

            チャレンタ!では、レンタル利用最終日の翌日が決済日となっています。<br>
           （例：3月30日から4月2日まで利用した場合、4月3日になります）<br>
            実際の料金の引き落としについては、クレジットカード会社によって異なるため、クレジットカード会社にご確認ください。
          </p>
        </div>
      </li>

    </ul>
  </div>

  <div class="qanda-case">
    <h4 class="text-center">ホスト登録・ホスト利用について</h4>
    <ul class="">
      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          ホストになるためには？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            ホスト登録するためには、貸出し予定のサーフボード類の所有者本人であることが必要です。また、氏名・生年月日・住所・携帯電話番号等所定の事項の登録が必要となります。<br>
            ※氏名・住所・携帯番号は、予約確定したゲストにのみ表示されます

          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          サーフボード類を登録する時の注意点はありますか？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            サーフボード類の魅力がドライバーに伝わるよう、サーフボード類の写真・紹介文・価格について設定をしてみて下さい。サーフボード類の紹介文には受け渡しの日時・場所について記載するとゲストとのやり取りがスムーズになると思います。<br>
            また前提として、サーフボード類の登録時には真正な情報の入力をお願い致します。ご登録頂く各種情報はサービス上で重要なものに使われるため、間違った情報入力は思わぬトラブルを引き起こすことになります。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          電話番号認証をするのは何故ですか？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            チャレンタ!は会員相互の安全性と信頼性を重視したサービス運営をおこなっており、ご利用いただくお客様には携帯電話番号での個人認証をお願いしております。携帯電話番号のご登録は本人確認の為、サービスをご利用頂く際には必須登録項目とさせて頂いております。なにとぞご理解くださいますようお願いします。<br>
            ※携帯電話番号は、予約確定した際に、ゲストに開示されます
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          SMSが届かない
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            電話番号認証にてSMSを受信できない場合には、以下についてご確認ください。<br>
           ・入力した携帯電話番号に間違いがないか(11桁のハイフン無しのみ可)<br>
           ・入力した携帯電話番号が日本のものか<br>
           ・SMSの受信設定をおこなっているか<br>
            上記をご確認いただきましてもSMSが受信できない場合、ご契約状況や受信設定の詳細について、お使いの携帯電話会社様までご確認くださいますようお願いいたします。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          登録できるサーフボード類は？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            登録可能なサーフボード類の条件は以下をご確認ください。
           【登録可能なサーフボード類の条件】
            ・ホスト自身がそのサーフボード類の所有者であること

          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          料金はどうやって、いつ振り込まれますか？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            チャレンタ!からホスト(貸し手)への振込は、ご登録頂いた銀行口座へ行います。<br>
            振込タイミングは、レンタル完了日の翌日がn月の場合、n+1月 の最終営業日となります。<br>
           （例：レンタル完了日が5月10日の場合、7月の最終営業日に振込まれます。）<br>
            ただし、登録された口座情報が間違っている場合には振り込みが実施されませんので、ご注意ください。
          </p>

          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          チャレンタ!でサーフボード類をシェアしたことによって得た収入は、所得税法上、どの所得区分になりますか？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            チャレンタ!でのレンタル収入は、所得税法上、雑所得に区分される所得と当社は考えております。レンタル収入を雑所得以外の所得として区分する場合には、税務の専門家もしくはお近くの税務署へ相談の上、区分することをおすすめします。
          </p>

          </p>
        </div>
      </li>

    </ul>
  </div>

</div>

<script>
  $(".qanda").click(function(){
    var $answer=$(this).find(".qanda-list");
    if ($answer.hasClass("open")) {
      $answer.removeClass("open");
      $answer.slideUp();
      $(this).find(".sign").text("+");
    }else{
      $answer.addClass("open");
      $answer.slideDown();
      $(this).find(".sign").text("-");
    }
  });

</script>
