<div id="main row">

  <div id="left" class="col-md-6 col-sm-6 col-xs-12">

   <!-- Google Map -->
   <div id="map">
   </div>
   <script src="https://maps.googleapis.com/maps/api/js"></script>
   </script>

    <script>
    function initialize(listings) {
      var location = {lat: 35.339170, lng: 139.490036}

      if (listings.length > 0){
        location = {lat: listings[0].latitude ,  lng: listings[0].longitude}
      }

      var map = new google.maps.Map(document.getElementById('map'), {
        center: location,
        zoom: 12,
        navigationControlOptions: {
          position: google.maps.ControlPosition.TOP
        }
      });

      var marker, inforwindow;

      listings.forEach(function(listing){
        marker = new google.maps.Marker({
          map: map
        });

        inforwindow = new google.maps.InfoWindow({
          position: {lat: listing.latitude , lng: listing.longitude },

          content: "<div class='inforwindow'>" + "<span>" + listing.price_per + "</span>&nbsp;<span class='inforwindow-price'>" + listing.price + "</span>円</div>"
        });

        inforwindow.open(map, marker);

      })
    }

      google.maps.event.addDomListener(window, 'load', function(){
        initialize(<%= raw @arrListings.to_json %>)
      });

    </script>


  </div>

  <div id="right" class="col-md-6 col-sm-6 col-xs-12">
    <!-- 検索パネル -->
    <div>
      <%= search_form_for @search, url: search_path, remote: true do |f| %>

        <div class="search-panel-li">
          <h4>ご希望のプランは?</h4>
          <div class="check">

            <%= check_box_tag "q[listing_type_eq_any][]", "rental" %>サーフボードを借りる
            <br>
            <%= check_box_tag "q[listing_type_eq_any][]", "buying-and_selling" %>サーフボードを購入
            <br>
            <%= check_box_tag "q[listing_type_eq_any][]", "coaching" %>サーフィンを教えてもらう
          </div>
        </div>

       <div class="search-detail">
        <div id="detail-header" class="text-center ">
          <p>詳細な検索<span class="chevron"><i class='fa fa-chevron-down'></i></span></p>
        </div>
        <div class="detail-list">
          <div class="row search-panel-li">
            <p>価格帯(円)</p>
            <div id="slider-range"></div>
            <div class="col-md-6 col-sm-6 col-xs-6 box">
              <%= f.text_field :price_gteq, placeholder: "Min", class: "form-control " %>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 box">
              <%= f.text_field :price_lteq, placeholder: "Max", class: "form-control " %>
            </div>
          </div>

          <hr class="dotted-hr"/>

          <div class="row search-panel-li">
            <p>借りたい日付</p>
            <div class="col-md-6 col-sm-6 col-xs-6 box">
              <%= text_field_tag :start_date, params[:start_date], readonly: true, placeholder: "開始日", class: "form-control" %>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6 box">
              <%= text_field_tag :end_date, params[:end_date], readonly: true, placeholder: "終了日", class: "form-control" %>
            </div>
          </div>

          </div>
        </div>

        <br/>

        <div class="text-center">
          <%= f.submit "絞り込む", class: "btn-sm white b-red" %>
        </div>

      <% end %>
    </div>
    <hr/>

    <!-- 出品中アイテム -->
    <div class="row row-eq-height" id="listings-list">
      <%= render partial: "listings/listings_list", locals: {listings: @arrListings} %>
    </div>

  </div>

</div>

<script>
  $('#start_date').datepicker({
    dateFormat: 'yy/mm/dd',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });

  $('#end_date').datepicker({
    dateFormat: 'yy/mm/dd',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });


</script>


<script>
  $(function() {
    $("#q_price_gteq").val('100');
    $("#q_price_lteq").val('500');

    $("#slider-range").slider({
      range: true,
      min: 0,
      max: 1000,
      values: [100, 500],
      slide: function(event, ui) {
        $("#q_price_gteq").val(ui.values[0]);
        $("#q_price_lteq").val(ui.values[1]);
      }
    });
  })
</script>

<script>
// FAQのアコーディオン
$("#detail-header").click(function(){
    var $answer = $(".search-detail").find(".detail-list");
    if ($answer.hasClass("open")) {
      $answer.removeClass("open");
      $answer.slideUp();
      $(this).find(".chevron").html("<i class='fa fa-chevron-down'></i>");
    }else{
      $answer.addClass("open");
      $answer.slideDown();
      $(this).find(".chevron").html("<i class='fa fa-chevron-up'></i>");
    }
  });

</script>
