<%= form_for([@listing, @listing.reservations.new]) do |f| %>
<div class="row date-form">
  <ul>
    <li class="col-md-6 col-sm-6 col-xs-6">
      <%= f.text_field :start_date, readonly: true, placeholder: "利用開始日", class: 'form-control datepicker' %>
    </li>
    <li class="col-md-6 col-sm-6 col-xs-6">
      <%= f.text_field :end_date, readonly: true, placeholder: "利用終了日", class: 'form-control datepicker', disabled: true %>
    </li>
  </ul>
</div>

<h5><span id="message" class="message-alert"></span></h5>

<div id="preview" style="display: none">
  <table class="reservation-table">
    <tbody>
      <tr>
        <td class="text-left">レンタル価格</td>
        <td class="text-right"><%= @listing.price %>円</td>
      </tr>
      <tr>
        <td class="text-left">日数</td>
        <td class="text-right">
          ✕&nbsp;<span id="reservation_days"></span>日間
        </td>
      </tr>
      <tr>
        <td class="text-left">保証金</td>
        <td class="text-right">500円</td>
      </tr>
      <tr>
        <td class="total text-left">合計</td>
        <td class="text-right">
          <span id="reservation_total"></span>円
        </td>
      </tr>
    </tbody>
  </table>
</div>

  <br>
  <% if @listing.Instant? %>
    <%= f.submit "今すぐ予約する", id: "btn_book", class: "btn-sm  white b-red", disabled: true %>
  <% else %>
    <%= f.submit "予約をリクエストする", id: "btn_book", class: "btn-sm  white b-red", disabled: true %>
  <% end %>

  <br>
  <%= f.submit "ホストにメッセージを送る", class: "btn-sm  white b-thick-gray"  %>
<% end %>

<script type="text/javascript">

function checkDate(date){
  ymd = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate();
  return [$.inArray(ymd, unavailableDates) == -1];
}

$(document).ready(function(){

  unavailableDates = [];

  $.ajax({
    url: '<%= preload_listing_path(@listing) %>',
    dateTyp: 'json',
    success: function(data){
      $.each(data, function(arrID, arrValue){
        for(var d = new Date(arrValue.start_date); d <= new Date(arrValue.end_date); d.setDate(d.getDate()+ 1)){
         unavailableDates.push($.datepicker.formatDate("yy/m/d",d));
        }
      });

      $("#reservation_start_date").datepicker({
        dateFormat: 'yy/mm/dd',
        minDate: 0,
        maxDate: '3m',
        beforeShowDay: checkDate,
        onSelect: function(selected) {
         $('#reservation_end_date').datepicker("option", "minDate", selected);
         $('#reservation_end_date').attr("disabled", false);

         var start_date = $('#reservation_start_date').datepicker('getDate');
         var end_date = $('#reservation_end_date').datepicker('getDate');
         var days = (end_date - start_date)/1000/60/60/24 + 1;

         var input = {
           'start_date': start_date,
           'end_date': end_date
         }

         $.ajax({
           url: '<%= preview_listing_path(@listing) %>',
           data: input,
           success: function(data){

            if(data.conflict){
              $('#message').text('この期間は予約できません...');
              $('#preview').hide();
              $('#btn_book').attr('disabled', true);
            } else {
              $('#message').text('');
              $('#preview').show();
              $('#btn_book').attr('disabled', false);

              var total = days * <%= @listing.price %> + 500
              $('#reservation_days').text(days);
              $('#reservation_total').text(total);
            }

           }
         });
       }
      });

      $("#reservation_end_date").datepicker({
        dateFormat: 'yy/mm/dd',
        minDate: 0,
        maxDate: '3m',
        beforeShowDay: checkDate,
        onSelect: function(selected) {
         $('#reservation_start_date').datepicker("option", "maxDate", selected);

         var start_date = $('#reservation_start_date').datepicker('getDate');
         var end_date = $('#reservation_end_date').datepicker('getDate');
         var days = (end_date - start_date)/1000/60/60/24 + 1;

         var input = {
           'start_date': start_date,
           'end_date': end_date
         }

         $.ajax({
           url: '<%= preview_listing_path(@listing) %>',
           data: input,
           success: function(data){

            if(data.conflict){
              $('#message').text('この期間は予約できません...');
              $('#preview').hide();
              $('#btn_book').attr('disabled', true);
            } else {
              $('#message').text('');
              $('#preview').show();
              $('#btn_book').attr('disabled', false);

              var total = days * <%= @listing.price %> + 500
              $('#reservation_days').text(days);
              $('#reservation_total').text(total);
            }

           }
         });
       }
      });
    }
  });

});
</script>
