



 <%= form_for([@listing, @listing.reservations.new]) do |f| %>

   <div class="reservation-form">

    <div class="row date-form">
     <ul class="">
       <li class="col-md-6 col-sm-6 col-xs-6">

         <%= f.text_field :start_date, readonly: true, placeholder: "利用開始日", class: 'form-control datepicker' %>
       </li>
       <li class="col-md-6 col-sm-6 col-xs-6">
         <%= f.text_field :end_date, readonly: true, placeholder: "利用終了日", class: 'form-control datepicker', disabled: true %>
       </li>
     </ul>
    </div>

    <h5><span id="message" class="message-alert"></span></h5>

    <div id="preview" style="display: none">
     <table class="reservation-table">
      <tbody>
       <tr>
         <td class="text-left">レンタル価格</td>
         <td class="text-right"><%= @listing.price_day %>円</td>
       </tr>
       <tr>
         <td class="text-left">
           サポーター費&nbsp;
           <span>
             <a href="#" class="text-gray" data-toggle="modal" data-target="#info-supporter">
               <i class="fa fa-info-circle"></i>
             </a>
           </span>

           <!-- MODAL FOR PHONE NUMBER -->
           <div id="info-supporter" class="modal fade text-center" role="dialog">
             <div class="modal-dialog">
               <div class="modal-content">

                 <div class="modal-header">
                   <button class="close" data-dismiss="modal">&times;</button>
                   <h4 class="modal-title">サポーター費について</h4>
                 </div>

                 <div class="modal-body">
                    <div class="form-group">
                      一度の取引において、1日あたりレンタル価格の10%をサポーター費として頂いております。サポーター費はサービスの運営や環境保護団体への寄付に使わせて頂きます(詳細は<%= link_to "こちら", pages_guide_path %>)
                    </div>
                 </div>

               </div>
             </div>
           </div>

         </td>
         <td class="text-right"><%= @listing.price_day * 0.10 %>円</td>
       </tr>
       <tr>
         <td class="text-left">日数</td>
         <td class="text-right">
           ✕&nbsp;<span id="reservation_days"></span>日間
         </td>
       </tr>

       <tr>
         <td class="total text-left">合計</td>
         <td class="text-right">
           <span id="reservation_total"></span>円
         </td>
       </tr>
      </tbody>
     </table>
    </div>
   </div>


   <% if @listing.Instant? %>
     <%= f.submit "今すぐ予約する", id: "btn_book", class: "btn-sm  white b-red", disabled: true %>
   <% else %>
     <%= f.submit "予約をリクエストする", id: "btn_book", class: "btn-sm  white b-red", disabled: true %>
   <% end %>

 <% end %>



   <% if current_user && current_user != @listing.user %>
    <%= link_to "ホストにメッセージを送る", conversations_path(sender_id: current_user.id, recipient_id: @listing.user.id), method: :post, class: "btn-sm  white b-blue" %>
   <% end %>


   <script type="text/javascript">

function checkDate(date){
  ymd = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate();
  return [$.inArray(ymd, unavailableDates) == -1];
}

$(document).ready(function(){


  unavailableDates = [];

  $.ajax({
    url: '<%= preload_listing_path(@listing) %>',
    dateTyp: 'json',
    success: function(data){
      $.each(data, function(arrID, arrValue){
        for(var d = new Date(arrValue.start_date); d <= new Date(arrValue.end_date); d.setDate(d.getDate()+ 1)){
         unavailableDates.push($.datepicker.formatDate("yy/m/d",d));
        }
      });

      $(document).on('click','#reservation_start_date', function(){
        $(this).datepicker({
          dateFormat: 'yy/mm/dd',
          minDate: 0,
          maxDate: '3m',
          beforeShowDay: checkDate,

          onSelect: function(selected) {
           $('#reservation_end_date').datepicker("option", "minDate", selected);
           $('#reservation_end_date').attr("disabled", false);

           var start_date = $('#reservation_start_date').datepicker('getDate');
           var end_date = $('#reservation_end_date').datepicker('getDate');
           var days = (end_date - start_date)/1000/60/60/24 + 1;

           var input = {
             'start_date': start_date,
             'end_date': end_date
           }

           $.ajax({
             url: '<%= preview_listing_path(@listing) %>',
             data: input,
             success: function(data){

              if(data.conflict){
                $('#message').text('この期間は予約できません...');
                $('#preview').hide();
                $('#btn_book').attr('disabled', true);
              } else {
                $('#message').text('');
                $('#preview').show();
                $('#btn_book').attr('disabled', false);

                var total = days * ( <%= @listing.price_day %> +  <%= @listing.price_day * 0.10 %> )
                $('#reservation_days').text(days);
                $('#reservation_total').text(total);
              }

             }
           });

         }
        });
        $(this).datepicker('show')
      })




      $(document).on('click','#reservation_end_date', function(){
        $(this).datepicker({
          dateFormat: 'yy/mm/dd',
          minDate: 0,
          maxDate: '3m',
          beforeShowDay: checkDate,
          onSelect: function(selected) {
           $('#reservation_start_date').datepicker("option", "maxDate", selected);

           var start_date = $('#reservation_start_date').datepicker('getDate');
           var end_date = $('#reservation_end_date').datepicker('getDate');
           var days = (end_date - start_date)/1000/60/60/24 + 1;

           var input = {
             'start_date': start_date,
             'end_date': end_date
           }

           $.ajax({
             url: '<%= preview_listing_path(@listing) %>',
             data: input,
             success: function(data){

              if(data.conflict){
                $('#message').text('この期間は予約できません...');
                $('#preview').hide();
                $('#btn_book').attr('disabled', true);
              } else {
                $('#message').text('');
                $('#preview').show();
                $('#btn_book').attr('disabled', false);

                var total = days * ( <%= @listing.price_day %> +  <%= @listing.price_day * 0.10 %> )
                $('#reservation_days').text(days);
                $('#reservation_total').text(total);
              }

             }
           });


         }
        });
        $(this).datepicker('show')
      })



    }
  });

});


</script>
