<!-- ホストとしての貸出し販売履歴 -->
<div class="dashboard-link">
  <ul class="">
    <li class=""><%= link_to "出品アイテム管理", listings_path %></li>
    <li class="active"><%= link_to "貸出し販売履歴", guest_reservations_path %></li>
    <li class=""><%= link_to "レンタル購入履歴", my_reservations_path  %></li>
  </ul>
</div>

<div class="row guest-reservation">
  <div class="col-md-8 col-md-offset-2">
    <div class="">
      <h3 class="">貸出し販売履歴</h3>
      <div class="">
        <% if @listings.count == 0 %>
         <p>まだ貸出し販売履歴がありません</p><br/>
         <%= link_to "出品する", new_listing_path, class: "btn btn-form" %>

        <% else %>

         <% @listings.each do |listing| %>
          <% listing.reservations.each do |reservation| %>
          <div class="box">
            <p class="">
              <%= reservation.start_date.strftime('%Y年%m月%d日') %>&nbsp;

              <% if reservation.Waiting? %>
                <span class="status b-red">返答待ち</span>&nbsp;
                  <%= link_to approve_reservation_path(reservation), method: :post do %><span class="red"><i class="fa fa-thumbs-up fa-lg"></i></span><% end %> |
                  <%= link_to decline_reservation_path(reservation), method: :post do %><span class="red"><i class="fa fa-thumbs-down fa-lg"></i></span><% end %>
               <% elsif reservation.Approved? %>
                 <span class="status b-orange">予約成立!</span>
               <% else reservation.Declined? %>
                 <span class="status b-thick-gray">不成立</span>
               <% end %>
            </p>

            <div class="bottom">
              <p>
                <%= link_to reservation.listing.listing_title, listing_path(reservation.listing) %>
              </p>
              <ul>
                <li class="">
                  <%= link_to listing_path(reservation.listing) do %>
                   <%= image_tag reservation.listing.cover_photo(:thumb) %>
                  <% end %>
                </li>

                <li class="">
                  <div class="reservation-user">
                    <p>
                       ゲスト<br>
                      <span>
                        <%= image_tag reservation.user.image, class: "img-circle avatar-small" %>

                        <%= link_to user_path(reservation.user) do %>
                         <%= reservation.user.fullname %>
                        <% end %>さん
                      </span>
                    </p>
                  </div>

                  <%= render partial: "reviews/host_form", locals: {reservation: reservation} if reservation.Approved? %>
                </li>
              </ul>

            </div>
          </div>
          <% end %>
         <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
