<!-- ゲストとしてのレンタル購入履歴 -->
<div class="">
  <ul class="">
    <li class=""><%= link_to "出品アイテム管理", listings_path %></li>
    <li class=""><%= link_to "貸出し販売履歴",  guest_reservations_path %></li>
    <li class=""><%= link_to "レンタル購入履歴", my_reservations_path , class: "active" %></li>
  </ul>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="">
      <h3 class="text-center"><b>レンタル購入履歴</b></h3>
      <div class="container text-left">
        <% @my_reservations.each do |my_reservation| %>
          <p class="">
            <%= my_reservation.start_date.strftime('%Y年%m月%d日') %>&nbsp;
            <%= my_reservation.status_i18n %>&nbsp;
          </p>
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6">
              <%= link_to listing_path(my_reservation.listing) do %>
                <%= image_tag my_reservation.listing.cover_photo(:thumb) %>
              <% end %>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-6 ">
              <%= link_to my_reservation.listing.listing_title, listing_path(my_reservation.listing) %>
              <br>
              <div class="reservation-user">
                <span>
                  <%= image_tag my_reservation.listing.user.image, class: "img-circle avatar-small" %>

                  <%= link_to user_path(my_reservation.listing.user) do %>
                      <%= my_reservation.listing.user.fullname %>
                  <% end %>
                </span>
              </div>
              <br>
              <%= render partial: "reviews/guest_form", locals: {reservation: my_reservation} if my_reservation.Approved? %>
            </div>
          </div>
          <hr/>
        <% end %>
      </div>
    </div>
  </div>
</div>
