<!-- ゲストとしてのレンタル購入履歴 -->
<div class="dashboard-link">
  <ul class="">
    <li class=""><%= link_to "出品アイテム管理", listings_path %></li>
    <li class=""><%= link_to "貸出し販売履歴",  guest_reservations_path %></li>
    <li class=""><%= link_to "レンタル購入履歴", my_reservations_path , class: "active" %></li>
  </ul>
</div>

<div class="row my-reservation">
  <div class="col-md-8 col-md-offset-2">
    <div class="">
      <h3 class="">レンタル購入履歴</h3>
      <div class="">
        <% if @my_reservations.count == 0 %>
         <p>まだレンタル購入履歴がありません...</p>

        <% else %>

         <% @my_reservations.each do |my_reservation| %>
         <div class="box">
           <p class="">
             <%= my_reservation.start_date.strftime('%Y年%m月%d日') %>&nbsp;

             <% if my_reservation.Waiting? %>
              <span class="status">返答待ち</span>
             <% elsif my_reservation.Approved? %>
              <span class="status">予約成立!</span>
             <% else my_reservation.Declined? %>
              <span class="status">不成立</span>
             <% end %>
           </p>

           <div class="bottom">
             <p>
               <%= link_to my_reservation.listing.listing_title, listing_path(my_reservation.listing) %>
             </p>
             <ul>
               <li class="">
                 <%= link_to listing_path(my_reservation.listing) do %>
                   <%= image_tag my_reservation.listing.cover_photo(:thumb) %>
                 <% end %>
               </li>
               <li class="">
                 <div class="reservation-user">
                  <p>
                   ホスト<br>
                   <span>
                     <%= image_tag my_reservation.listing.user.image, class: "img-circle avatar-small" %>

                     <%= link_to user_path(my_reservation.listing.user) do %>
                         <%= my_reservation.listing.user.fullname %>
                     <% end %>さん
                   </span>
                  </p>
                 </div>

                 <%= render partial: "reviews/guest_form", locals: {reservation: my_reservation} if my_reservation.Approved? %>
               </li>
             </ul>


           </div>
         </div>


         <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
