<!-- ホストへの予約リクエストお断り確認メール -->

<div class="">
  <div style="padding: 2px; text-align: center; background-color: #04b4e4;">
    <p style="color:  #ffffff;">
      サーフ文庫
    </p>
  </div>

  <div class="">
    <h4 style="color: #808080; ">
      ゲストからの予約リクエストをお断りしました
    </h4>
    <p>
      <b>
        <%= link_to("https://www.toollibrary.jp/listings/#{@reservation.listing.id}/reservations/#{@reservation.id}", {method: "get"}) do %>
          予約状況を確認
        <% end %>


      </b>
    </p>
    <p>
      予約リクエスト内容
    </p>
    <div class="table_container">
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <th>ゲスト</th>
              <td><%= @reservation.user.fullname %></td>

            </tr>
            <tr>
              <th>商品名</th>
              <td><%= @reservation.listing.listing_title %></td>

            </tr>
            <tr>
              <th>利用開始日</th>
              <td><%= @reservation.start_date.strftime('%Y年%m月%d日') %></td>
            </tr>
            <tr>
              <th>利用終了日</th>
              <td><%= @reservation.end_date.strftime('%Y年%m月%d日') %></td>
            </tr>


          </tbody>
        </table>
      </div>
    </div>


  </div>

  <div style="padding: 2px; text-align: center;  background-color: #04b4e4; " >
    <p style="color:  #ffffff ; " >
      Copyright(C)&nbsp;サーフ文庫&nbsp;All Rights Reserved.
    </p>

  </div>

</div>
