<!-- ゲストへの後日メール -->
<div class="">
  <div style="padding: 2px; text-align: center; background-color: #04b4e4;">
    <p style="color:  #ffffff;">
      サーフ文庫
    </p>
  </div>

  <div class="">
    <h4 style="color: #808080; ">


      <%= @reservation.user.fullname %>さん、サーフ文庫のご利用ありがとうございました!
      ホストの<%= @reservation.listing.user.fullname %>さんと楽しい時間を過ごせましたか？素敵な時間になったことを願っています。
    </h4>
    <p>
      宜しければ<%= @reservation.listing.listing_title %>へのレビューの登録をお願い致します。商品へのレビューはレンタルしたゲストのみが登録可能です。レビューが多いほうが、この商品への信頼度が高まります。
    </p>
    <p>

      <b>
        <%= link_to("https://www.toollibrary.jp/listings/#{@reservation.listing.id}/reservations/#{@reservation.id}", {method: "get"}) do %>
          レビューを書く
        <% end %>


      </b>
    </p>
    <p>
      予約内容
    </p>
    <div class="table_container">
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <th>ホスト</th>
              <td><%= @reservation.listing.user.fullname %></td>

            </tr>
            <tr>
              <th>商品名</th>
              <td><%= @reservation.listing.listing_title %></td>

            </tr>
            <tr>
              <th>利用開始日</th>
              <td><%= @reservation.start_date.strftime('%Y年%m月%d日') %></td>
            </tr>
            <tr>
              <th>利用終了日</th>
              <td><%= @reservation.end_date.strftime('%Y年%m月%d日') %></td>
            </tr>
            <tr>
              <th>ご請求金額</th>

              <td><%= @reservation.total %>円</td>
            </tr>
            <tr>
              <th>ホストの住所</th>
              <td>
                <%= @reservation.listing.user.address_zipcode %>
                <%= @reservation.listing.user.address_prefecture_name %>
                <%= @reservation.listing.user.address_city %>
                <%= @reservation.listing.user.address_street %>
                <% if @reservation.listing.user.address_building? %>
                 <%= @reservation.listing.user.address_building %>
                <% end %>
              </td>
            </tr>

            <tr>
              <th>ホストの電話番号</th>
              <td><%= @reservation.listing.user.phone_number %></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>


  </div>

  <div style="padding: 2px; text-align: center;  background-color: #04b4e4; " >
    <p style="color:  #ffffff ; " >
      Copyright(C)&nbsp;サーフ文庫&nbsp;All Rights Reserved.
    </p>

  </div>

</div>
