<div class="" id="entry">

<div class="entry-box" id="top">
  <ul>
   <li id="title" class="">
     <%= link_to "サーフ文庫", entry_path, class: "navbar-brand " %>
   </li>
   <li class="sentence font-md">
     <span class="orange">湘南</span>のサーフィンのシェアリングサービス
   </li>
   <li class="sentence font-sm">
     <span class="orange">湘南</span>のサーフィンの<br>シェアリングサービス
   </li>

   <script type="text/javascript">
     $(function(){
      var w = window.innerWidth;
      if (w > 480){

        $(".font-sm").remove();

      }
      if (w <= 480){

        $(".font-md").remove();
        $(".font-sm").append();

      }
      console.log(w);
     });
   </script>

  </ul>

</div>

<p class="animated infinite slideOutRight" id="motion">
 <span class="">🌊</span><span class="reverse" >🏄</span>
</p>

<nav class="upper">
  <div class="inform text-center">
    <p>
      7月末にサービスがオープンします<br>
      湘南と千葉でサーフボードやボード置き場を貸してくれる方を募集中
    </p>
    <p >
      7月30日まで
      <span class="">
        <%= link_to("クラウドファンディング", "https://camp-fire.jp/projects/view/82867"  ) %>
      </span>
      やっています
    </p>
  </div>
</nav>

<p class="text-center">

サーフ文庫へのお問合わせフォームです。<br>返信は通常24時間以内におこなっております。
</p>

<div class="row">
  <div class=" text-center frame">
    <div class="panel panel-default">
      <h3>確認画面</h3>


      <div class="container">

        <%= form_for @entry, :url => entry_thanks_path do |f| %>

        <table class="table table-bordered text-left">
         <tbody>
          <tr>
            <th scope="row">
              名前
            </th>
            <td colspan="3">
              <%= f.hidden_field :name %>
              <%= @entry.name %>
            </td>
          </tr>
          <tr>
            <th scope="row">
              メールアドレス
            </th>
            <td colspan="3">
              <%= f.hidden_field :email %>
              <%= @entry.email %>
            </td>
          </tr>
          <tr>
            <th scope="row">
              住所
            </th>
            <td colspan="3">
              <%= f.hidden_field :address %>
              <%= @entry.address %>
            </td>
          </tr>
          <tr>
            <th scope="row">
              電話番号
            </th>
            <td colspan="3">
              <%= f.hidden_field :phone_number %>
              <%= @entry.phone_number %>
            </td>
          </tr>
          <tr>
            <th scope="row">
              貸出し可能な商品
            </th>
            <td colspan="3">
              <%= f.hidden_field :product %>
              <%= @entry.product %>
            </td>
          </tr>
          <tr>
            <th scope="row">
              お問合わせ内容
            </th>
            <td colspan="3">
              <%= f.hidden_field :message %>
              <%= simple_format(@entry.message) %>
            </td>
          </tr>
         </tbody>
        </table>

        <div class="">
          <%= f.submit "送信する", class: "btn-xs white b-green" %>
        </div>

        <% end %>

      </div>
    </div>
  </div>
</div>

</div>
