<!-- OGP設定 -->
<meta property="og:locale" content="ja_JP" />
<meta property="og:type" content="article" />
<meta property="og:title" content="サーフボードのシェアリングサービスが7月にオープン" />
<meta property="og:description" content="サーフ文庫は全国のどこでもローカルのサーファーからサーフボードやボード置き場を直接借りることができる、サーフィンのシェアリングサービスです。" />
<meta property="og:url" content="https://www.toollibrary.jp/entry" />
<meta property="og:site_name" content="サーフ文庫" />
<meta property="article:publisher" content="https://www.facebook.com/toollibrary.jp/" />
<meta property="article:section" content="ブランディング" />


<meta property="fb:app_id" content="1995744590643273" />
<meta property="og:image" content= "https://www.toollibrary.jp/assets/facebook.jpg"/>
<meta property="og:image:secure_url" content="https://www.toollibrary.jp/assets/facebook.jpg" />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="719" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="サーフ文庫は全国のどこでもローカルのサーファーからサーフボードやボード置き場を直接借りることができる、サーフィンのシェアリングサービスです。" />
<meta name="twitter:title" content="サーフボードのシェアリングサービスが7月にオープン" />
<meta name="twitter:site" content="@0101shinji" />
<meta name="twitter:image" content= " https://www.toollibrary.jp/assets/twitter.jpg " />
<meta name="twitter:creator" content="@0101shinji" />



<div class="" id="entry">

<div class="entry-box" id="top">
  <ul>
   <li id="title" class="">
     <%= link_to "サーフ文庫", entry_path, class: "navbar-brand " %>
   </li>
   <li class="sentence font-md">
     サーフィンのシェアリングサービス
   </li>
   <li class="sentence font-sm">
     サーフィンの<br>シェアリングサービス
   </li>

   <script type="text/javascript">
     $(function(){
      var w = window.innerWidth;
      if (w > 480){

        $(".font-sm").remove();

      }
      if (w <= 480){

        $(".font-md").remove();
        $(".font-sm").append();

      }
      console.log(w);
     });
   </script>

  </ul>
  <div class="entry-case entry-button">

      <%= link_to "応募する", anchor: "entry-form"  %>


  </div>
</div>

<p class="animated infinite slideOutRight" id="motion">
 <span class="">🌊</span><span class="reverse" >🏄</span>
</p>

<nav class="upper">
  <div class="inform text-center">
    <p>
      7月にサービスがオープンします<br>
      湘南と千葉でサーフボードやボード置き場を貸してくれる方を募集中
    </p>
  </div>
</nav>

<!--イメージ写真-->
<div class="entry-image">
  <div class="image-case">
    <h2>
      <b>
        サーフボードを<br>
        貸してください!
      </b>
    </h2>
  </div>
</div>

<!--about-->
<div class="about-box">

  <p class="entry-button text-center">
    <%= link_to "応募する", anchor: "entry-form" %>
  </p>


</div>


<h3 class="text-center heading">サーフ文庫について</h3>

<div class="about-box">
  <div class="about-sentence">

    <h3 class="blue">
      サーフ文庫は全国のどこでもローカルのサーファーからサーフボードやボード置き場を直接借りることができる、サーフィンのシェアリングサービスです。
    </h3>
    <h4>
      日本は海に囲まれており、全国にサーフィンが盛んな地域があって多くのサーファーの方が住んでおり、１人あたり数枚のサーフボードを所有していますが、サーフィンをやらない時はそれらは使われていません。
    </h4>

    <div class="">
      <p class="voice">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        「家には１年以上使っていないボードがある」<br>
        「海のそばに住んでおり、自宅にはボードを置くスペースがある」<br>
        「海に行くのは週末だけ、平日はボードは使わない、そのボードを貸し出して副収入を得られたらな〜」<i class="fa fa-quote-right" aria-hidden="true"></i>
      </p>
    </div>
    <h4>
      サーフ文庫はローカルのサーファーのこのような声にお応えする、サーファーに副収入と新しい人との出会いを提供します。
    </h4>

  </div>
</div>


<!-- 取扱い商品 -->
<div class="about-box">
  <div class="box-circle">
    <div class="circle-top">取扱い商品</div>
  </div>

  <div class="about-sentence">

    <div class="">
      <img id="" class="img-responsive" src="/assets/surfboards-min.png" alt="" width="" height="" />
    </div>

    <div class="table_container">

      <div class="table-responsive scroll-box">
        <table class="table">
          <tbody>
            <tr>
              <th>商品</th>
              <th>報酬例</th>

            </tr>
            <tr>
              <td>
                <b>サーフボード</b>
              </td>
              <td class="red"><b>￥1,000~5,000(1⽇)</b></td>

            </tr>
            <tr>
              <td>
                <b>SUPボード</b>
              </td>
              <td class="red"><b>￥3,000~5,000(1⽇)</b></td>

            </tr>
            <tr>
              <td>
                <b>ボード置き場</b>
              </td>
              <td class="red"><b>￥3,000~(1ヶ⽉)</b></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>
</div>

<!--特徴-->
<div class="about-box">
  <div class="box-circle">
    <div class="circle-top">特徴</div>
  </div>

  <div class="about-sentence">
    <h3 class="text-center">サーフ文庫の3つの特徴</h3>

    <div class="case">
      <h3 class="text-center">検索</h3>

      <div class="">
        <img id="" class="img-responsive" src="/assets/search-image-min.png" alt="" width="" height="" />
      </div>
      <p>
        全国のサーフスポットから近くのボードとボード置き場を検索でき、ファンボード、ロングボード、ショートボードなどの種類からの検索にも対応
      </p>

    </div>

    <div class="case">
      <h3 class="text-center">チャット</h3>

      <div class="">
        <img id="" class="img-responsive" src="/assets/chat-image-min.png" alt="" width="" height="" />
      </div>
      <p>
        予約リクエストを送ってきたゲストとはチャットで直接やり取り。貸出し場所や時間をゲストと相談して決めることができます。
      <p>

    </div>

    <div class="case">
      <h3 class="text-center">補償</h3>
      <p>
        商品を貸出し中に発生した破損や盗難に関しては<span>全額</span>補償されます。また保障費は購入時期と購入価格やブランド、中古市場価格を基に算出され、その上限は以下のとおりです。

      </p>
      <div class="table_container">
        <h4 class="text-center"><b>補償費の上限</b></h4>
        <div class="table-responsive scroll-box">
          <table class="table">
            <tbody>
              <tr>
                <th></th>
                <th>購入時期</th>
                <th>全損と盗難の補償上限</th>
                <th>修理の補償上限</th>

              </tr>
              <tr>
                <td>サーフボード,SUPボード</td>
                <td>1年以内</td>
                <td>購入価格&nbsp;×&nbsp;0.6</td>
                <td>15,000円</td>

              </tr>
              <tr>
                <td>サーフボード,SUPボード</td>
                <td>1年以上2年以内</td>
                <td>購入価格&nbsp;×&nbsp;0.5</td>
                <td>15,000円</td>
              </tr>
              <tr>
                <td>サーフボード,SUPボード</td>
                <td>2年以上3年以内</td>
                <td>購入価格&nbsp;×&nbsp;0.4</td>
                <td>10,000円</td>
              </tr>
              <tr>
                <td>サーフボード,SUPボード</td>
                <td>3年以上</td>

                <td>購入価格&nbsp;×&nbsp;0.3</td>
                <td>10,000円</td>
              </tr>
              <tr>
                <td>リシューコード</td>
                <td></td>

                <td>2,000円</td>
                <td></td>
              </tr>
              <tr>
                <td>ウェットスーツ</td>
                <td></td>
                <td></td>
                <td>5,000円</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="row">
  <div class="text-center frame">
    <div class="panel panel-default" id="entry-form">
      <h3><b>応募する</b></h3>

      <div class="container">

        <%= form_for @entry, :url => entry_confirm_path do |f| %>

        <% if @entry.errors.any? %>
         <div class="alert alert-danger" role="alert">
          <strong>入力内容にエラーがあります</strong>
           <ul>
             <% @entry.errors.each do |attr, msg| %>
              <li><%= msg %></li>
             <% end %>
           </ul>
         </div>
        <% end %>

        <div class="form_box">
          <p>名前&nbsp;<span class="essential">(必須項目)</span></p>
          <div class="form-group">
            <%= f.text_field :name, placeholder: "湘南太郎", class: "form-control" %>
          </div>
        </div>

        <div class="form_box">
          <p>メールアドレス&nbsp;<span class="essential">(必須項目)</span></p>
          <div class="form-group">
            <%= f.email_field :email, placeholder: "sample@gmail.com", class: "form-control" %>
          </div>
        </div>

        <div class="form_box">
          <p>住所</p>
          <div class="form-group">
            <%= f.text_field :address, placeholder: "神奈川県藤沢市辻堂1-1-1", class: "form-control" %>
          </div>
        </div>

        <div class="form_box">
          <p>電話番号</p>
          <div class="form-group">
            <%= f.text_field :phone_number, placeholder: "08012345678", class: "form-control" %>
          </div>
        </div>

        <div class="form_box">
          <p>貸出し可能な商品</p>
          <div class="form-group">
            <%= f.text_field :product, placeholder: "例:キャッチサーフのファンボード、ボード置き場", class: "form-control" %>
          </div>
        </div>

        <div class="form_box inquiry-text">
          <p>その他&nbsp;自由記入欄</p>
          <div class="form-group">
            <%= f.text_area :message, class: "form-control" %>
          </div>
        </div>


        <div class="actions">
          <%= f.submit "確認する", class: "btn btn-form" %>
        </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<h3 class="text-center heading">サーフ文庫で実現したいこと</h3>

<!--about-->
<div class="about-box" id="vision">

  <h3 class="blue text-center">サーフィンが好きな人が気軽につながることができる世界を作りたい</h3>

  <div class="about-sentence inform">
    <p>
      僕がサーフ文庫のアイデアを思いついたのは、湘南の藤沢市に引越してきた1年前の2017年春。
    </p>
    <p>
      もともと自然の中で過ごすことが好きで、海に近い住環境に憧れてここを選んだのですが、実際に住み始めると、想像以上に海が近くにある環境に驚き、未経験のサーフィンを始めたくなりました。
    </p>
    <p>
      そして近所に「サーフボードを貸してください」と書いたチラシを配り、個人の方からボードを借りようと試みたのです。
    </p>
    <p>
      なぜそんなことをしたのか?
    </p>
    <p>
      普通に考えれば新しくボードを購入するか、サーフショップからレンタルすると思います。
    </p>
    <p>
      しかし僕にはどうしても個人の方から借りたいという気持ちがありました。
    </p>
    <p>
      1つ目の理由として継続できるかどうか分からない段階で、いきなり購入することが不安でしたし、住んでいるアパートが狭いので買っても置き場所に困りという理由。
    </p>
    <p>
      もう１つは海外旅行でAirbnb(エアビーエヌビー)という民泊サービスを利用し、現地の住人との交流を楽しんだことから、ローカルのサーファーから直接借りたほうが満足度が高いのではという思いがありました。
    </p>
    <p>
      その後、チラシを見たローカルのサーファーから連絡をもらい、ボードを借りて一緒に海に入りましたが、やっぱり楽しかった!
    </p>
    <p>
      そもそもサーファーは人柄が良い人が多く、お喋りを楽しみ、自然の中で同じ時間を共有することは最高に気持ちいい。
    </p>
    <p class="blue">
      「この心地よい体験をもっと気軽に日本中のサーフスポットでできたら、そして日本中のローカルのサーファーとの出会いを楽しめたら」
    </p>
    <p>
      もしそんな世界が実現したらと想像するとワクワクしますし、人生がそんな時間で満たされたら幸せ。
    </p>
    <p>
      こんな思いでサーフィンのシェアリングサービス「サーフ文庫」を作ることに決めました。
    </p>

  </div>
</div>


<div class="about-box" id="shinji">
  <div class="shinji-circle">
    <h3>運営者</h3>
    <div class="shinji-logo"><!--写真なのでclass="about_logo"を使わない-->
      <img class="alignnone shinji_photo" src="/assets/shinji.jpg" alt="" width="300" height="300" />
    </div>
    <h4>
      <span id="shinji_name">川端伸治</span>
      <a href="https://twitter.com/0101shinji">

        <svg
        id="shinji_twitter"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 350 300">
        <path
        class="fill"
        d="M350.001,35.509 C346.026,42.167 340.649,49.197 333.870,56.595 C328.493,62.513 321.944,68.556 314.231,74.720 C314.231,74.720 314.231,76.940 314.231,76.940 C314.231,76.940 314.231,79.530 314.231,79.530 C314.231,80.762 314.346,81.626 314.579,82.119 C314.579,82.119 314.579,84.708 314.579,84.708 C314.579,110.109 310.022,135.572 300.903,161.097 C291.785,186.620 278.809,209.494 261.975,229.715 C243.971,251.417 222.113,268.556 196.394,281.134 C170.674,293.711 141.917,299.999 110.122,299.999 C89.546,299.999 70.142,297.041 51.904,291.122 C33.201,285.202 15.899,276.818 -0.001,265.967 C0.936,266.214 2.337,266.338 4.208,266.338 C7.948,266.831 10.755,267.077 12.626,267.077 C12.626,267.077 17.183,267.077 17.183,267.077 C33.550,267.077 49.567,264.242 65.231,258.569 C79.727,253.144 93.403,245.253 106.263,234.895 C91.300,234.649 77.387,229.469 64.531,219.357 C51.904,209.494 43.486,197.040 39.279,181.997 C42.786,182.737 45.007,183.105 45.943,183.105 C45.943,183.105 49.447,183.105 49.447,183.105 C50.151,183.352 51.202,183.476 52.605,183.476 C54.708,183.476 56.346,183.352 57.516,183.105 C59.853,183.105 63.128,182.612 67.335,181.626 C67.801,181.626 68.505,181.502 69.439,181.256 C70.376,181.009 71.075,180.887 71.542,180.887 C54.941,177.434 41.265,168.679 30.509,154.622 C19.520,140.565 14.029,124.536 14.029,106.534 C14.029,106.534 14.029,106.163 14.029,106.163 C14.029,106.163 14.029,105.794 14.029,105.794 C14.029,105.794 14.029,105.424 14.029,105.424 C18.471,108.383 23.615,110.603 29.460,112.082 C35.538,114.054 41.265,115.042 46.644,115.042 C36.354,107.644 28.640,98.642 23.497,88.038 C17.651,77.187 14.729,65.102 14.729,51.786 C14.729,44.388 15.546,37.729 17.183,31.810 C18.120,27.617 20.457,21.576 24.198,13.685 C42.435,37.358 64.177,55.854 89.429,69.172 C115.382,83.475 142.969,91.366 172.195,92.847 C171.494,87.667 171.145,84.832 171.145,84.339 C170.674,80.886 170.441,78.051 170.441,75.830 C170.441,54.868 177.456,36.989 191.483,22.193 C205.512,7.396 222.462,-0.002 242.337,-0.002 C252.623,-0.002 262.325,2.094 271.444,6.286 C280.562,10.971 288.394,16.891 294.942,24.042 C302.423,22.315 310.372,19.850 318.788,16.644 C325.803,13.931 333.051,10.232 340.532,5.547 C337.729,14.424 333.634,22.439 328.260,29.591 C322.179,36.989 315.751,42.907 308.969,47.347 C315.984,46.113 322.999,44.634 330.010,42.907 C335.388,41.428 342.052,38.961 350.001,35.509 Z"/>
        </svg>
      </a>
    </h4>
  </div><!--// div class="shinji-circle"-->
  <div class="about-sentence">
    <p>
      湘南のWEB企業で働くエンジニア(Ruby,RubyonRails)<br>
      2017年の春から藤沢市在住で、サーフィンのシェアリングサービスを思いつき2018年夏から運営予定(これまでの経緯は<%= link_to("こちら", "http://blog.toollibrary.jp/" , class: "gray" )%>のブログに掲載)

    </p>
    <p>
      <%= link_to("第18回湘南ビジネスコンテスト", "http://www.s-cns.com/contest/contest2017.html", class: "gray")%>で来場者賞受賞
    </p>
    <p>
      サーフィン歴は1年、ホームポイントは「鵠沼銅像前」「引地川河口」。<br>
      Mail&nbsp;:&nbsp;s-kawabata[at]digisurf.co.jp&nbsp;[at]を@に変更してください<br>
      趣味:ジョギング、海外旅行
    </p>
    <p>
      「海外で使ったAirbnb(エアビーエヌビー)というシェアリングサービスがすごく楽しく、個人間の取引にハマりました。人との出逢いこそが人生を豊かにすると思っており、そのきっかけを作るサービスを作りたいです」
    </p>
  </div>

</div>

  <p class="entry-button text-center">
    <%= link_to "応募する", anchor: "entry-form" %>
  </p>

  <div class="social_logo">

      <a href="https://www.facebook.com/toollibrary.jp/">
         <svg
         id="footer_facebook"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 0 300 300">
          <path class="fill" d="M283.000,-0.000 C283.000,-0.000 17.000,-0.000 17.000,-0.000 C7.853,-0.000 -0.000,7.854 -0.000,17.000 C-0.000,17.000 -0.000,283.000 -0.000,283.000 C-0.000,292.144 7.853,300.000 17.000,300.000 C17.000,300.000 161.000,300.000 161.000,300.000 C161.000,300.000 161.000,183.000 161.000,183.000 C161.000,183.000 121.000,183.000 121.000,183.000 C121.000,183.000 121.000,139.000 121.000,139.000 C121.000,139.000 161.000,139.000 161.000,139.000 C161.000,139.000 161.000,105.000 161.000,105.000 C161.000,66.251 183.432,45.000 218.000,45.000 C234.558,45.000 249.852,46.449 254.000,47.000 C254.000,47.000 254.000,88.000 254.000,88.000 C254.000,88.000 229.000,88.000 229.000,88.000 C210.201,88.000 207.000,96.891 207.000,110.000 C207.000,110.000 207.000,139.000 207.000,139.000 C207.000,139.000 252.000,139.000 252.000,139.000 C252.000,139.000 246.000,183.000 246.000,183.000 C246.000,183.000 207.000,183.000 207.000,183.000 C207.000,183.000 207.000,300.000
          207.000,300.000 C207.000,300.000 283.000,300.000 283.000,300.000 C292.144,300.000 300.000,292.144 300.000,283.000 C300.000,283.000 300.000,17.000 300.000,17.000 C300.000,7.854 292.144,-0.000 283.000,-0.000 Z"/>
        </svg>
      </a>

  </div>

  <p class="animated infinite slideOutRight" id="motion">
   <span class="">🌊</span><span class="reverse" >🏄</span>
  </p>

  <nav class="lower">
    <div class="inform text-center">
      <p>
        <%= link_to "トップへ戻る", anchor: "top" %>
      </p>
    </div>
  </nav>

</div>


<script>
  $(".qanda").click(function(){
    var $answer=$(this).find(".qanda-list");
    if ($answer.hasClass("open")) {
      $answer.removeClass("open");
      $answer.slideUp();
      $(this).find(".sign").text("+");
    }else{
      $answer.addClass("open");
      $answer.slideDown();
      $(this).find(".sign").text("-");
    }
  });

</script>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


<!-- Channel Plugin Scripts -->
<script>
  ;window.channelPluginSettings = {
    "pluginKey": "834b2b9d-3f8f-49dc-8ce2-70209e933f7a"
  };
  (function() {
    var w = window;
    if (w.ChannelIO) {
      return (window.console.error || window.console.log || function(){})('ChannelIO script included twice.');
    }
    var d = window.document;
    var ch = function() {
      ch.c(arguments);
    };
    ch.q = [];
    ch.c = function(args) {
      ch.q.push(args);
    };
    w.ChannelIO = ch;
    function l() {
      if (w.ChannelIOInitialized) {
        return;
      }
      w.ChannelIOInitialized = true;
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
      s.charset = 'UTF-8';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
    if (document.readyState === 'complete') {
      l();
    } else if (window.attachEvent) {
      window.attachEvent('onload', l);
    } else {
      window.addEventListener('DOMContentLoaded', l, false);
      window.addEventListener('load', l, false);
    }
  })();
</script>
<!-- End Channel Plugin -->
