<div class="" id="entry">

<div class="entry-box">
  <ul>
   <li id="title" class="">
     <%= link_to "サーフ文庫", entry_path, class: "navbar-brand " %>
   </li>
   <li class="sentence font-md">
     サーフィンのシェアリングサービス
   </li>
   <li class="sentence font-sm">
     サーフィンの<br>シェアリングサービス
   </li>

   <script type="text/javascript">
     $(function(){
      var w = window.innerWidth;
      if (w > 480){

        $(".font-sm").remove();

      }
      if (w <= 480){

        $(".font-md").remove();
        $(".font-sm").append();

      }
      console.log(w);
     });
   </script>

  </ul>
  <div class="entry-case">

      <%= link_to "応募する", anchor: "entry-form"  %>


  </div>
</div>

<p class="animated infinite slideOutLeft" id="motion">
 <span class="">🌊🏄</span>
</p>

<nav class="">
  <div class="message text-center">
    <p>
      7月にサービスがオープンします<br>
      湘南と千葉でサーフボードやボード置き場を貸してくれる方を募集中
    </p>
  </div>
</nav>

<!--about-->
<div class="about-box">

  <!--イメージ写真-->
  <div class="image-box">
    <div class="image-case">
      <h2>
        <b>
          サーフボードを<br>
          貸してください!
        </b>
      </h2>
    </div>
  </div>

  <div class="table_container">
    <h4><b>報酬例</b></h4>
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <th>商品</th>
            <th>報酬</th>

          </tr>
          <tr>
            <td>
              サーフボード<br>
              (ショート,ファン,ロングなど)
            </td>
            <td class="red"><b>￥1,000~5,000(1⽇)</b></td>

          </tr>
          <tr>
            <td>
              SUPボード<br>
              (オールラウンド,フィッシングなど)
            </td>
            <td class="red"><b>￥3,000~5,000(1⽇)</b></td>

          </tr>
          <tr>
            <td>ボード置き場</td>
            <td class="red"><b>￥3,000~(1ヶ⽉)</b></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="box-circle">
    <div class="circle-top">About</div>
  </div>

  <h3 class="text-center">サーフ文庫について</h3>

  <div class="about-sentence">

    <h3><span class="blue">サーフ文庫</span>は全国のどこでもローカルのサーファーからサーフボードやボード置き場を借りれる、日本初のサーフィンのシェアリングサービスです。</h3>
    <p>日本は海に囲まれており、全国にサーフィンが盛んな地域(メッカ)があり、そしてそこにはたくさんのサーファー(プレイヤー)がいます。</p>
    <p>メッカに在住するプレイヤー個人から直接サーフボードを借りたり、サーフガイドを受けることができ、今までにない新しい出逢いを提供します!</p>



    <p>海に入るときだけ借りることも、借りっぱなしもどちらもOK</p>
    <p>全国のサーフスポットで地元のサーファーから直接サーフボードやSUPボード、ボード置き場を借りることができ、ローカルの波にあったボードが揃っています</p>



  </div>
</div>

<!--特徴-->
<div class="about-box">
  <div class="box-circle">
    <div class="circle-top">特徴</div>
  </div>

  <div class="about-sentence">
    <h3 class="text-center">サーフ文庫の5つの特徴</h3>
    <div class="case">
      <h4><b>認証</b></h4>
      <p>
        サーフ文庫を利用できるのはFacebook、電話番号、身分証で身分が確認できた人だけです<br>
        そして実名制とすることで「誰が貸しているの？誰が借りるの？相手は信用できる人なの？」という不安を取り除いています。<br>
        またユーザーの顔写真や名前を見ることができるのは登録ユーザーのみとすることで安心して利用できる仕様になっています(※一般の人には顔写真や名前は公開されません)
      </p>
      <div class="">
        <img id="" class="img-responsive" src="/assets/show-comparison.jpg" alt="" width="" height="" />
      </div>
    </div>

    <div class="case">
      <h4><b>安心決済</b></h4>
      <p>
        個人間のレンタルはトラブルが付き物です。「レンタル代金を支払ったのにホスト(貸し手)と連絡がつかない!取引き当日にゲスト(借り手)が現れなかった!」という事がないよう、サーフ文庫では決済をクレジットカードに限定し、取引きが無事完了した場合のみに引き起こしがおこなわれます。
      </p>
    </div>

    <div class="case">
      <h4><b>補償</b></h4>
      <p>
        万が一ボードをレンタル中に破損が発生した場合には「サーフ文庫」が間に入って対応し、ホスト(貸し手)向けには修理費用の全額を補償します。(詳しくは<%= link_to "こちら", pages_guide_path %>をご覧ください。)
      <p>
    </div>
    <div class="case">
      <h4><b>評価制度</b></h4>
      <p>
        ホスト(貸し手)、ゲスト(借り手)に対して取引後に必ず相互評価を行なっていただいているので、ホストとゲストが過去にどのような取引をおこなったのかを知る事ができます。<br>
        サーフ文庫で何度も取引いただく事によって、信頼度が増す仕組みとなっています。
      </p>
    </div>
    <div class="case">
      <h4><b>安心サポート</b></h4>
      <p>
        レンタルした商品が掲載されていた商品と状態が大幅に違う、壊れていた、レンタル中に壊れたなど、取引時のトラブルは最後まで必ずサポートし、解決します。<br>
        また、予約前のわからない事の質問や相談、サービスに対する要望なども受け付けております。サーフ文庫の<%= link_to "お問い合わせフォーム", inquiry_path %>からお問い合わせください。24時間以内に対応させていただきます。
      </p>
    </div>

  </div>
</div>

<h3 class="text-center">取引きの仕組み</h3>


<!--仕組み-->
<div class="about-box">
  <div class="box-circle">
    <div class="circle-top">仕組み</div>
  </div>

  <div class="about-sentence">
    <div class="">
      <img id="" class="img-responsive" src="/assets/rental-min.jpg" alt="" width="" height="" />
    </div>


  </div>
</div>

<div class="about-box">
  <div class="box-circle">
    <div class="circle-top">取扱い商品</div>
  </div>

  <div class="about-sentence">
    <table class="table table-bordered">
     <tbody>
      <tr>
        <th scope="row">
          サーフボード
        </th>
        <td colspan="3">
          ショートボード<br>
          ファンボード<br>
          ロングボード
        </td>
      </tr>
      <tr>
        <th scope="row">
          SUPボード
        </th>
        <td colspan="3">
          サーフ<br>
          オールラウンド<br>
          フィッシング<br>
          クルージング
        </td>
      </tr>
      <tr>
        <th scope="row">
          その他
        </th>
        <td colspan="3">
          ボード置き場<br>

        </td>
      </tr>

     </tbody>
    </table>


  </div>
</div>

<div class="about-box">
  <div class="box-circle">
    <div class="circle-top ">サポーター費</div>
  </div>
  <div class="about-sentence">
    <p>
      一度の取引において、ホスト(貸し手)とゲスト(借り手)の双方から、1日あたりレンタル価格の10%をサポーター費として頂いております。
    </p>

    <p>
      サポーター費は3ヶ月スパンで積み立てし、サーフ文庫の運営費やこの期間中の取引きで発生した破損への修理費用などに当てられます。そして使われなかったサポーター費は3ヶ月ごとに精算し、環境保護団体などへ寄付されます。(返金はされません)
    </p>
    <p>
      またサポーター費の積み立てや寄付の状況は<%= link_to "こちら", pages_guide_path %>のページで公開しています。
    </p>
    <div class="table_container">
      <h4><b>費用</b></h4>
      <h4>例&nbsp;:&nbsp;1日3,000円でレンタルされた場合</h4>
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <th></th>
              <th>登録料</th>
              <th>利用料</th>
              <th>レンタル代</th>
              <th>サポーター費</th>
              <th>トータル</th>
            </tr>
            <tr>
              <td>ゲスト(借り手)</td>
              <td>無料</td>
              <td>無料</td>
              <td>3,000円</td>
              <td>300円</td>
              <td><b>3,300円(3,000円＋300円)の支払い</b></td>
            </tr>
            <tr>
              <td>ホスト(貸し手)</td>
              <td>無料</td>
              <td>無料</td>
              <td>3,000円</td>
              <td>300円</td>
              <td><b>2,700円(3,000円-300円)の収入</b></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<div class="about-box">
  <div class="box-circle">
    <div class="circle-top ">ホストへの補償</div>
  </div>
  <div class="about-sentence">

    <p>
      ホストが商品を貸出し中に発生した破損や盗難に関しては<span>全額</span>補償されます。また保障費は購入時期と購入価格やブランド、中古市場価格を基に算出され、その上限は以下のとおりです。
    </p>

    <div class="table_container">
      <h4><b>補償費の上限</b></h4>
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <th></th>
              <th>購入時期</th>
              <th>全損と盗難の補償上限</th>
              <th>修理の補償上限</th>

            </tr>
            <tr>
              <td>サーフボード,SUPボード</td>
              <td>1年以内</td>
              <td>購入価格&nbsp;×&nbsp;0.6</td>
              <td>15,000円</td>

            </tr>
            <tr>
              <td>サーフボード,SUPボード</td>
              <td>1年以上2年以内</td>
              <td>購入価格&nbsp;×&nbsp;0.5</td>
              <td>15,000円</td>
            </tr>
            <tr>
              <td>サーフボード,SUPボード</td>
              <td>2年以上3年以内</td>
              <td>購入価格&nbsp;×&nbsp;0.4</td>
              <td>10,000円</td>
            </tr>
            <tr>
              <td>サーフボード,SUPボード</td>
              <td>3年以上</td>

              <td>購入価格&nbsp;×&nbsp;0.3</td>
              <td>10,000円</td>
            </tr>
            <tr>
              <td>リシューコード</td>
              <td></td>

              <td>2,000円</td>
              <td></td>
            </tr>
            <tr>
              <td>ウェットスーツ</td>
              <td></td>
              <td></td>
              <td>5,000円</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class=" text-center">
    <div class="panel panel-default" id="entry-form">
      <h3>登録•お問合わせ</h3>

      <div class="container">

        <%= form_for @entry, :url => entry_confirm_path do |f| %>

        <% if @entry.errors.any? %>
         <div class="alert alert-danger" role="alert">
          <strong>入力内容にエラーがあります</strong>
           <ul>
             <% @entry.errors.each do |attr, msg| %>
              <li><%= msg %></li>
             <% end %>
           </ul>
         </div>
        <% end %>



        <div class="form_box">
          <p>名前&nbsp;<span class="essential">(必須項目)</span></p>
          <div class="form-group">
            <%= f.text_field :name, autofocus: true, placeholder: "湘南太郎", class: "form-control" %>
          </div>
        </div>

        <div class="form_box">
          <p>メールアドレス&nbsp;<span class="essential">(必須項目)</span></p>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, placeholder: "sample@gmail.com", class: "form-control" %>
          </div>
        </div>

        <div class="form_box">
          <p>住所</p>
          <div class="form-group">
            <%= f.text_field :address, autofocus: true, placeholder: "神奈川県藤沢市辻堂1-1-1", class: "form-control" %>
          </div>
        </div>

        <div class="form_box">
          <p>電話番号</p>
          <div class="form-group">
            <%= f.text_field :phone_number, autofocus: true, placeholder: "08012345678", class: "form-control" %>
          </div>
        </div>

        <div class="form_box">
          <p>貸出し可能な商品</p>
          <div class="form-group">
            <%= f.text_field :product, autofocus: true, placeholder: "例:キャッチサーフのファンボード、ボード置き場", class: "form-control" %>
          </div>
        </div>

        <div class="form_box inquiry-text">
          <p>お問合わせ</p>
          <div class="form-group">
            <%= f.text_area :message, autofocus: true, class: "form-control" %>
          </div>
        </div>


        <div class="actions">
          <%= f.submit "確認する", class: "btn btn-form" %>
        </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<h3 class="text-center">Q&A</h3>

<div class="qanda-container">

  <div class="qanda-case">
    <h4 class="text-center">会員登録・ログイン・退会について</h4>
    <ul class="">

      <li class="qanda">
        <div class="">
          <span class="symbol-1">Q</span>
          会員登録は無料ですか？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            会員登録やサーフボード類の登録は、無料です。<br>
            ※一度の取引において、ホスト(貸し手)とゲスト(借り手)の双方から、1日あたりレンタル価格の10%をサポーター費として頂いております。
          </p>
        </div>
      </li>


      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          メールアドレスで会員登録が出来ない
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            「このメールアドレスは登録済です」と表示される場合、ご利用のメールアドレスは、すでにサーフ文庫にご登録済となります。メールアドレスを登録されたアカウントへのログインをお願いいたします。<br>
            ※サーフ文庫は、サーファー同士の信頼関係を重視したサービスとなります。そのため、1人1アカウントの原則を掲げております。ご理解をいただけますと幸いです
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          メールが届かない
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            メールの受信設定をご確認ください。ドメイン指定または、アドレスによる指定受信設定をされている場合には、お客様のもとにメールが届きません。<br>
            サーフ文庫からお送りするメールは[info@サーフ文庫.net]となっております。お手数ではございますが、上記のメールアドレスからのメールが受信できる設定になっているか、URL付きメールを受信できる設定になっているかをご確認ください。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          ログイン出来ない
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            「メールアドレスかパスワードが違います」と表示される場合、ご入力内容にお間違いがございます。お手数ですが、ご入力内容をお確かめのうえ、再度お手続きください。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
            パスワードを忘れてしまった
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            パスワードがご不明な場合には、以下の手順で再設定が可能となっております。<br>
           【パスワードの再設定方法】<br>
            1. ログインページにて「パスワードをお忘れですか？」を選択し、該当のメールアドレス宛にパスワード再設定用のメールを送信<br>
            3. 該当のメールアドレスに届いたメール内の「パスワードを再設定」を選択し、パスワード設定ページに新規パスワードを登録
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          会員情報を変更したい
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            プロフィール情報は、ログイン後にメニューバーの「プロフィール編集」から編集することが可能です。
          </p>
        </div>
      </li>


    </ul>
  </div>

  <div class="qanda-case">
    <h4 class="text-center">取引全般について</h4>
    <ul class="">
      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          サーフボード類の受け渡しはどのように行うのですか？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            サーフボード類の受け渡しは、受け渡し時に本人確認をして頂くために、ホスト・ゲストで対面で行って頂くことを原則としております。両者にとって都合の良い場所・時間をチャット等で相談して決めて頂けたらと思います。<br>
            なお、現在サーフ文庫で登録しているホストはご自宅・最寄りのサーフスポットで受渡されているケースが多いです。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          サーフボード類の受け渡しに遅れてしまいそう
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            受け渡し時刻に間に合わない場合は、直接取引のお相手にご連絡をお願いいたします。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          相手方と連絡が取れない
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            取引のお相手とチャット経由での連絡が取れない場合、予約確定済みの取引のお相手であれば、直接お電話をお願いいたします。<br>
            ※お客様同士でのご連絡をお願いしております。サーフ文庫では連絡の代行はおこなっておりません
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          破損への補償はどうなっているの?
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            ホストが商品を貸出し中に発生した破損や盗難に関しては全額補償され、その保障費は購入時期と購入価格やブランド、中古市場価格を基に算出されます。(詳細はご利用ガイドをご覧ください)<br>
            一方ゲストが商品をレンタル中に発生した破損や盗難に関しては半額まではサーフ文庫が補償し、残りの半額はゲストに弁償する義務があります。(レンタル中に怪我した場合や他人を怪我させた場合への補償はありません。)また弁償費用はホストが商品を購入時期と購入価格やブランド、中古市場価格を基に算出されます。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          サポーター費とは?
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            サポーター費とは一度の取引において、ホスト(貸し手)とゲスト(借り手)の双方から頂いている1日あたりのレンタル価格の10%の金額です。
            サポーター費は3ヶ月スパンで積み立てし、サーフ文庫の運営費やこの期間中の取引きで発生した破損への修理費用などに当てられ、使われなかったサポーター費は3ヶ月ごとに精算し、環境保護団体などへ寄付されます。(返金はされません)
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          トラブルに備えてすべきことは？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            トラブルを起こさないために、以下の点を事前にご確認ください。<br>
            ・取引きを行う前に信頼できる相手かよく確認し、相手と情報交換をする<br>
            ・事前にトラブル発生時の責任範囲や対応について、ホスト・ゲストで相談・合意をしておく<br>
            ・ホストはゲストに貸し出す前にサーフボード類の写真をとっておき、ゲストは借りる前にキズの有無をホストと一緒に確認する <br>
            ・サーフボード類を破損、紛失した場合や事故が発生した場合は、直ちにホストに連絡する

          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          事故などのトラブルが起きてしまった
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            万が一、事故、トラブルが起きた場合は直ちにホスト・ゲストで連絡を取って下さい。また、必要がある場合には、警察にゲストからご連絡をお願い致します。問題解決に向け、サーフ文庫も法律上許される範囲内でサポートに入らせて頂きます。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          レビューを書く際の注意点
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            レビューは、サーフ文庫が重視する会員同士の信頼関係を築くうえで非常に重要となります。気持ちの良いサービス利用ができるよう、事実に基づいた誠実な記載をお願いいたします。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          直接取引・金銭の手渡しをお願いされた
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            直接での取引や金銭授受は会員規約で禁止されております。また、トラブルの原因にもなります。万が一、そのような提案をされた場合には、お手数ですが問い合わせフォームからご連絡ください。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          サーフ文庫で利用可能なクレジットカードについて
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            ゲスト登録時にご登録可能なクレジットカードについては、現在のところVISA、またはMasterCardのみとなっております。<br>
            また、ご本人様名義以外のクレジットカードのご利用はお断りしています。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          メールが届かない
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            メールの受信設定をご確認ください。ドメイン指定または、アドレスによる指定受信設定をされている場合には、お客様のもとにメールが届きません。<br>
            サーフ文庫からお送りするメールは[info@サーフ文庫.net]となっております。お手数ではございますが、上記のメールアドレスからのメールが受信できる設定になっているか、URL付きメールを受信できる設定になっているかをご確認ください。
          </p>
        </div>
      </li>

    </ul>
  </div>

  <div class="qanda-case">
    <h4 class="text-center">ゲスト登録・ゲスト利用について</h4>
    <ul class="">
      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          ゲスト登録するには？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            ゲスト登録をする際は、事前に以下の条件をご確認ください。<br>
            1.日本在住者であること<br>
            2.身分証保持者であること(運転免許証または保険証) <br>
            ※実際にサーフボード類を利用するためには、携帯電話番号の登録が必要となります<br>
            ※登録していただくクレジットカードは、登録者本人の名義である必要があります<br>

          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          電話番号認証をするのは何故ですか？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            サーフ文庫は会員相互の安全性と信頼性を重視したサービス運営をおこなっており、ご利用いただくお客様には携帯電話番号での個人認証をお願いしております。携帯電話番号のご登録は本人確認の為、サービスをご利用頂く際には必須登録項目とさせて頂いております。なにとぞご理解くださいますようお願いします。<br>
            ※携帯電話番号は、予約確定した際に、ホストに開示されます
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          SMSが届かない
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            電話番号認証にてSMSを受信できない場合には、以下についてご確認ください。<br>
           ・入力した携帯電話番号に間違いがないか(11桁のハイフン無しのみ可)<br>
           ・入力した携帯電話番号が日本のものか<br>
           ・SMSの受信設定をおこなっているか<br>
            上記をご確認いただきましてもSMSが受信できない場合、ご契約状況や受信設定の詳細について、お使いの携帯電話会社様までご確認くださいますようお願いいたします。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          引き落としはいつされますか？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>

            サーフ文庫では、レンタル利用最終日の翌日が決済日となっています。<br>
           （例：3月30日から4月2日まで利用した場合、4月3日になります）<br>
            実際の料金の引き落としについては、クレジットカード会社によって異なるため、クレジットカード会社にご確認ください。
          </p>
        </div>
      </li>

    </ul>
  </div>

  <div class="qanda-case">
    <h4 class="text-center">ホスト登録・ホスト利用について</h4>
    <ul class="">
      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          ホストになるためには？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            ホスト登録するためには、貸出し予定のサーフボード類の所有者本人であることが必要です。また、氏名・生年月日・住所・携帯電話番号等所定の事項の登録が必要となります。<br>
            ※氏名・住所・携帯番号は、予約確定したゲストにのみ表示されます

          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          サーフボード類を登録する時の注意点はありますか？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            サーフボード類の魅力がドライバーに伝わるよう、サーフボード類の写真・紹介文・価格について設定をしてみて下さい。サーフボード類の紹介文には受け渡しの日時・場所について記載するとゲストとのやり取りがスムーズになると思います。<br>
            また前提として、サーフボード類の登録時には真正な情報の入力をお願い致します。ご登録頂く各種情報はサービス上で重要なものに使われるため、間違った情報入力は思わぬトラブルを引き起こすことになります。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          電話番号認証をするのは何故ですか？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            サーフ文庫は会員相互の安全性と信頼性を重視したサービス運営をおこなっており、ご利用いただくお客様には携帯電話番号での個人認証をお願いしております。携帯電話番号のご登録は本人確認の為、サービスをご利用頂く際には必須登録項目とさせて頂いております。なにとぞご理解くださいますようお願いします。<br>
            ※携帯電話番号は、予約確定した際に、ゲストに開示されます
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          SMSが届かない
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            電話番号認証にてSMSを受信できない場合には、以下についてご確認ください。<br>
           ・入力した携帯電話番号に間違いがないか(11桁のハイフン無しのみ可)<br>
           ・入力した携帯電話番号が日本のものか<br>
           ・SMSの受信設定をおこなっているか<br>
            上記をご確認いただきましてもSMSが受信できない場合、ご契約状況や受信設定の詳細について、お使いの携帯電話会社様までご確認くださいますようお願いいたします。
          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          登録できるサーフボード類は？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            登録可能なサーフボード類の条件は以下をご確認ください。
           【登録可能なサーフボード類の条件】
            ・ホスト自身がそのサーフボード類の所有者であること

          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          料金はどうやって、いつ振り込まれますか？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            サーフ文庫からホスト(貸し手)への振込は、ご登録頂いた銀行口座へ行います。<br>
            振込タイミングは、レンタル完了日の翌日がn月の場合、n+1月 の最終営業日となります。<br>
           （例：レンタル完了日が5月10日の場合、7月の最終営業日に振込まれます。）<br>
            ただし、登録された口座情報が間違っている場合には振り込みが実施されませんので、ご注意ください。
          </p>

          </p>
        </div>
      </li>

      <li class="qanda">
        <div>
          <span class="symbol-1">Q</span>
          サーフ文庫でサーフボード類をシェアしたことによって得た収入は、所得税法上、どの所得区分になりますか？
          <span class="sign">+</span>
        </div>
        <div class="qanda-list">
          <p>
            <span class="symbol-2">A</span><br>
            サーフ文庫でのレンタル収入は、所得税法上、雑所得に区分される所得と当社は考えております。レンタル収入を雑所得以外の所得として区分する場合には、税務の専門家もしくはお近くの税務署へ相談の上、区分することをおすすめします。
          </p>

          </p>
        </div>
      </li>

    </ul>
  </div>

</div>


<div class="about-box" id="shinji">
  <div class="shinji-circle">
    <h3>運営者</h3>
    <div class="shinji-logo"><!--写真なのでclass="about_logo"を使わない-->
      <img class="alignnone shinji_photo" src="/assets/shinji.jpg" alt="" width="300" height="300" />
    </div>
    <h4>
      <a href="https://twitter.com/0101shinji">
        <span id="shinji_name">川端伸治</span>
        <svg
        id="shinji_twitter"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 350 300">
        <path
        class="fill"
        d="M350.001,35.509 C346.026,42.167 340.649,49.197 333.870,56.595 C328.493,62.513 321.944,68.556 314.231,74.720 C314.231,74.720 314.231,76.940 314.231,76.940 C314.231,76.940 314.231,79.530 314.231,79.530 C314.231,80.762 314.346,81.626 314.579,82.119 C314.579,82.119 314.579,84.708 314.579,84.708 C314.579,110.109 310.022,135.572 300.903,161.097 C291.785,186.620 278.809,209.494 261.975,229.715 C243.971,251.417 222.113,268.556 196.394,281.134 C170.674,293.711 141.917,299.999 110.122,299.999 C89.546,299.999 70.142,297.041 51.904,291.122 C33.201,285.202 15.899,276.818 -0.001,265.967 C0.936,266.214 2.337,266.338 4.208,266.338 C7.948,266.831 10.755,267.077 12.626,267.077 C12.626,267.077 17.183,267.077 17.183,267.077 C33.550,267.077 49.567,264.242 65.231,258.569 C79.727,253.144 93.403,245.253 106.263,234.895 C91.300,234.649 77.387,229.469 64.531,219.357 C51.904,209.494 43.486,197.040 39.279,181.997 C42.786,182.737 45.007,183.105 45.943,183.105 C45.943,183.105 49.447,183.105 49.447,183.105 C50.151,183.352 51.202,183.476 52.605,183.476 C54.708,183.476 56.346,183.352 57.516,183.105 C59.853,183.105 63.128,182.612 67.335,181.626 C67.801,181.626 68.505,181.502 69.439,181.256 C70.376,181.009 71.075,180.887 71.542,180.887 C54.941,177.434 41.265,168.679 30.509,154.622 C19.520,140.565 14.029,124.536 14.029,106.534 C14.029,106.534 14.029,106.163 14.029,106.163 C14.029,106.163 14.029,105.794 14.029,105.794 C14.029,105.794 14.029,105.424 14.029,105.424 C18.471,108.383 23.615,110.603 29.460,112.082 C35.538,114.054 41.265,115.042 46.644,115.042 C36.354,107.644 28.640,98.642 23.497,88.038 C17.651,77.187 14.729,65.102 14.729,51.786 C14.729,44.388 15.546,37.729 17.183,31.810 C18.120,27.617 20.457,21.576 24.198,13.685 C42.435,37.358 64.177,55.854 89.429,69.172 C115.382,83.475 142.969,91.366 172.195,92.847 C171.494,87.667 171.145,84.832 171.145,84.339 C170.674,80.886 170.441,78.051 170.441,75.830 C170.441,54.868 177.456,36.989 191.483,22.193 C205.512,7.396 222.462,-0.002 242.337,-0.002 C252.623,-0.002 262.325,2.094 271.444,6.286 C280.562,10.971 288.394,16.891 294.942,24.042 C302.423,22.315 310.372,19.850 318.788,16.644 C325.803,13.931 333.051,10.232 340.532,5.547 C337.729,14.424 333.634,22.439 328.260,29.591 C322.179,36.989 315.751,42.907 308.969,47.347 C315.984,46.113 322.999,44.634 330.010,42.907 C335.388,41.428 342.052,38.961 350.001,35.509 Z"/>
        </svg>
      </a>
    </h4>
  </div><!--// div class="shinji-circle"-->
  <div class="about-sentence">
    <p>
      湘南のWEB企業で働くエンジニア(Ruby,RubyonRails)<br>
      2017年の春から藤沢市在住で、サーフィンのシェアリングサービスを思いつき2018年夏から運営予定(これまでの経緯は<%= link_to("こちら", "http://toollibrary.jp/media/" , class: "gray" )%>のブログに掲載)<br>

    </p>
    <p>
      <%= link_to("第18回湘南ビジネスコンテスト", "http://www.s-cns.com/contest/contest2017.html", class: "gray")%>で来場者賞受賞う
    </p>
    <p>
      サーフィン歴は1年、ホームポイントは「鵠沼銅像前」「引地川河口」。<br>
      Mail&nbsp;:&nbsp;s-kawabata[at]digisurf.co.jp&nbsp;[at]を@に変更してください<br>
      趣味:ジョギング、海外旅行
    </p>
    <p>
      「アフリカで使ったAirbnb(エアビーエヌビー)がとてつもなく楽しく、個人間の取引にハマりました。人との出逢いこそが人生を豊かにすると思っており、そのきっかけを作るサービスを作りたいです!」
    </p>
  </div>

</div>

</div>


<script>
  $(".qanda").click(function(){
    var $answer=$(this).find(".qanda-list");
    if ($answer.hasClass("open")) {
      $answer.removeClass("open");
      $answer.slideUp();
      $(this).find(".sign").text("+");
    }else{
      $answer.addClass("open");
      $answer.slideDown();
      $(this).find(".sign").text("-");
    }
  });

</script>
